<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/boardTiles}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<title>게시글 단건조회</title>
<style>
.input {
  border: none;
  outline: none;
	width: 400px;
}
	.uploadResult {
		width : 100%;
		background-color : #90ddb091;
		border-radius: 20px;
	}
	
	.uploadResult ul{
		display : flex;
		flex-flow : row;
		justify-content : center;
		align-items : center;
	}
	
	.uploadResult ul li{
		list-style : none;
		padding : 10px;
		align-content : center;
		text-align : center;
	}
	
	.uploadResult ul li img {
		width : 100px;
	}
	
	.uploadResult ul li span {
		color : white;
	}
	
	.bigPictureWrapper{
		position : absolute;
		display : none;
		justify-content : center;
		align-items : center;
		top : 0%;
		width : 100%;
		height : 100%;
		background-color : gray;
		z-index : 100;
		background : rgba(255, 255, 255, 0.5);
	}
	
	.bigPicture {
		position : relative;
		display : flex;
		justify-content : center;
		align-items : center;
	}
	
	.bigPicture img {
		width : 600px;
	}
	textarea{
		border : none;
		/* width: 400px;
		height: 400px; */
	}
	.comment-section {
    min-height: 100px; /* 예시 값 */
}
.comtable{
	margin-left:auto;
	margin-right:auto;
	width: 800px;
}
.comtabletd{
	padding: 10px;
	padding-left: 40px; 
	padding-right: 40px; 
	
}
/* .comdate{
	width: 200px;
} */
/* .comtabletr{
	margin-left: 200px;
} */
.updateBtn{
	margin-left: 655px;
	border-radius: 5px;
	background-color: #399f61;
	border-color: #399f6100;
	box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;
	color: #fff;
	width: 92.45px;
	height: 38px;
}
.listBtn{
	margin-right: 0px;
	border-radius: 5px;
	background-color: #399f61;
	border-color: #399f6100;
	box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;
	color: #fff;
	width: 92.45px;
	height: 38px;
}
.cominsert{
	width:92.45px;
	margin-right: 5px;
}
h2 {
	margin-top: 25px;
}


	</style>
</head>
<body class="dohyeon" >
	<div layout:fragment="content">
		<h2 >게시글 단건조회</h2>
		
		<table class="table table-hover">
			<thead>
			<tr>
				<td>제목:</td>
				<td><input class="input" type="text" th:value="${board.title}" readonly /></td>
			</tr>
			<tr>
				<td>작성일:</td>
				<td><input class="input"
					th:value="${#dates.format(board.insertDate, 'yyyy.MM.dd')}"
					readonly />
				</td>
				</tr>
				<tr>
					<td>작성자:</td>
					<td><input class="input" type="text" th:value="${board.name}" readonly /></td>
				</tr>
				<tr id="filesHeader">
					<td >첨부파일</td>
						<td><div class="bigPictureWrapper">
						<div class="bigPicture">
						</div>
					</div>
			
					<div class = "row">
						<div class = "col-lg-12">
							<div class = "panel-heading" id="filesHeader">Files</div>
							<!-- /.panel-heading -->
							<div class = "panel-body">
								<div class = 'uploadResult'>
									<ul>
									</ul>
								</div>
							</div>
							<!-- end panel body -->
						</div>
						<!-- end panel -->
					</div>
					<!-- /.row -->
				</td>
				</tr>
			<tr>
				<td>내용:</td>
				<td><textarea rows="8" cols="30" th:text="${board.content}" readonly style="border: 0px; width: 100%; height: 300px;"></textarea></td>
			</tr>
			<tr>
				<td style="display: none" ><input type="text" id="boardType"
					name="boardType" th:value="${board.boardType}"></td>
			</tr>
			<!-- 댓글 -->
			<th:block th:if="${(board.boardType == 'N') or (board.boardType =='K')}">
				
			</th:block>
			</thead>
			</table>
			<table class="comtable table table-hover">
				<thead th:if="${boardCom != null}">
					<hr>
					<h3>댓글작성</h3>
					<tr class="comtabletr" th:each="com : ${boardCom}" th:data-post-code="${com.comNo}">
						<!-- <td class="comtabletd" th:utext="${com.profileImg}"></td> -->
						<td class="comtabletd" th:text="${com.comContent}"></td>
						<td class="comtabletd" th:text="${com.name}"></td>
						<td class="comtabletd comdate" th:text="${com.comDate}"></td>
						<td>
							<th:block th:if="${(com.id == session.Id) or (session.EmpGrade == 'A')}">
								<span onclick="updateWritingComment()" class="spanCursor" style="color: red">수정</span>
								<span onclick="deleteWritingComment()" class="spanCursor">삭제</span>
							</th:block>
						</td>
					</tr>
				</thead>
			</table>
		<th:block th:if="${(board.boardType == 'N') or (board.boardType =='K')}">
			<div class="form-group row">
				<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="댓글 작성">
				</div>
				<div class="col-sm-2">
						<button type="button" class="btn btn-primary cominsert" onclick="createCommentButton()" th:data-post-writing-no="${board.boardNo}">댓글 등록</button>
				</div>
		</div>
		
		</th:block>
		
		<th:block th:if="${(board.boardType == 'N') and ((session.EmpGrade == 'A') or (session.Id == board.id))}">
			<a th:href="@{/boardUpdate/{boardNo}(boardNo=${board.boardNo})}">
			<button class="updateBtn" type="button">수정</button></a>
		</th:block>
		<th:block th:if="${(board.boardType == 'C') and ((session.EmpGrade == 'A') or (session.Id == board.id))}">
			<a th:href="@{/boardUpdate/{boardNo}(boardNo=${board.boardNo})}">
			<button class="updateBtn" type="button">수정</button></a>
		</th:block>
		<th:block th:if="${(board.boardType == 'K') and ((session.EmpGrade == 'A') or (session.Id == board.id))}">
			<a th:href="@{/boardUpdate/{boardNo}(boardNo=${board.boardNo})}">
				<button class="updateBtn" type="button">수정</button></a>
		</th:block>
		<button class="listBtn" type="button" th:onclick="|location.href='@{/boardList(boardType=${board.boardType})}'|">목록으로</button>

		<!-- Button trigger modal -->
		<th:block th:if="${(board.boardType == 'N') and ((session.EmpGrade == 'A') or (session.Id == board.id))}">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal">게시물 삭제</button>
		</th:block>
		<th:block th:if="${(board.boardType == 'C') and ((session.EmpGrade == 'A') or (session.Id == board.id))}">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal">게시물 삭제</button>
		</th:block>
		<th:block th:if="${(board.boardType == 'K') and ((session.EmpGrade == 'A') or (session.Id == board.id))}">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal">게시물 삭제</button>
		</th:block>
		<!-- Modal -->
		<div class="modal fade" id="deletePostModal" tabindex="-1"
			role="dialog" aria-labelledby="deletePostModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deletePostModalLabel">게시글 삭제</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">게시글을 정말로 삭제하시겠습니까?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="deleteButton">삭제</button>
						<button id="firstCancel" type="button" class="btn btn-secondary"
							data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Success Modal -->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
			aria-labelledby="successModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="successModalLabel">Success</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="successModalBody">게시글이 삭제되었습니다.</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal"
							th:onclick="|location.href='@{/boardList(boardType=${board.boardType})}'|">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Error Modal -->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
			aria-labelledby="errorModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="errorModalLabel">Error</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="errorModalBody">게시글 삭제에 실패했습니다.</div>
					<div class="modal-footer">
						<button id="closeModal" type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>

		<script th:inline="javascript">
		$(document).ready(function() {
   	$('#deleteButton').click(function() {
        let boardNo = /*[[${board.boardNo}]]*/
        console.log(boardNo)
        $.ajax({
            url : '/boardDelete/'+ boardNo,
            type : 'DELETE',
            success : function(result) {
                $('#successModal').modal('show');
                $('#closeModal').on('click', function() {
                    $('#successModal').modal('hide');
                })
            },
            error : function(xhr, status, error) {
                $('#errorModalBody').text("게시글 삭제에 실패했습니다: "+ error);
                $('#errorModal').modal('show');
            }
        });

        $('#deletePostModal').modal('hide');
    });

    $.getJSON(`/getAttachList?boardNo=[[${board.boardNo}]]`, function(arr) {
        var str = "";
				if (arr.length > 0) {
        $("#filesHeader").show(); // 첨부파일이 있을 때만 "Files"를 보여줌
    }
        $(arr).each(function(i, attach){
            
            if(attach.fileType){
                var fileCallPath = encodeURIComponent(attach.uploadPath + "/s_" + attach.uuid + "_" + attach.fileName);
                str += "<li data-path='" + attach.uploadPath + "' data-uuid='" + attach.uuid + "' data-filename='"
                + attach.fileName + "' data-type='" + attach.fileType + "'><div>";
                str += "<img src='/display?fileName=" + fileCallPath + "'>";
                str += "</div>";
                str += "</li>";
            } else {
                str += "<li data-path='" + attach.uploadPath + "' data-uuid='" + attach.uuid + "' data-filename='"
                + attach.fileName + "' data-type='" + attach.fileType + "'><div>";
                str += "<span>" + attach.fileName + "</span><br/>";
                str += "<img src='img/attach.png/'>";
                str += "</div>";
                str += "</li>";
            }
        });
        
        $(".uploadResult ul").html(str);
    });
		$(".uploadResult").on("click","li", function(e){
	      
		    console.log("view image");
		    
		    var liObj = $(this);
		    
		    var path = encodeURIComponent(liObj.data("path")+"/" + liObj.data("uuid")+"_" + liObj.data("filename"));
		    
		    if(liObj.data("type")){
		      showImage(path.replace(new RegExp(/\\/g),"/"));
		    }else {
		      //download 
		      self.location ="/download?fileName="+path
		    }
		  });
		  function showImage(fileCallPath){
			    
		    $(".bigPictureWrapper").css("display","flex").show();
		    
		    $(".bigPicture")
		    .html("<img src='/display?fileName="+fileCallPath+"' >")
		    .animate({width:'100%', height: '100%'}, 1000);
		  }
		  $(".bigPictureWrapper").on("click", function(e){
		    $(".bigPicture").animate({width:'0%', height: '0%'}, 1000);
		    setTimeout(function(){
		      $('.bigPictureWrapper').hide();
		    }, 1000);
		  });
	});
	</script>
	<!-- 댓글 등록 -->
	<script>
		function createCommentButton() {
			let targetButton = event.target;//버튼 동적 확인
			//let com = targetButton.parentNode.children[0].children[0]; //텍스트값 찾기
			let com = document.querySelector('.form-control');
			if(com.value == '') {
				com.focus();
				alert('댓글을 입력하세요');
				return;
			}
			
			let writingNo = targetButton.dataset.postWritingNo;//글번호 찾기
			
			
			fetch("/boardCreateComment", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'boardNo': writingNo,
	   				'comContent': com.value
	   			})
			})
			.then(response => response.json())
			.then(res => {
				location.href="/boardInfo?boardNo=" + writingNo
			});
		}
	</script>
	
	<!-- 댓글 삭제  -->
	<script>
		function deleteWritingComment() {
			let targetButton = event.target.parentNode;
			
			fetch("/boardDeleteComment", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'comNo': targetButton.parentNode.dataset.postCode
	   			})
			})
			.then(response => response.json())
			.then(res => {
				targetButton.parentNode.remove()
				console.log(res)
			});
		}
	</script>
	
	<!-- 댓글 수정  -->
	<script>
		function updateWritingComment() {
			let targetButton = event.target;
			console.log(event.target)
			let comNo = targetButton.parentNode.parentNode.dataset.postCode;//댓글 번호
			
			let oldCom = targetButton.parentNode.parentNode.childNodes[3].textContent;//기존 댓글
			
			if(document.getElementById('newComment') != null) {
				let nC = document.getElementById('newComment').parentNode.parentNode;
				//console.log('nc',nC)
				nC.childNodes[3].textContent = document.getElementById('newComment').value;//값
				nC.childNodes[9].childNodes[1].innerHTML = '';
				console.log('ss',nC.childNodes[9].childNodes[1].innerHTML = '수정')
				console.log(nC.childNodes[9].childNodes[3].innerHTML = '삭제')
			}
			
			targetButton.parentNode.parentNode.childNodes[3].innerHTML = '<input type="text" placeholder="댓글 수정" id="newComment" value="' + oldCom + '">'
			targetButton.parentNode.parentNode.childNodes[9].childNodes[1].innerHTML = '<span id="ooo">수정</span>'
			targetButton.parentNode.parentNode.childNodes[9].childNodes[3].innerHTML = '<span id="xxx">취소</span>';
			
			// 취소버튼
			document.getElementById('xxx').addEventListener('click', function() {
				targetButton.parentNode.parentNode.childNodes[3].textContent = oldCom;
				targetButton.parentNode.parentNode.childNodes[9].childNodes[1].textContent = '수정';
				targetButton.parentNode.parentNode.childNodes[9].childNodes[3].textContent = '삭제';
				targetButton.parentNode.childNodes[11].textContent = '';
			});
			
			// 수정버튼
			document.getElementById('ooo').addEventListener('click', function() {
				let newCom = document.getElementById('newComment');
				if(newCom.value == '') {
					newCom.focus();
					alert('댓글을 수정하세요');
				} else {
					
					fetch("/boardUpdateComment", {
						method: 'PUT',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							'comContent' : newCom.value,
			   				'comNo': comNo
			   			})
					})
					.then(response => response.json())
					.then(res => {
						
						if(res.result == '성공') {
							targetButton.parentNode.parentNode.childNodes[3].textContent = newCom.value;
							targetButton.parentNode.parentNode.childNodes[9].childNodes[1].textContent = '수정';
							targetButton.parentNode.parentNode.childNodes[9].childNodes[3].textContent = '  삭제';
						} else {
							alert('댓글 수정 실패');
						}
					});
				}
			});
			
		}
	</script>

	</div>
</body>
</html>
