<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/boardTiles}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <title>게시글 단건조회</title>
</head>
<body>
<div layout:fragment="content" >
    <h2>게시글 단건조회</h2>

    <table>
        <tr>
            <td>제목:</td>
            <td><input type="text" th:value="${board.title}" readonly/></td>
        </tr>
        <tr>
            <td>내용:</td>
            <td><textarea th:text="${board.content}" readonly></textarea></td>
        </tr>
        <tr>
            <td>첨부파일 : </td>
            <!-- <td><a th:href="@{/files/} + ${board.attachment}" th:text="${board.attachment}">file.txt</a></td> -->
        </tr>
        <tr>
            <td>작성자:</td>
            <td><input type="text" th:value="${board.name}" readonly /></td>
        </tr>
        <tr>
            <td>작성일:</td>
            <td><input th:value="${#dates.format(board.insertDate, 'yyyy.MM.dd')}" readonly /></td>
        </tr>
        <tr>
        	<td style="display:none"><input type="text" id="boardType" name="boardType" th:value="${board.boardType}"></td>
        </tr>
    </table>
	<a th:href="@{/boardUpdate/{boardNo}(boardNo=${board.boardNo})}"><button type="button">수정</button></a>
    <button type="button" th:onclick="|location.href='@{/boardList(boardType=${board.boardType})}'|">목록으로</button>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal">
  게시물 삭제
</button>

<!-- Modal -->
<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostModalLabel">게시글 삭제</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        게시글을 정말로 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button id="firstCancel" type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-danger" id="deleteButton">삭제</button>
      </div>
    </div>
  </div>
</div>
<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="successModalBody">
        게시글이 삭제되었습니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:onclick="|location.href='@{/boardList(boardType=${board.boardType})}'|">닫기</button>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="errorModalBody">
        게시글 삭제에 실패했습니다.
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script th:inline="javascript">
    $(document).ready(function() {
    $('#deleteButton').click(function() {
        let boardNo = /*[[${board.boardNo}]]*/
        console.log(boardNo)
        $.ajax({
            url: 'boardDelete/' + boardNo, // 실제 삭제를 처리하는 서버 URL입니다.
            type: 'DELETE',
            success: function(result) {
                // 삭제 성공 시 처리 로직
                $('#successModal').modal('show'); // 성공 모달 표시
                $('#closeModal').on('click', function() {
                  $('#successModal').modal('hide');
                })
            },
            error: function(xhr, status, error) {
                // 삭제 실패 시 처리 로직
                $('#errorModalBody').text("게시글 삭제에 실패했습니다: " + error);
                $('#errorModal').modal('show'); // 에러 모달 표시
            }
        });

        // 삭제 요청이 시작되었으므로 삭제 확인 모달을 숨깁니다.
        $('#deletePostModal').modal('hide');
    });
});
    </script>

</div>
</body>
</html>
