<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/tiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" >
	<table>
		<thead>
			<tr>
				<td>글번호 [[${boardList[0].boardNo}]]</td>
				<td>제목</td>
				<td>작성자</td>
				<td>작성일자</td>
				<td>조회수</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board, stat : ${boardList}" th:attr="onclick='window.location.href=\'/boardInfo?boardNo=' + ${board.boardNo} + '\''">
				<td>[[${board.boardNo}]]</td>
				<td>[[${board.title}]]</td>
				<td>[[${board.id}]]</td>
				<td th:text="${#dates.format(board.insertDate, 'yy.MM.dd')}"></td>
				<td>[[${board.count}]]</td>
			</tr>
		</tbody>
	</table>
	<button type="button" id="write" th:onclick="|location.href='@{boardInsert}'|">글쓰기</button>
	</div>
</body>
</html>