<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/boardTiles}">
<head>
    <meta charset="UTF-8">
    <title>Insert a new Board</title>
</head>
<body>
    <div layout:fragment="content">
        <h2>글 작성</h2>
        <form action="/boardInsert" method="post">
            <table>
                <tr>
                    <td>제목:</td>
                    <td><input type="text" id="title" name="title"  required /></td>
                </tr>
                <tr>
                    <td>내용:</td>
                    <td><textarea id="content" name="content" required></textarea></td>
                </tr>
                <tr>
                    <td>작성자 ID:</td>
                    <td><input type="text" id="name" name="name" th:value="${session.Name}" readonly /></td>
                </tr>
                <tr>
                	<td style="display:none;"><input type="text" id="id" name="id" th:value="${session.Id}" readonly /></td>
               	</tr>
               	<tr>
               		<td><input type="text" id="boardType" name="boardType" th:value="${board.boardType}"></td>
               	</tr>
            </table>
            <button type="submit" >게시글 등록</button>
            <button id="listlist" type="button" onclick="boardListGo()" >목록으로</button>
        </form>
    <script th:inline="javascript">
    	function boardListGo() {
            let bT = /*[[${board.boardType}]]*/
            window.location.href ='boardList?boardType=' + bT
        }
    </script>
    </div>
</body>
</html>