<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>사원 목록</title>
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
		@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
		body {
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			background: #f7f7f7;
		}

        main {
            margin: 20px;
            padding : 10px;
            background: #f7f7f7;
            border:1px solid #ccc;
			border-radius: 10px;
        }

</style>
</head>
<body>   
    <main style="margin:40px">
    	<h2 class="mb-3" style="font-size:1.5em;text-align:center;">Groobear 사원조회</h2>
        <div>
            <table class="table table-hover"  style="text-align:center;margin-top: 5px;">
            	<thead>
	                <tr>
	                	<th>사번</th>
	                    <th>이름</th>
	                    <th>직급</th>
	                    <th>메일</th>
	                </tr>
                </thead>
                <tbody id="body">
                	<th:block th:if="${memList != null}">
						<tr class="cml table-default" th:each="mem, stat : ${memList}" th:ondblclick="addMem()">
								<td>[[${mem.empNo}]]</td>
								<td>[[${mem.name}]]</td>
								<td>[[${mem.rank}]]</td>
								<td>[[${mem.id}]]</td>
						</tr>
					</th:block>
				</tbody>
            </table>
            <p style="text-align:center;">* 추가하고자 하는 사원 행을 더블클릭 바랍니다.</p>
        </div>
    </main>
	<script type="text/javascript">
	function addMem(){
		let empNo = $(event.target).closest('tr').find('td:eq(0)').text();
		let deptNo = [[${deptNum}]];
		
		$.ajax({
			    url: "updateDeptMem",
			    method: "POST",
			    contentType:"application/json; charset=utf-8",
			    data: JSON.stringify({
			      empNo: empNo,
			      deptNo: deptNo
			    }),
			    success: function(data) {
			    	if(data == "success"){
			    		window.opener.location.href="/deptDetailInfo?deptNo="+deptNo;
			    		window.close();
			    	} else{
			    		alert('구성원 추가 오류 발생');
			    	}	
			    },
			    error: function(err) {
					console.log(err);
			    }
			});
	}
	</script>
</body>
</html>
</body>
</html>