<!DOCTYPE html>
<html
 xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/insaTiles}">
 
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
  	li{
  		float: left;
  	}
  	a {
  		text-decoration:none !important;
  		cursor:pointer;
  	}
 		/* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1050; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 30%; /* Could be more or less, depending on screen size */                          
        }
</style>
</head>

<body>

<div layout:fragment="content" >
  <div style="padding:10px;">
  	<h2 style="margin-top: 25px;margin-bottom:20px;font-weight:600;">Groobear 회원조회</h2>
	<table id="list" class="table table-hover" style="text-align:center;font-size:17px;">
		<thead>
			<tr style="font-weight:600;">
				<td>사번</td>
				<td>이름</td>
				<td>직급</td>
				<td>부서</td>
				<td>연락처</td>
				<td>메일</td>
				<td>입사일</td>
				<td>상태</td>
			</tr>
		</thead>
		<tbody id="bodyWash" style="font-weight:400;font-size:15px;cursor: Pointer;">
			<tr class="cml table-default" th:each="emp, stat : ${empList}" th:attr="onclick='detailPopUp()'">
				<td>[[${emp.empNo}]]</td>
				<td>[[${emp.name}]]</td>
				<td>[[${emp.rank}]]</td>
				<td>[[${emp.deptName}]]</td>
				<td>[[${emp.phone}]]</td>
				<td>[[${emp.id}]]</td>
				<td th:text="${#dates.format(emp.pinfoDate, 'yyyy.MM.dd')}"></td>
				<th:block th:if="${emp.empStatus =='O'}">
					<td>재직</td>
				</th:block>
				<th:block th:if="${emp.empStatus=='X'}">
					<td>퇴직</td>
				</th:block>
			</tr>
		</tbody>
	</table>
	<div style="display: flex;justify-content: center;height:30px;">
	    <ul id="ulId" class="paging pagination pagination-sm" style="display: flex;justify-content: center;" th:if="${paging.endPage != 0}">
			<li class="page-item">
				<a class="page-link" style="border-top-left-radius: 0.2rem;border-bottom-left-radius: 0.2rem;" th:href="|javascript:goPage(1)|">&laquo;</a></li>
			<li class="page-item" th:if="${paging.prev}">
	            <a class="page-link" th:href="|javascript:goPage([[${paging.startPage-1}]])|">&lsaquo;</a>
	        </li>
			<li class="page-item active" th:class="${num==paging.cri.page ? 'active' : ''}" 
				th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
				<a class="page-link" th:href="|javascript:goPage([[${num}]])|"
				th:text="${num}"></a>
			</li>
			<li class="page-item" th:if="${paging.next and paging.endPage > 0}">
	            <a class="page-link" th:href="|javascript:goPage([[${paging.endPage+1}]])|">&rsaquo;</a>
	        </li>
			<li class="page-item"><a class="page-link" style="border-top-right-radius: 0.2rem;border-bottom-right-radius: 0.2rem;"
				th:href="|javascript:goPage([[${paging.totalCount / paging.cri.perPageNum + (paging.totalCount % paging.cri.perPageNum > 0 ? 1 : 0)}]])|">&raquo;</a>
			</li>
	    </ul>
	</div>
	</div>
	<div style="display: flex;justify-content: center;">
		<form name="searchForm" action="empInfo">
		<input type="hidden" name="page" value="1"/><br>
		<select name="type" style="cursor: Pointer;border: 1px solid gray;border-radius: 5px;height: 35px; width:50px;">
			<option value='' selected>선택</option>
			<option value='empNo' th:selected="${criteria.type == 'empNo'}">사번</option>
			<option value='name' th:selected="${criteria.type == 'name'}">이름</option>
			<option value='deptName' th:selected="${criteria.type == 'deptName'}">부서</option>
		</select>
		<input type="text" name="keyword" id="inputBtn" style="border: 1px solid gray;border-radius: 5px;height: 35px; width:150px;" th:value="${criteria.keyword}"/>
		<button type="submit" class="custom-button" id="searchBtn" style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;width: 50px;height:35px;">검색</button>
	</form>
	</div>
		<!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content" style="box-shadow: 2px 4px 3px 3px darkgray;width: 500px;margin-top:280px;border-radius: 20px;padding:0px;">
      	<div class="modal-header" style="position: relative;border-bottom: 1px solid lightgray;padding: 2px;">
			<h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px;margin-left: 15px;margin-top: 20px;margin-bottom: 20px;">회원조회</h5>
			<button type="button" class="btn-close" data-mdb-dismiss="modal" onclick="closeModal()"
				aria-label="Close" style="border-radius: 8px;border: 1px solid gray;padding: 2px 9px;background-color: #998b79;color: #fff;margin-right: 20px;margin-top: 15px;">X</button>
		</div>
                <p style="text-align: center; margin:20px;height: 70px;line-height: 70px;"><span style="font-size: 17pt;" id="spantext"></span></p>
            <div style="text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="close_pop();" id="goLogin">
	            <div class="modal-footer">
	                <span class="pop_bt"  style="cursor:pointer;border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 70px;height: 45px;line-height: 45px;font-size: 17px;" id="closeModal">
	                     닫기
	                </span>
	            </div>
            </div>
      </div>
      </div>

	<script th:inline="javascript">
		//input 태그 안에 빈 값인데 검색 버튼을 눌렀을 때 실행하는 함수.
		$(document).ready(function() {
			//검색 빈값 처리
			$('#searchBtn').on('click', function() {
			    let val = $('select[name="type"]').val();
			    if(val == '') {
			    	if($('#inputBtn').val()==''){
			    		location.href='/empInfo';
			    	}else{
			    		$('#inputBtn').val('');
			    		$('#spantext').text('검색 항목을 선택해주세요.');
			            $('#myModal').show();
			            $('#closeModal').on('click', function() {
			            $('#myModal').hide();
			            })
			            return false;
			       	}    		
		    	}
			})
		})
	
	//페이징 관련
	function goPage(p) {
	    //event.preventDefault();
	    document.searchForm.page.value = p;
	    document.searchForm.submit();
	}
	//날짜포맷 맞춰주는 함수 
	//https://carrotweb.tistory.com/160 참고사이트.
	function SimpleDateTimeFormat(date, pattern) {
		var dateString = pattern.replace(/(yyyy|MM|dd|HH|mm|ss|SSS)/g, function(match) {
			var matchString = "";
			switch(match) {
				case "yyyy":
					matchString = date.getFullYear();
					break;
				case "MM":
					matchString = date.getMonth() + 1;
					break;
				case "dd":
					matchString = date.getDate();
					break;
				case "HH":
					matchString = date.getHours();
					break;
				case "mm":
					matchString = date.getMinutes();
					break;
				case "ss":
					matchString = date.getSeconds();
					break;
				case "SSS":
					matchString = date.getMilliseconds();
					break;
				default :
					matchString = match;
					break;
			}
			if (match == "SSS") {
				if (matchString < 10) {
					matchString = "00" + matchString;
				} else if (matchString < 100) {
					matchString = "0" + matchString;
				}
			} else {
				if ((typeof(matchString) == "number" && matchString < 10)) {
					matchString = "0" + matchString;
				}
			}
			return matchString;
		});
	
		return dateString;
	}
	
	// 팝업창
    let checkPop = '';
    let openWin;
	
    function detailPopUp() {
    	let id = $(event.target).closest('tr').children().eq(5).text();
    	console.log(id)
    	checkPop = id;
    	// window.name = "부모창 이름"; 
        window.name = "empInfo";   
        // window.open("open할 window", "자식창 이름", "팝업창 옵션");
        //openWin = window.open("/empDetailInfo?id="+id, "empDetailInfo", "width=370, height=480, resizable = no, scrollbars = no");    	
        var screenWidth = window.screen.width;
        var screenHeight = window.screen.height;
        var popupWidth = 370;
        var popupHeight = 427;
        var left = (screenWidth - popupWidth) / 2;
        var top = (screenHeight - popupHeight) / 2;
        var options = "width=" + popupWidth + ", height=" + popupHeight + ", resizable=no, scrollbars=no, top=" + top + ", left=" + left;
        openWin = window.open("/empDetailInfo?id="+id, "empDetailInfo", options);
    }
    function closeModal() {
	   	  // 모달 창 닫기
	   	  $('#myModal').hide();
	   	}
  	//모달 Close 기능
    function close_pop(flag) {
        $('#myModal').hide();
   	}; 
	</script>
</div>
</body>
</html>