<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/paymentTiles}">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
	
	.dohyeon{
		font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
		color:black;
		font-size : 20px;
	}
	#ulId li.active a.page-link {
    	background-color: #35A880;
    	border: 1px solid #35A880;
    	color:#fff
  	}
  	a {
  		text-decoration:none !important;
  		cursor:pointer;
  	}
	ul {
			list-style:none;
	}
	.paging .active a {
		    background-color: #f00;
		    color: #fff;
	}
</style>
</head>
<body>
<div  layout:fragment="content">
	<div>
	  <h3 class="tjs" style="font-size:35px;margin-top:20px;">Groobear 진행중 결재문서</h3>
		<table id="list" class="table table-hover tjs">
			<thead>
				<tr>
					<th>번호</th>
					<th>문서번호</th>
					<th>문서제목</th>
					<th>기안자</th>
					<th>작성일자</th>
					<th>결재</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pay,stat : ${InProgressList}" th:attr="onclick='window.location.href=\'/payInfoRead?payNo=' + ${pay.payNo} + '&docType='+${pay.docType}+'\''">
					<td th:text="${paging.totalCount - ((paging.cri.page-1) * paging.cri.perPageNum) - stat.index}"></td>
					<td th:text="${pay.payNo}"></td>
					<td>[[${pay.purpose}]]</td>
					<td>[[${pay.id}]]</td>
					<td th:text="${#dates.format(pay.issueDate, 'yyyy.MM.dd')}"></td>
					<td th:if="${ 
						(pay.approver2 == session.Id and pay.payStatus2== 'N') or 
						(pay.approver3 == session.Id and pay.payStatus2== 'Y' and pay.payStatus3=='N')}">
						<span style="color:red">결재중</span>
					</td>
					<td th:unless="${ (pay.approver2 == session.Id and pay.payStatus2== 'N') or 
						(pay.approver3 == session.Id and pay.payStatus2== 'Y')}">결재중</td>
					<td id="docType" style="display:none;">[[${pay.docType}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="display: flex;justify-content: center;height:30px;">
			<ul id="ulId" class="paging pagination pagination-sm" style="display: flex;justify-content: center;" th:if="${paging.endPage != 0}">
		<li class="page-item">
			<a class="page-link" th:href="|javascript:goPage(1)|">&laquo;</a></li>
		<li class="page-item" th:if="${paging.prev}">
            <a class="page-link" th:href="|javascript:goPage([[${paging.startPage-1}]])|">&lsaquo;</a>
        </li>
		<li class="page-item active" th:class="${num==paging.cri.page ? 'active' : ''}" 
			th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
			<a class="page-link" th:href="|javascript:goPage([[${num}]])|"
			th:text="${num}"></a>
		</li>
		<li class="page-item" th:if="${paging.next and paging.endPage > 0}">
            <a class="page-link" th:href="|javascript:goPage([[${paging.endPage+1}]])|">&rsaquo;</a>
        </li>
		<li class="page-item"><a class="page-link"
			th:href="|javascript:goPage([[${paging.totalCount / paging.cri.perPageNum + (paging.totalCount % paging.cri.perPageNum > 0 ? 1 : 0)}]])|">&raquo;</a>
		</li>
    </ul>
		</div>
	<script>
	function goPage(p){
		location.href="InProgressPay?page="+p;
			
	}
	</script>
</div>
</body>
</html>