<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>결재자 등록 모달</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
	<br>
    <table style="width:200px; height:500px; float:left;">
    	<thead>
	    	<tr>
	    		<th><font size="3" color="gray">구성원</font></th>
	    	</tr>
    	</thead>
    	<tbody id="EmpBody">
    		<tr th:each="emp : ${payEmpList}" onmousedown="empInfo(this);">
    			<td>
	    			[[${emp.name}]] | [[${emp.rank}]] | [[${emp.deptName}]]
	    			<div style="display:none">[[${emp.Id}]]</div>
	    			<div style="display:none">[[${emp.name}]]</div>
	    			<div style="display:none">[[${emp.rank}]]</div>
	    			<div style="display:none">[[${emp.deptName}]]</div>
    			</td>
    		</tr>
    	</tbody>
    </table>
    <table style="width:300px; height:200px; display:none;">
    	<thead>
    		<tr>
	    		<th><font size="3" color="gray">기안자</font></th>
	    	</tr>
    	</thead>
    	<tbody id="drafterlist">
    		<tr>
    			<td>[[${userInfo.Id}]]</td>
    			<td>[[${userInfo.name}]]</td>
    			<td>[[${userInfo.rank}]]</td>
    			<td>[[${userInfo.deptName}]]</td>
    		</tr>
    	</tbody>
    </table>
    <table style="float:left; margin-left:100px ;margin-top:100px;">
    	<tbody>
    		<tr>
    			<td><button type="button" id="payUser" onclick="paySet()">결재자</button></td>
    		</tr>
    		<tr>
    			<td><button type="button" id="payDelete" onclick="userDel()">제외</button></td>
    		</tr>
    		<tr>
    			<td><button type="submit" id="payCheck" onclick="userSet()">확인</button></td>
    		</tr>
    	</tbody>
    </table>
    <table style="width:200px; height:100px; float:right;">
    	<thead>
    		<tr>
	    		<th><font size="3" color="gray">결재자1</font></th>
	    	</tr>
    	</thead>
    	<tbody id="payUserList1">
    		
    	</tbody>
    </table>
    <table style="width:200px; height:100px; float:right;">
    	<thead>
    		<tr>
	    		<th><font size="3" color="gray">결재자2</font></th>
	    	</tr>
    	</thead>
    	<tbody id="payUserList2">
    	
    	</tbody>
    </table>
    <script>
    	var empName = '';
    	var empRank = '';
    	var empDept = '';
    	var empId = '';
    	/* var Me = document.getElementById('EmpBody').children[0].children[0].children[0];
    	console.log(Me.value); */
    	const drafter = document.getElementById('drafterlist').children[0].children[0].textContent;
    	console.log('drafter = ',drafter);
    	
    	var payUserNR1 = ''; //userSet()에서 사용할 결재자1이름과 직급
    	var payUser1 = ''; //ajax전송용 결재자1 id저장
    	var payUserName1 = '';
    	var payUserRank1 = '';
    	var payUserDept1 = '';
    	var payUserNR2 = ''; //userSet()에서 사용할 결재자2이름과 직급
    	var payUser2 = ''; //ajax전송용 결재자2 id저장
    	var payUserName2 = '';
    	var payUserRank2 = '';
    	var payUserDept2 = '';
    	var payUserList1 = document.getElementById('payUserList1'); //html tbody
		var payUserList2 = document.getElementById('payUserList2'); //html tbody
    	function empInfo(e){
    		console.log(e.children[0].textContent);
			empId = e.children[0].children[0].textContent;
    		empName = e.children[0].children[1].textContent;
			empRank = e.children[0].children[2].textContent;
			empDept = e.children[0].children[3].textContent;
			console.log('empId = ',empId);
			console.log('empName = ',empName);
			console.log('empRank = ',empRank);
			console.log('empDept = ',empDept);
    	}
    	function paySet(){
    		//push pop 사용해야됨 이미 있는 유저정보는 추가할필요없음
    		console.log('paySet 클릭');
    		let trTag = document.createElement('tr');
    		let tdTag = document.createElement('td');
    		trTag.setAttribute("onmousedown","empInfo(this);");
        		/* drafter = 기안자, payUser1 = 결재자1 payUser2 = 결재자2 */
        	if(drafter !== empId){
	    		if(payUser1 === ""){
					if(payUser2 !== empId){
		    			var str = '';
			    		str += empName+" "+empRank+" "+empDept
			    		str += "<div style='display:none'>"+empId+"</div>"
			    	    str += "<div style='display:none'>"+empName+"</div>"
			    	    str += "<div style='display:none'>"+empRank+"</div>"
			    	    str += "<div style='display:none'>"+empDept+"</div>"
			    	    tdTag.innerHTML += str;
			    	    trTag.append(tdTag);
			    		payUserList1.append(trTag);
		        		//tdTag.append(empName + ' ');
		        		//tdTag.append(empRank+' ');
		        		//tdTag.append(empDept);
		        		//trTag.append(tdTag);
		        		//payUserList1.append(trTag); //화면단에 tr태그 append
		        		payUser1 = empId; //따로 저장해두는 값
		        		payUserName1 = empName;
		            	payUserRank1 = empRank;
		            	payUserDept1 = empDept;
		        		payUserNR1 = empName+' '+empRank; //결재문서창에서 보여줄 결재자1 이름직급
		        		console.log('payUserNR1 = ',payUserNR1);
	        		}
	    		}else if(payUser1 === empId){
	    			alert('결재자1에 이미 등록한 사원입니다. 결재자2에 등록이 불가능합니다.');
	    			return;
	    		}else if(payUser1 !== empId && !payUser2){
	    			console.log('결재자1은 있고 2는 없음');
	    			var str = '';
	    			str += empName+" "+empRank+" "+empDept
		    		str += "<div style='display:none'>"+empId+"</div>"
		    	    str += "<div style='display:none'>"+empName+"</div>"
		    	    str += "<div style='display:none'>"+empRank+"</div>"
		    	    str += "<div style='display:none'>"+empDept+"</div>"
		    	    tdTag.innerHTML += str;
		    	    trTag.append(tdTag);
		    		payUserList2.append(trTag);
		    		payUser2 = empId; //따로 저장해두는 값
		    		payUserName2 = empName;
		        	payUserRank2 = empRank;
		        	payUserDept2 = empDept;
		    		payUserNR2 = empName+' '+empRank; //결재문서창에서 보여줄 결재자2 이름직급
		    		console.log('payUserNR2 = ',payUserNR2);
	    		}else if(payUser2 === empId){
	    			alert('결재자2에 이미 등록한 사원입니다. 더이상 결재자 등록이 불가능합니다.')
	    			return;
	    		}else if(payUser1 !== "" && payUser2 !== ""){
	    			alert('결재자1 결재자2 모두 설정한 상태입니다.');
	    			return;
	    		}
        	}else{
        		alert('기안자는 결재자1, 결재자2에 등록 할 수 없습니다.');
        		return;
        	}
    	}
    	function userDel(){
    		console.log('userDel 클릭');
    		console.log('payUser1 = ',payUser1);
    		console.log('payUser2 = ',payUser2);
    		console.log('empId = ',empId);
    		if(payUser1 === empId){
				console.log(payUser1,' = ',empId,' 데이터 동일');
    			payUserList1.children[0].remove();
    			payUser1 = '';
    		}else if(payUser2 === empId){
				payUserList2.children[0].remove();
				payUser2 = '';
			}
    	}
    	function userSet(){
    		if(payUser1 === ''){
    			alert('결재자1이 없습니다. 등록해주세요.');
    			opener.document.getElementById('payUserList1').textContent = '';
    			return;
    		}else {
    			//여기서 ajax통신으로 위에서 결정한 값을 보내줘야함.
    			//기안자 값 설정,전송
    			alert('값 전송');
    			let drafterName = document.getElementById('drafterlist').children[0].children[1].textContent; //전송할 기안자 이름
    			let drafterRank = document.getElementById('drafterlist').children[0].children[2].textContent; //전송할 기안자 직급
    			let drafterId = document.getElementById('drafterlist').children[0].children[0].textContent; //혹시몰라서 가지고있는 기안자 Id
    			let parentDrafter = drafterName+' '+drafterRank; 
    			console.log('기안자 이름직급',parentDrafter);
    			//결재자1,2,참조자 값 다른함수에서 설정한거 불러옴
    			console.log('결재자1 이름직급 ',payUserNR1);
    			console.log('결재자2 이름직급 ',payUserNR2);
    			opener.document.getElementById('drafter').textContent = parentDrafter;
    			//결재자1,2,참조자 값 전송
    			//payUserList1
    			opener.document.getElementById('payUserList1').children[0].textContent = payUserNR1;
    			opener.document.getElementById('payUserList1').children[1].textContent = payUser1;
    			opener.document.getElementById('payUserList1').children[2].textContent = payUserName1;
    			opener.document.getElementById('payUserList1').children[3].textContent = payUserRank1;
    			opener.document.getElementById('payUserList1').children[4].textContent = payUserDept1;
    			//payUserList2 
    			opener.document.getElementById('payUserList2').children[0].textContent = payUserNR2;
    			opener.document.getElementById('payUserList2').children[1].textContent = payUser2;
    			opener.document.getElementById('payUserList2').children[2].textContent = payUserName2;
    			opener.document.getElementById('payUserList2').children[3].textContent = payUserRank2;
    			opener.document.getElementById('payUserList2').children[4].textContent = payUserDept2;
    		}
  			window.close();
    	}
    	
    	if(window.opener.document.getElementById("payUserList1").children[0].textContent !== ""){
    		let trTag = document.createElement('tr');
    		let tdTag = document.createElement('td');
    		//부모단에 넘겨준 text값만 가져온것임.
    		let payUsersNR1 = window.opener.document.getElementById("payUserList1").children[0].textContent;
    		let payUsersId1 = window.opener.document.getElementById("payUserList1").children[1].textContent;
    		let payUsersName1 = window.opener.document.getElementById("payUserList1").children[2].textContent;
    		let payUsersRank1 = window.opener.document.getElementById("payUserList1").children[3].textContent;
    		let payUsersDept1 = window.opener.document.getElementById("payUserList1").children[4].textContent;
    		trTag.setAttribute("onmousedown","empInfo(this);");
    		//결재자1정보 있는 div태그생성
    		var str = '';
    		str += payUsersName1+" "+payUsersRank1+" "+payUsersDept1
    		str += "<div style='display:none'>"+payUsersId1+"</div>"
    	    str += "<div style='display:none'>"+payUsersName1+"</div>"
    	    str += "<div style='display:none'>"+payUsersRank1+"</div>"
    	    str += "<div style='display:none'>"+payUsersDept1+"</div>"
    	    tdTag.innerHTML += str;
    	    trTag.append(tdTag);
    		payUserList1.append(trTag);
			payUser1 = payUserList1.children[0].children[0].children[0].textContent;
    	}
    	if(window.opener.document.getElementById("payUserList2").children[0].textContent !== ""){
    		let trTag = document.createElement('tr');
    		let tdTag = document.createElement('td');
    		//부모단에 넘겨준 text값만 가져온것임.
    		let payUsersNR2 = window.opener.document.getElementById("payUserList2").children[0].textContent;
    		let payUsersId2 = window.opener.document.getElementById("payUserList2").children[1].textContent;
    		let payUsersName2 = window.opener.document.getElementById("payUserList2").children[2].textContent;
    		let payUsersRank2 = window.opener.document.getElementById("payUserList2").children[3].textContent;
    		let payUsersDept2 = window.opener.document.getElementById("payUserList2").children[4].textContent;
    		trTag.setAttribute("onmousedown","empInfo(this);");
    		//결재자2정보 있는 div태그생성
    		var str = '';
    		str += payUsersName2+" "+payUsersRank2+" "+payUsersDept2
    		str += "<div style='display:none'>"+payUsersId2+"</div>"
    	    str += "<div style='display:none'>"+payUsersName2+"</div>"
    	    str += "<div style='display:none'>"+payUsersRank2+"</div>"
    	    str += "<div style='display:none'>"+payUsersDept2+"</div>"
    	    tdTag.innerHTML += str;
    	    trTag.append(tdTag);
    		payUserList2.append(trTag);
    		payUser2 = payUserList2.children[0].children[0].children[0].textContent;
    	}
    </script>
</body>
</html>