<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
<link rel="icon" href="/img/bear.png" type="image/x-icon">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
		@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
		@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
		.tjs{
			font-family: 'TheJamsil', serif;/*웹 폰트 지정*/
			color:black;
		}
		.dohyeon{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			color:black;
		} 
		.dohyeonmenu{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			font-size : 25px;
			color:white;
		}
		.rightPad{
			padding-right:150px;
		}
		.nav li:hover{
  			background-color: #4fc09961;
  			border-radius:15px;
  		}
  		.nav li:hover a{
  			color:black;
  		}
  		.nav li{
  			transition: 0.5s;
  		}
  		a {
  			text-decoration : none !important;
  		}
  		ul {
			list-style:none;
	}
	.paging .active a {
		    background-color: #f00;
		    color: #fff;
	}
	.paymentuser{
		border : 1px solid black;
		text-align: center;
		font-weight: 600;
	}
	.custom-button:hover{
		color: black !important
	}
	.input-file-button{
  	  padding: 6px 25px;
	  background-color:#90ddb091;
	  border-radius: 4px;
	  color: black;
	  cursor: pointer;
	  position:absolute;
	  top: -6px;
	  left: 80px;
	}
	</style>
</head>
<body>
	<br>
	<div style="border: 3px solid gray ; border-radius: 10px;padding-left: 20px; width: 200px; height: 300px; margin-left:50px;margin-top: 30px; float:left; overflow: auto">
    <table class="tjs" style="text-align: center;width:180px; height:500px; border:1">
    	<thead>
	    	<tr>
	    		<th style="position: sticky;top: 0; "><font size="3" color="gray">구성원</font></th>
	    	</tr>
    	</thead>
    	<tbody id="EmpBody">
    		<tr class="payInfo" th:each="emp : ${payEmpList}" onmousedown="empInfo(this);trbackground(this);">
    			<td>
	    			[[${emp.name}]]  [[${emp.rank}]]  [[${emp.deptName}]]
	    			<div style="display:none">[[${emp.Id}]]</div>
	    			<div style="display:none">[[${emp.name}]]</div>
	    			<div style="display:none">[[${emp.rank}]]</div>
	    			<div style="display:none">[[${emp.deptName}]]</div>
    			</td>
    		</tr>
    	</tbody>
    </table>
    </div>
    <table style="width:300px; height:200px; display:none;">
    	<thead>
    		<tr>
	    		<th><font size="3" color="gray">기안자</font></th>
	    	</tr>
    	</thead>
    	<tbody id="drafterlist">
    		<tr>
    			<td>[[${userInfo.Id}]]</td>
    			<td>[[${userInfo.name}]]</td>
    			<td>[[${userInfo.rank}]]</td>
    			<td>[[${userInfo.deptName}]]</td>
    		</tr>
    	</tbody>
    </table>
    <table class="tjs" style="float:left; margin-left:28px ;margin-top:100px;">
    	<tbody>
    		<tr>
    			<td><button type="button" id="payUser" onclick="paySet()" class="tjs custom-button" 
						style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff; font-size: 17px;width: 100px;height:35px;"
						>결재자</button></td>
    		</tr>
    		<tr>
    			<td><button type="button" id="payDelete" onclick="userDel()" class="tjs custom-button" 
						style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff; font-size: 17px;width: 100px;height:35px;"
						>제외</button></td>
    		</tr>
    		<tr>
    			<td><button type="submit" id="payCheck" onclick="userSet()" class="tjs custom-button" 
						style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff; font-size: 17px;width: 100px;height:35px;"
						>확인</button></td>
    		</tr>
    	</tbody>
    </table>
    <div class="tjs" style="text-align: center;margin-top: 30px;margin-right: 50px;border: 3px solid gray ; border-radius: 10px;width:200px; height:300px; float:right;">
	    <table style="height:100px;text-align: center;">
	    	<thead>
	    		<tr style="position: absolute;">
		    		<th ><font style="margin-left:70px;" size="3" color="gray">결재자1</font></th>
		    	</tr>
	    	</thead>
	    	<tbody id="payUserList1" style="position: absolute;margin-left: 25px;margin-top: 50px;" >
	    		
	    	</tbody>
	    </table>
	    
	    <table style="height:100px;margin-top: 35px;text-align: center;">
	    	<thead>
	    		<tr style="position: absolute;">
		    		<th><font style="margin-left:70px;" size="3" color="gray">결재자2</font></th>
		    	</tr>
	    	</thead>
	    	<tbody id="payUserList2"  style="position: absolute;margin-left: 25px;margin-top: 50px;">
	    	
	    	</tbody>
	    </table>
    </div>
    <script>
    	var empName = '';
    	var empRank = '';
    	var empDept = '';
    	var empId = '';
    	/* var Me = document.getElementById('EmpBody').children[0].children[0].children[0];
    	console.log(Me.value); */
    	const drafter = document.getElementById('drafterlist').children[0].children[0].textContent;
    	console.log('drafter = ',drafter);
    	
    	
    	
    	var payUserNR1 = ''; //userSet()에서 사용할 결재자1이름과 직급
    	var payUser1 = ''; //ajax전송용 결재자1 id저장
    	var payUserName1 = '';
    	var payUserRank1 = '';
    	var payUserDept1 = '';
    	var payUserNR2 = ''; //userSet()에서 사용할 결재자2이름과 직급
    	var payUser2 = ''; //ajax전송용 결재자2 id저장
    	var payUserName2 = '';
    	var payUserRank2 = '';
    	var payUserDept2 = '';
    	var payUserList1 = document.getElementById('payUserList1'); //html tbody
		var payUserList2 = document.getElementById('payUserList2'); //html tbody
    	function empInfo(e){
    		console.log(e.children[0].textContent);
			empId = e.children[0].children[0].textContent;
    		empName = e.children[0].children[1].textContent;
			empRank = e.children[0].children[2].textContent;
			empDept = e.children[0].children[3].textContent;
			console.log('empId = ',empId);
			console.log('empName = ',empName);
			console.log('empRank = ',empRank);
			console.log('empDept = ',empDept);
    	}
    	function paySet(){
    		//push pop 사용해야됨 이미 있는 유저정보는 추가할필요없음
    		//$('.payInfo').css('background-color','white');
    		$('.payInfo').css('color','black');
    		//$('.setInfo').css('background-color','white');
    		$('.setInfo').css('color','black');
    		console.log('paySet 클릭');
    		var str = '';
    		let trTag = document.createElement('tr');
    		let tdTag = document.createElement('td');
    		trTag.setAttribute("onmousedown","empInfo(this);");
        		/* drafter = 기안자, payUser1 = 결재자1 payUser2 = 결재자2 */
        	if(drafter !== empId){
	    		if(payUser1 === ""){
					if(payUser2 !== empId){
		    			str = '';
		    			str += "<td class='setInfo'; onclick='tdbackground(this)';>"
			    		str += empName+" "+empRank+" "+empDept
			    		str += "<div style='display:none'>"+empId+"</div>"
			    	    str += "<div style='display:none'>"+empName+"</div>"
			    	    str += "<div style='display:none'>"+empRank+"</div>"
			    	    str += "<div style='display:none'>"+empDept+"</div>"
			    	    str += "</td>"
			    	    trTag.innerHTML += str;
			    		payUserList1.append(trTag);
		        		payUser1 = empId; //따로 저장해두는 값
		        		payUserName1 = empName;
		            	payUserRank1 = empRank;
		            	payUserDept1 = empDept;
		        		payUserNR1 = empName+' '+empRank; //결재문서창에서 보여줄 결재자1 이름직급
		        		console.log('payUserNR1 = ',payUserNR1);
	        		}
	    		}else if(payUser1 === empId){
	    			alert('결재자1에 이미 등록한 사원입니다. 결재자2에 등록이 불가능합니다.');
	    			return;
	    		}else if(payUser1 !== empId && !payUser2){
	    			console.log('결재자1은 있고 2는 없음');
	    			str = '';
	    			str += "<td class='setInfo'; onclick='tdbackground(this)';>"
	    			str += empName+" "+empRank+" "+empDept
		    		str += "<div style='display:none'>"+empId+"</div>"
		    	    str += "<div style='display:none'>"+empName+"</div>"
		    	    str += "<div style='display:none'>"+empRank+"</div>"
		    	    str += "<div style='display:none'>"+empDept+"</div>"
		    	    str += "</td>"
		    	    trTag.innerHTML += str;
		    		payUserList2.append(trTag);
		    		payUser2 = empId; //따로 저장해두는 값
		    		payUserName2 = empName;
		        	payUserRank2 = empRank;
		        	payUserDept2 = empDept;
		    		payUserNR2 = empName+' '+empRank; //결재문서창에서 보여줄 결재자2 이름직급
		    		console.log('payUserNR2 = ',payUserNR2);
	    		}else if(payUser2 === empId){
	    			alert('결재자2에 이미 등록한 사원입니다. 더이상 결재자 등록이 불가능합니다.')
	    			return;
	    		}else if(payUser1 !== "" && payUser2 !== ""){
	    			alert('결재자1 결재자2 모두 설정한 상태입니다.');
	    			return;
	    		}
        	}else{
        		alert('기안자는 결재자1, 결재자2에 등록 할 수 없습니다.');
        		return;
        	}
    	}
    	function userDel(){
    		console.log('userDel 클릭');
    		console.log('payUser1 = ',payUser1);
    		console.log('payUser2 = ',payUser2);
    		console.log('empId = ',empId);
    		if(payUser1 === empId){
				console.log(payUser1,' = ',empId,' 데이터 동일');
    			payUserList1.children[0].remove();
    			payUser1 = '';
    		}else if(payUser2 === empId){
				payUserList2.children[0].remove();
				payUser2 = '';
			}
    	}
    	function userSet(){
    		if(payUser1 === ''){
    			alert('결재자1이 없습니다. 등록해주세요.');
    			opener.document.getElementById('payUserList1').textContent = '';
    			return;
    		}else {
    			//여기서 ajax통신으로 위에서 결정한 값을 보내줘야함.
    			//기안자 값 설정,전송
    			alert('값 전송');
    			let drafterName = document.getElementById('drafterlist').children[0].children[1].textContent; //전송할 기안자 이름
    			let drafterRank = document.getElementById('drafterlist').children[0].children[2].textContent; //전송할 기안자 직급
    			let drafterId = document.getElementById('drafterlist').children[0].children[0].textContent; //혹시몰라서 가지고있는 기안자 Id
    			let parentDrafter = drafterName+' '+drafterRank; 
    			console.log('기안자 이름직급',parentDrafter);
    			//결재자1,2,참조자 값 다른함수에서 설정한거 불러옴
    			console.log('결재자1 이름직급 ',payUserNR1);
    			console.log('결재자2 이름직급 ',payUserNR2);
    			opener.document.getElementById('drafter').textContent = parentDrafter;
    			//결재자1,2,참조자 값 전송
    			//payUserList1
    			opener.document.getElementById('payUser1NameRank').textContent = payUserNR1;
    			opener.document.getElementById('payUserList1').children[0].textContent = payUserNR1;
    			opener.document.getElementById('payUserList1').children[1].textContent = payUser1;
    			opener.document.getElementById('payUserList1').children[2].textContent = payUserName1;
    			opener.document.getElementById('payUserList1').children[3].textContent = payUserRank1;
    			opener.document.getElementById('payUserList1').children[4].textContent = payUserDept1;
    			//payUserList2 
    			opener.document.getElementById('payUser2NameRank').textContent = payUserNR2;
    			opener.document.getElementById('payUserList2').children[0].textContent = payUserNR2;
    			opener.document.getElementById('payUserList2').children[1].textContent = payUser2;
    			opener.document.getElementById('payUserList2').children[2].textContent = payUserName2;
    			opener.document.getElementById('payUserList2').children[3].textContent = payUserRank2;
    			opener.document.getElementById('payUserList2').children[4].textContent = payUserDept2;
    		}
  			window.close();
    	}
    	
    	if(window.opener.document.getElementById("payUserList1").children[0].textContent !== ""){
    		let trTag = document.createElement('tr');
    		let tdTag = document.createElement('td');
    		//부모단에 넘겨준 text값만 가져온것임.
    		let payUsersNR1 = window.opener.document.getElementById("payUserList1").children[0].textContent;
    		let payUsersId1 = window.opener.document.getElementById("payUserList1").children[1].textContent;
    		let payUsersName1 = window.opener.document.getElementById("payUserList1").children[2].textContent;
    		let payUsersRank1 = window.opener.document.getElementById("payUserList1").children[3].textContent;
    		let payUsersDept1 = window.opener.document.getElementById("payUserList1").children[4].textContent;
    		trTag.setAttribute("onmousedown","empInfo(this);");
    		//결재자1정보 있는 div태그생성
    		var str = '';
    		str += payUsersName1+" "+payUsersRank1+" "+payUsersDept1
    		str += "<div style='display:none'>"+payUsersId1+"</div>"
    	    str += "<div style='display:none'>"+payUsersName1+"</div>"
    	    str += "<div style='display:none'>"+payUsersRank1+"</div>"
    	    str += "<div style='display:none'>"+payUsersDept1+"</div>"
    	    tdTag.innerHTML += str;
    	    trTag.append(tdTag);
    		payUserList1.append(trTag);
			payUser1 = payUserList1.children[0].children[0].children[0].textContent;
    	}
    	if(window.opener.document.getElementById("payUserList2").children[0].textContent !== ""){
    		let trTag = document.createElement('tr');
    		let tdTag = document.createElement('td');
    		//부모단에 넘겨준 text값만 가져온것임.
    		let payUsersNR2 = window.opener.document.getElementById("payUserList2").children[0].textContent;
    		let payUsersId2 = window.opener.document.getElementById("payUserList2").children[1].textContent;
    		let payUsersName2 = window.opener.document.getElementById("payUserList2").children[2].textContent;
    		let payUsersRank2 = window.opener.document.getElementById("payUserList2").children[3].textContent;
    		let payUsersDept2 = window.opener.document.getElementById("payUserList2").children[4].textContent;
    		trTag.setAttribute("onmousedown","empInfo(this);");
    		//결재자2정보 있는 div태그생성
    		var str = '';
    		str += payUsersName2+" "+payUsersRank2+" "+payUsersDept2
    		str += "<div style='display:none'>"+payUsersId2+"</div>"
    	    str += "<div style='display:none'>"+payUsersName2+"</div>"
    	    str += "<div style='display:none'>"+payUsersRank2+"</div>"
    	    str += "<div style='display:none'>"+payUsersDept2+"</div>"
    	    tdTag.innerHTML += str;
    	    trTag.append(tdTag);
    		payUserList2.append(trTag);
    		payUser2 = payUserList2.children[0].children[0].children[0].textContent;
    	}
    	function trbackground(e){
			//e.style.background = "aqua";
			e.style.color = "darkgreen";
			console.log("e = ",e);
    		//$('.payInfo').css('background-color','white');
		}
		function tdbackground(e){
			console.log("td e = ",e);
			e.style.color = "red";
			//e.style.background = "gray";
		}
    </script>
</body>
</html>