<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/paymentTiles}">
<head>
<link rel="stylesheet" href="/DataTables/datatables.css" />

<script src="/DataTables/datatables.js"></script>
<meta charset="UTF-8">
<title>결재 메인페이지</title>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
	
	.dohyeon{
		font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
		color:black;
		font-size : 20px;
	}
	#ulId li.active a.page-link {
    	background-color: #35A880;
    	border: 1px solid #35A880;
    	color:#fff
  	}
  	a {
  		text-decoration:none !important;
  		cursor:pointer;
  	}
	ul {
			list-style:none;
	}
	.paging .active a {
		    background-color: #f00;
		    color: #fff;
	}
	
	
</style>
</head>
<body>
<div layout:fragment="content">
	<div>
	  <h3 class="dohyeon" style="font-size:35px;margin-top:20px;">Groobear 전자결재</h3>
	  	<div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">진행중 결재문서 : <span class="count" id="getProgress" onclick="location.href='/pay/InProgressPay'">0건</span></div>
                                    <div class="stat-heading"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">완료된 결재문서 : <span class="count" id="comProgress" onclick="location.href='/pay/completePay'">0건</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">참조된 결재문서 : <span class="count" id="refProCount" onclick="location.href='pay/referrerPay'">0건</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	  	</div>
		<h5 class="dohyeon" style="margin-top: 20px; font-size:25px;">1) 결재중 문서 조회</h5>
		<button type="button" id="payDoc" class="dohyeon" onclick="location.href='/pay/paymentDoc'"
		style="position: absolute;font-size:18px;margin-bottom: 10px;margin-right: 10px;border: 0;width: 100px;height: 40px;top: 70px;right: 10px;background-color: #9fdfbea6;border-radius: 15px;color: #474747;">
			결재문서작성</button>
		<table id="dataTable" class="table table-hover dohyeon">
			<thead>
				<tr>
					<th>번호</th>
					<th>문서번호</th>
					<th>문서제목</th>
					<th>기안자</th>
					<th>작성일자</th>
					<th>결재</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pay,stat : ${InProgressList}" th:attr="onclick='window.location.href=\'/payInfoRead?payNo=' + ${pay.payNo} + '&docType='+${pay.docType}+'\''">
					<td th:text="${stat.count}"></td>
					<td th:text="${pay.payNo}"></td>
					<td>[[${pay.purpose}]]</td>
					<td>[[${pay.id}]]</td>
					<td th:text="${#dates.format(pay.issueDate, 'yyyy.MM.dd')}"></td>
					<td th:if="${ 
						(pay.approver2 == session.Id and pay.payStatus2== 'N') or 
						(pay.approver3 == session.Id and pay.payStatus2== 'Y')}">
						<span style="color:red">결재중</span>
					</td>
					<td th:unless="${ (pay.approver2 == session.Id and pay.payStatus2== 'N') or 
						(pay.approver3 == session.Id and pay.payStatus2== 'Y')}">결재중</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h5 class="dohyeon" style="margin-top: 20px; font-size:25px;">2) 완료된 문서 조회</h5>
		<table id="dataTable2" class="table table-hover dohyeon">
			<thead>
				<tr>
					<th>번호</th>
					<th>문서번호</th>
					<th>문서제목</th>
					<th>기안자</th>
					<th>작성일자</th>
					<th>결재</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pay,stat : ${completePaymentList}" th:attr="onclick='window.location.href=\'/payInfoRead?payNo=' + ${pay.payNo} + '&docType='+${pay.docType}+'\''">
					<td th:text="${stat.count}"></td>
					<td th:text="${pay.payNo}"></td>
					<td>[[${pay.purpose}]]</td>
					<td>[[${pay.id}]]</td>
					<td th:text="${#dates.format(pay.issueDate, 'yyyy.MM.dd')}"></td>
					<td th:if="${ 
						(pay.payStatus2== 'F') or 
						(pay.payStatus3== 'F')}">
						<span style="color:red">반려</span>
					</td>
					<td th:unless="${ (pay.payStatus3== 'F') or 
						(pay.payStatus2== 'F')}">완료</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h5 class="dohyeon" style="margin-top: 20px font-size:25px;;">3) 참조된 문서 조회</h5>
		<table id="dataTable2" class="table table-hover dohyeon">
			<thead>
				<tr>
					<th>번호</th>
					<th>문서번호</th>
					<th>문서제목</th>
					<th>기안자</th>
					<th>작성일자</th>
					<th>결재</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pay,stat : ${referrerList}" th:attr="onclick='window.location.href=\'/payInfoRead?payNo=' + ${pay.payNo} + '&docType='+${pay.docType}+'\''">
					<td th:text="${stat.count}"></td>
					<td th:text="${pay.payNo}"></td>
					<td>[[${pay.purpose}]]</td>
					<td>[[${pay.id}]]</td>
					<td th:text="${#dates.format(pay.issueDate, 'yyyy.MM.dd')}"></td>
					<td th:if="${ 
						(pay.payStatus2== 'F') or 
						(pay.payStatus3== 'F')}">
						<span style="color:red">반려</span>
					</td>
					<td th:unless="${ (pay.payStatus3== 'F') or 
						(pay.payStatus2== 'F')}">완료</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	let myId = '[[${session.Id}]]';
    let username = myId.split('@')[0];
    console.log("내이름 = "+username);
    
	getPayCount();
    function getPayCount(){
      $.ajax({
             url: "/getProCount", 
             method: "GET",
          contentType:"application/json; charset=utf-8",
          data: { username: username },
          success: function(data) {
             console.log('getPayCount',data);
             document.getElementById('getProgress').textContent = data+'건';
          },
          error: function(err) {
            console.log(err);
          }
      });
    }
    
	comPayCount();
    function comPayCount(){
      $.ajax({
             url: "/comProCount", 
             method: "GET",
          contentType:"application/json; charset=utf-8",
          data: { username: username },
          success: function(data) {
             console.log('comProgress',data);
             document.getElementById('comProgress').textContent = data+'건';
          },
          error: function(err) {
            console.log(err);
          }
      });
    }
    
    refProCount();
    function refProCount(){
      $.ajax({
             url: "/refProCount", 
             method: "GET",
          contentType:"application/json; charset=utf-8",
          data: { username: username },
          success: function(data) {
             console.log('RefProCount',data);
             document.getElementById('refProCount').textContent = data+'건';
          },
          error: function(err) {
            console.log(err);
          }
      });
    }
	$(document).ready( function () {
		$('#dataTable').DataTable({
			"dom": '<"top">rt<"bottom"p>',
			"pageLength":5
		});
	} );
	$(document).ready( function () {
		$('#dataTable2').DataTable({
			"dom": '<"top">rt<"bottom"p>',
			"pageLength":5
		});
	} );
	$(document).ready( function () {
		$('#dataTable3').DataTable({
			"dom": '<"top">rt<"bottom"p>',
			"pageLength":5
		});
	} );
	/* function goPage(p){
		location.href="payMain?page="+p;
			
	}
	function goPageCom(p){
		location.href="payMain?page="+p;
	}
	function goPageRef(p){
		location.href="payMain?page="+p;
	} */
	</script>
</div>
</body>
</html>