<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/paymentTiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<div>
		<form>
			<table style="float:right">
				<thead>
					<tr>
						<td>기안자</td>
						<td>결재자1</td>
						<td>결재자2</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:130px; height:100px; background-color:aquamarine">기안자사인1</td>
						<td style="width:130px; height:100px; background-color:MediumOrchid">결재자사인1</td>
						<td style="width:130px; height:100px; background-color:DeepSkyBlue">결재자사인2</td>
					</tr>
					<tr>
						<td id="drafter"></td>
						<td id="payUserList1"></td>
						<td id="payUserList2"></td>
					</tr>
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
						<td><input type="text" value="문서번호"></td>
					</tr>
					<tr>
						<td id="drafter">[[${userInfo.name}]] [[${userInfo.rank}]] [[${userInfo.deptName}]]</td>
					</tr>
					<tr>
						<td><button type="button" onclick="payUserSelect()">결재자선택</button></td>
					</tr>
					<tr>
						<td id="referrerList"></td>
					</tr>
					<tr>
						<td><input type="text" value="작성일자"></td>
					</tr>
					<tr>
						<td><select id="payType" onchange="paychange()">
							<option value="" selected>결재문서종류</option>
							<option value="1">운행일지</option>
							<option value="2">연차계</option>
							<option value="3">품의서</option>
						</select></td>
					</tr>
					<tbody id="payNum1" style="display:none">
						<tr><td><input type="text" id="carDate" value="sysdate"></td></tr>
						<tr><td>행선지 : <input type="text" id="carAddr" value="addr"></td></tr>
						<tr><td>운행전키로수 <input type="text" id="km1" value="1km"></td>
							<td>운행후키로수 <input type="text" id="km2" value="2km"></td>
						</tr>
						<tr><td>운행전 <button type="button" id="carfiles1">파일첨부</button></td></tr>
						<tr><td>운행후 <button type="button" id="carfiles2">파일첨부</button></td></tr>
						<tr><td><button type="submit">결재</button></td></tr>
					</tbody>
					<tbody id="payNum2" style="display:none">
						<tr><td><input type="text" id="off" value="날짜선택(필수)"></td></tr>
						<tr><td><input type="text" id="offtitle" value="제목(필수)"></td></tr>
						<tr><td><input type="text" id="offcontent" value="내용(필수)"></td></tr>
						<tr><td><button type="button" id="offfiles">첨부파일(선택)</button></td></tr>
						<tr><td><textarea id="offcomment" style="width:400px; height:200px">코멘트(선택)</textarea></td></tr>
						<tr><td><button type="submit">결재</button></td></tr>
					</tbody>
					<tbody id="payNum3" style="display:none">
						<tr><td><input type="text" id="robintitle" value="제목(필수)"></td></tr>
						<tr><td><input type="text" id="robincontent" value="내용(필수)"></td></tr>
						<tr><td><button type="button" id="robinofffiles">첨부파일(선택)</button></td></tr>
						<tr><td><textarea id="robincomment" style="width:400px; height:200px">코멘트(선택)</textarea></td></tr>
						<tr><td><button type="submit">결재</button></td></tr>
					</tbody>
				</tbody>
			</table>
		</form>
	</div>
	<script>
		function paychange(){
			var selectPay = document.getElementById('payType');
			var payNum1 = document.getElementById('payNum1');
			var payNum2 = document.getElementById('payNum2');
			var payNum3 = document.getElementById('payNum3');
			console.log(selectPay.value);
			if(selectPay.value == '1'){
				console.log('1번맞음');
				payNum2.style.display = 'none';
				payNum3.style.display = 'none';
				payNum1.style.display = 'block';
			}else if(selectPay.value == '2'){
				payNum1.style.display = 'none';
				payNum3.style.display = 'none';
				payNum2.style.display = 'block';
			}else if(selectPay.value == '3'){
				payNum1.style.display = 'none';
				payNum2.style.display = 'none';
				payNum3.style.display = 'block';
			}
		}
		function payUserSelect(){
			//부모에서 자식으로 넘겨줄 값들
			let drafter = document.getElementById('drafter').textContent;
			let payUserList1 = document.getElementById('payUserList1').textContent;
			let payUserList2 = document.getElementById('payUserList2').textContent;
			let referrerList = document.getElementById('referrerList').textContent;
			
			//넘겨줄때 tr td생성?하고 append하고? tr에 함수 넣어주고?			
			let trTag = document.createElement('tr');
			let tdTag = document.createElement('td');
			//payUserList1 은 그냥 보내주고
			//if조건에 payUserList2는 있는지 없는지 체크하고 있으면 보내주고
			//referrerList 는 있으면 보내주고 이거아마 paymentEmp에서 세개다 나눠서 올려야될듯?
			//자식창 키는거
			let openPayuser = window.open("/pay/paymentEmp","paymentEmp","width=700, height=500, resizable = no");
		}
	</script>
</body>
</html>