<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/paymentTiles}">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
	
	.dohyeon{
		font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
		font-size : 20px;
	}
	#ulId li.active a.page-link {
    	background-color: #35A880;
    	border: 1px solid #35A880;
    	color:#fff
  	}
  	a {
  		text-decoration:none !important;
  		cursor:pointer;
  	}
	ul {
			list-style:none;
	}
	.paging .active a {
		    background-color: #f00;
		    color: #fff;
	}
	.paymentuser{
		border : 1px solid black;
		text-align: center;
		font-weight: 600;
	}
	.custom-button:hover{
		color: black !important;
		text-decoration: none;
	}
	.input-file-button{
  	  padding: 6px 25px;
	  background-color:#90ddb091;
	  border-radius: 4px;
	  color: black;
	  cursor: pointer;
	  position:absolute;
	  top: -6px;
	  left: 80px;
	}
	td {
		width:165px;
		height:50px;
	}
	.tdbd {
		background-color: lightslategray;		
	}
	input[type="Text"],textarea{
		width:100%;
	}
</style>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
<div layout:fragment="content">
<div>
	<h3 class="tjs" style="font-size:35px;margin-top:20px;display:block">Groobear 문서작성</h3>
</div>
<div>
	<button id="childClick" type="button" onclick="payUserSelect();" class="custom-button" 
	style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 100px;height:35px;"
	>결재자선택</button>
</div>
<div>
	<select id="payType" onchange="paychange()">
		<option value="d" selected>결재문서종류</option>
		<option value="a">운행일지</option>
		<option value="b">연차계</option>
		<option value="c">품의서</option>
	</select>
</div>
<table class="tjs" style="margin-top:10px; width:995px; border:1px solid black;">
	<tbody id="payUserForm" style="display:none" class="paymentuser">
		<tr>
			<td style="height:30px;"></td>
			<td style="height:30px;"></td>
			<td style="height:30px;"></td>
			<td class="paymentuser" style="height:30px;">기안자</td>
			<td class="paymentuser" style="height:30px;">결재자</td>
			<td class="paymentuser" style="height:30px;">결재자</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="paymentuser" rowspan="2"></td>
			<td class="paymentuser" rowspan="2"></td>
			<td class="paymentuser" rowspan="2"></td>
		</tr>
		<tr>
			<td></td>
			<td rowspan="2" colspan="2" id="selectTitle"></td>
		</tr>
		<tr>
			<td style="height:30px;"></td>
			<td class="paymentuser" style="height:30px;">[[${userInfo.name}]]</td>
			<td class="paymentuser" style="height:30px;" id="payUser1NameRank"></td>
			<td class="paymentuser" style="height:30px;" id="payUser2NameRank"></td>
		</tr>
		<!-- 공통 -->
		<tr>
			<td class="tdbd">문서번호</td>
			<td>[[${paymentNo}]]</td>
			<td class="tdbd">작성일자</td>
			<td><input type="date" id="now_date" readonly></td>
			<td class="tdbd">작성양식</td>
			<td><input type="text" id="selectValue" readonly></td>
		</tr>
	
		<tr>
			<td class="tdbd">부서</td>
			<td>[[${userInfo.deptName}]]</td>
			<td class="tdbd">직책</td>
			<td>[[${userInfo.rank}]]</td>
			<td class="tdbd">기안자</td>
			<td>[[${userInfo.name}]]</td>
		</tr>
		
		<tr>
			<td class="tdbd"><input id="referrerClick" value="참조자선택" type="text" onclick="referrerSelect();" class="custom-button" 
				style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 100px;height:35px;"
				></td>
			<td id="referrerAllList1"></td>
			<td id="referrerAllList2"></td>
			<td id="referrerAllList3"></td>
		</tr>
	</tbody>
	
	<!-- 운행일지 -->
	<tbody id="payNum1" class="paymentuser" style="display:none">
		<tr>
			<td class="tdbd">일자</td>
			<td><input type="date" id="carDate" value="sysdate"></td>
			<td class="tdbd">운행전</td>
			<td><input type="text" id="km1" onchange="kmChange()"></td>
			<td class="tdbd">운행후</td>
			<td><input type="text" id="km2" onchange="kmChange()"></td>
		</tr>
		<tr>
			<td class="tdbd">목적</td>
			<td colspan="2"><input type="text" id="purpose"></td>
			<td class="tdbd">행선지</td>
			<td colspan="2"><input type="text" id="carAddr" value="addr"></td>
		</tr>
		<tr>
			<td class="tdbd">운행전첨부</td>
			<!-- 파일첨부 -->
			<td>
				<div class="bigPictureWrapper">
					<div class="bigPicture"></div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default1">
							<div class="row">
								<div class="col-lg-12" style="vertical-align: middle;">
									<div class="panel-heading">첨부파일</div>
									<div class="panel-body1">
										<div class="form-group uploadDiv1">
											<label class="input-file-button" for="input-file">파일 선택</label>
											<input type="file" name="uploadFile1" id="input-file" multiple style="display:none;">
										</div>
										<div class="uploadResult1">
											<ul></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
			<td class="tdbd">운행후첨부</td>
			<td>
				<div class="bigPictureWrapper2">
					<div class="bigPicture2"></div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default1">
							<div class="row">
								<div class="col-lg-12" style="vertical-align: middle;">
									<div class="panel-heading2">첨부파일</div>
									<div class="panel-body2">
										<div class="form-group uploadDiv2">
											<label class="input-file-button" for="input-file" >파일 선택</label>
											<input type="file" name="uploadFile2" id="input-file" multiple style="display:none;">
										</div>
										<div class="uploadResult2">
											<ul></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
			<td class="tdbd">전도금</td>
			<td><input type="text" id="imprest" readonly></td>
		</tr>
	</tbody>
	<!-- 운행일지 종료-->
	<!-- 연차계 -->
	<tbody id="payNum2" style="display:none">
		<tr>
			<td>연차시작일</td>
			<td colspan="2"><input type="date" id="off1"></td>
			<td>연차복귀일</td>
			<td colspan="2"><input type="date" id="off2"><td>
		</tr>
		<tr>
			<td>제목</td>
			<td colspan="5"><input type="text" id="offtitle"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td colspan="5"><textarea id="offcontent"></textarea></td>
		</tr>
		<tr>
			<td>첨부파일</td>
			<td colspan="5">
				<div class="bigPictureWrapper2">
					<div class="bigPicture2"></div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default1">
							<div class="row">
								<div class="col-lg-12" style="vertical-align: middle;">
									<div class="panel-heading3">첨부파일</div>
									<div class="panel-body3">
										<div class="form-group uploadDiv3">
											<label class="input-file-button" for="input-file" >파일 선택</label>
											<input type="file" name="uploadFile3" id="input-file" multiple style="display:none;">
										</div>
										<div class="uploadResult3">
											<ul></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>

	<!-- 품의서 -->
	<tbody id="payNum3" style="display:none">
		<tr>
			<td>제목</td>
			<td colspan="5"><input type="text" id="robintitle"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td colspan="5"><textarea id="robincontent"></textarea></td>
		</tr>
		<tr>
			<td>첨부파일</td>
			<td colspan="5">
				<div class="bigPictureWrapper2">
					<div class="bigPicture2"></div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default1">
							<div class="row">
								<div class="col-lg-12" style="vertical-align: middle;">
									<div class="panel-heading4">첨부파일</div>
									<div class="panel-body4">
										<div class="form-group uploadDiv4">
											<label class="input-file-button" for="input-file" >파일 선택</label>
											<input type="file" name="uploadFile4" id="input-file" multiple style="display:none;">
										</div>
										<div class="uploadResult4">
											<ul></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
	
</table>
<div>
	<button type="button"
			id = "superSend"
			onclick="payNumSend()"
			class="custom-button" 
			style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;
				   box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 70px;height: 45px;font-size: 20px;display:none"
	>결재</button>
</div>


<table style="display: none;">
	<tbody>
<tr id="drafter" class="paymentuser">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
<tr id="payUserList1">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr id="payUserList2">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr id="referrerList">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tbody>
</table>

		<!-- 	<tr style="display:inline-block">
				<td style="width:131px" class="paymentuser">기안자</td>
				<td style="width:133px" class="paymentuser">결재자1</td>
				<td style="width:133px" class="paymentuser">결재자2</td>
			</tr>
		<tbody class="paymentuser">
			<tr style="display:inline-block" class="paymentuser">
				<td style="width:130px; height:100px; background-color:white"></td>
			</tr>
			<tr style="display:inline-block" class="paymentuser">
				<td style="width:130px; height:100px; background-color:white"></td>
			</tr>
			<tr style="display:inline-block" class="paymentuser">
				<td style="width:130px; height:100px; background-color:white"></td>
			</tr>
			<tr id="drafter" style="display:inline-block;width:130px;height: 30px;" class="paymentuser">
				<td style="text-align: center; position:absolute;left: 655px;top:213px;">[[${userInfo.name}]] [[${userInfo.rank}]]</td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
			</tr>
			<tr id="payUserList1" style="display:inline-block;width:130px;height: 30px;" class="paymentuser">
				<td style="text-align: center; position:absolute;left: 781px;top:213px;"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
			</tr>
			<tr id="payUserList2" style="display:inline-block;width:131px;height: 30px;" class="paymentuser">
				<td style="text-align: center; position:absolute;left: 922px;top:213px;"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
			</tr>
		</tbody>
	</table>
	<div style="width:1000px;float:left">
	<table style="float:left;width:1000px;" class="table table-hover tjs">
		<tbody style="width:100%; border-bottom: 0px;">
			<tr style="height:50px;">
				<td>문서번호 : [[${paymentNo}]]</td>
			</tr>
			<tr  style="width:1000px;height:50px;">
				<td id="drafter">기안자 : [[${userInfo.name}]] [[${userInfo.rank}]] [[${userInfo.deptName}]]</td>
			</tr>
			<tr>
				<td><button id="childClick" type="button" onclick="payUserSelect();" class="custom-button" 
				style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 100px;height:35px;"
				>결재자선택</button></td>
			</tr>
			<tr style="height:50px;">
				<td><button id="referrerClick" type="button" onclick="referrerSelect();" class="custom-button" 
				style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 100px;height:35px;"
				>참조자선택</button></td>
			</tr>
			<tr id="referrerList" style="border-top: 0;">
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="width:100px;"></td>
				<td style="width:100px;position:absolute;left: 80px;"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="width:100px; position:absolute; left: 140px;"></td>
				<td style="width:100px; position:absolute; left: 198px;"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="display:none"></td>
				<td style="width:100px; position:absolute; left: 268px;"></td>
				<td style="width:100px; position:absolute; left: 324px;"></td>
				<td style="display:none"></td>
			</tr>
			<tr>
				<td>작성일자 <input type="date" id="now_date" readonly></td>
			</tr>
			<tr style="border-bottom: 0px;">
				<td><select id="payType" onchange="paychange()">
					<option value="" selected>결재문서종류</option>
					<option value="a">운행일지</option>
					<option value="b">연차계</option>
					<option value="c">품의서</option>
				</select></td>
			</tr>
			<tbody id="payNum1" style="display:none; width:1000px">
				<tr><td><input type="date" id="carDate" value="sysdate"></td></tr>
				<tr><td><span style="width:100px; display: inline-block;">행선지</span><input type="text" id="carAddr" value="addr"></td></tr>
				<tr><td><span style="width:100px; display: inline-block;">운행전 키로수</span><input type="text" id="km1" onchange="kmChange()"><br></td></tr>
				<tr><td><span style="width:100px; display: inline-block;">운행후 키로수</span><input type="text" id="km2" onchange="kmChange()"></td></tr>
				<tr><td><span style="width:100px; display: inline-block;">전도금</span><input type="text" id="imprest" readonly></td></tr>
				<tr><td><span style="width:100px; display: inline-block;">목적</span><input type="text" id="purpose"></td></tr>
				<tr><td>
					<div class="bigPictureWrapper">
						<div class="bigPicture">
						</div>
					</div>
					<div class="row">
			            <div class="col-lg-12">
			                <div class="panel panel-default1">
			                    <div class="panel-heading1">운행전</div>
			                    <div class="row">
	            				<div class="col-lg-12" style="vertical-align: middle;">
								<div class="panel-heading" style="top: -20px; margin-top:14px;">첨부파일</div>
			                    <div class="panel-body1">
			                        <div class="form-group uploadDiv1">
										<label class="input-file-button" for="input-file" style="margin-top:14px;">
		                                파일 선택
		                          		</label>
			                            <input type="file" name="uploadFile1" id="input-file" multiple style="display:none;">
			                        </div>
			                        <div class="uploadResult1">
			                            <ul>
			
			                            </ul>
			                        </div>
			                    </div>
			                    </div>
			                    </div>
			                </div>
			            </div>
			        </div>
		        </td></tr>
				<tr><td>
					<div class="row">
			            <div class="col-lg-12">
			                <div class="panel panel-default2">
			                    <div class="panel-heading2">운행후</div>
			                    <div class="row">
	            				<div class="col-lg-12" style="vertical-align: middle;">
								<div class="panel-heading" style="top: -20px; margin-top:14px;">첨부파일</div>
			                    <div class="panel-body2">
			                        <div class="form-group uploadDiv2">
										<label class="input-file-button" for="input-file" style="margin-top:14px;">
		                                파일 선택
		                          		</label>
			                            <input name="uploadFile2" type="file" id="input-file" multiple style="display:none;">
			                        </div>
			                        <div class="uploadResult2">
			                            <ul>
			
			                            </ul>
			                        </div>
			                    </div>
			                    </div>
			                    </div>
			                </div>
			            </div>
			        </div>
		        </td></tr>
				<tr><td><button type="button" onclick="payNumSend1()" class="custom-button" 
				style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 100px;height:35px;"
				>결재</button></td></tr>
			</tbody>
			<tbody id="payNum2" style="display:none;width:1000px;vertical-align: middle;">
				<tr><td><input type="date" id="off1">(연차시작일)</td></tr>
				<tr><td><input type="date" id="off2">(복귀일)</td></tr>
				<tr><td><input type="text" id="offtitle" style="width:400px;"></td></tr>
				<tr><td><textarea id="offcontent" style="width:400px; height:200px"></textarea></td></tr>
				<tr><td>
					<div class="row">
          				<div class="col-lg-12" style="vertical-align: middle;">
						<div class="panel-heading" style="top: -20px; margin-top:14px;">첨부파일</div>
					<div class="panel-body3" style="vertical-align: middle;">
                       <div class="form-group uploadDiv3" style="vertical-align: middle;">
						<label class="input-file-button" for="input-file" style="margin-top:14px;">
                              파일 선택
                        		</label>
                           <input name="uploadFile3" type="file" id="input-file" multiple style="display:none;">
                       </div>
                       <div class="uploadResult3">
                           <ul>

                           </ul>
                       </div>
                   	</div>
                   	</div>
                   	</div>
                   </td></tr>
				<tr style="display: none;"><td><textarea id="offcomment" style="width:1000px; height:100px"></textarea></td></tr>
				<tr><td><button type="button" onclick="payNumSend2()" class="custom-button" 
				style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 100px;height:35px;"
				>결재</button></td></tr>
			</tbody>
			<tbody id="payNum3" style="display:none">
				<tr><td><input type="text" id="robintitle" style="width:400px;"></td></tr>
				<tr><td><textarea id="robincontent" style="width:1000px; height:200px"></textarea></td></tr>
				<tr><td>
					<div class="row">
          				<div class="col-lg-12" style="vertical-align: middle;">
					<div class="panel-heading" style="top: -20px; margin-top:14px;">첨부파일</div>
					<div class="panel-body4">
                       <div class="form-group uploadDiv4">
						<label class="input-file-button" for="input-file" style="margin-top:14px;">
                              파일 선택
                        		</label>
                           <input name="uploadFile4" type="file" id="input-file" multiple style="display:none;">
                       </div>
                       <div class="uploadResult4">
                           <ul>

                           </ul>
                       </div>
                   	</div>
                   	</div>
                   	</div>
                   </td></tr>
				<tr style="display: none;"><td><textarea id="robincomment" style="width:400px; height:100px"></textarea></td></tr>
				<tr><td><button type="button" onclick="payNumSend3()" class="custom-button" 
				style="border-radius: 10px;background-color: #399f61;border-color: #399f6100;box-shadow: 0.5px 1.5px 1.5px 1.5px lightgray;color: #fff;width: 70px;height: 45px;font-size: 20px;"
				>결재</button></td></tr>
			</tbody>
		</tbody>
	</table>
	</div> -->
	

<!-- 셀렉트 박스 선택 -->	
<script>
var selectPay = document.getElementById('payType');
var payNum1 = document.getElementById('payNum1');
var payNum2 = document.getElementById('payNum2');
var payNum3 = document.getElementById('payNum3');
var payUserForm = document.getElementById('payUserForm');
	function paychange(){
		if(selectPay.value == 'a'){
			document.getElementById('selectTitle').textContent = "운행일지작성";
			console.log('a맞음');
			$(payNum2).hide() //.style.display = 'none';
			$(payNum3).hide() //.style.display = 'none';
			payUserForm.style.display = 'block';
			payNum1.style.display = 'block';
			superSend.style.display = 'block';
			pay2reset();
			pay3reset();
			payNum2.querySelector('textarea').value = '';
			payNum3.querySelector('textarea').value = '';
			document.getElementById('selectValue').value = '운행일지';

		}else if(selectPay.value == 'b'){
			document.getElementById('selectTitle').textContent = "연차계작성"
			payUserForm.style.display = 'block';
			payNum1.style.display = 'none';
			payNum3.style.display = 'none';
			payNum2.style.display = 'block';
			superSend.style.display = 'block';
			pay1reset();
			pay3reset();
			payNum3.querySelector('textarea').value = '';
			document.getElementById('selectValue').value = '연차계';
			
		}else if(selectPay.value == 'c'){
			document.getElementById('selectTitle').textContent = "품의서작성";
			payUserForm.style.display = 'block';
			payNum1.style.display = 'none';
			payNum2.style.display = 'none';
			payNum3.style.display = 'block';
			superSend.style.display = 'block';
			pay1reset();
			pay2reset();
			payNum2.querySelector('textarea').value = '';
			document.getElementById('selectValue').value = '품의서';

		}else if(selectPay.value == 'd'){
			payUserForm.style.display = 'none';
			payNum1.style.display = 'none';
			payNum2.style.display = 'none';
			payNum3.style.display = 'none';
			superSend.style.display = 'none';
			pay1reset();
			pay2reset();
			pay3reset();
			document.getElementById('selectValue').value = '';
			payNum2.querySelector('textarea').value = '';
			payNum3.querySelector('textarea').value = '';
		}
	}
	
	function pay1reset() {
		let pay1values = payNum1.querySelectorAll('input');
		pay1values.forEach(pay1value => {
			pay1value.value = '';
		});
	};
	function pay2reset() {
		let pay2values = payNum2.querySelectorAll('input');
		pay2values.forEach(pay2value => {
			pay2value.value = '';
		});
	};
	function pay3reset() {
		let pay3values = payNum3.querySelectorAll('input');
		pay3values.forEach(pay3value => {
			pay3value.value = '';
		});
	};
</script>

<script>
	function payNumSend() {
		if(payType.value == 'a') {
			payNumSend1();
		} else if (payType.value == 'b') {
			payNumSend2();
		} else if (payType.value == 'c') {
			payNumSend3();
		};
	};
</script>
	
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		let openPayuser;
		let openReferreruser;
		let payUserList1 = document.getElementById('payUserList1').children[1].textContent;
		let payUserList2 = document.getElementById('payUserList2').children[1].textContent;
		let referrerList = document.getElementById('referrerList');
		let referrer1 = '';
		let referrer2 = '';
		let referrer3 = '';
		let referrerInfo = '';
		let drafter = /*[[${userInfo.id}]]*/
		let payNo = /*[[${paymentNo}]]*/
		
		console.log('payNo',payNo);
		console.log('drafter = ',drafter);
		//select 번호
		var selectPay = document.getElementById('payType');
		var payNum1 = document.getElementById('payNum1');
		var payNum2 = document.getElementById('payNum2');
		var payNum3 = document.getElementById('payNum3');
		var payUserForm = document.getElementById('payUserForm');
		//문서 데이터 변수
		document.getElementById('now_date').valueAsDate = new Date();
		let nowDate = document.getElementById('now_date').value;
		console.log(nowDate);
		//운행일지 ajax전송용 데이터
		let carDate = document.getElementById('carDate').value;
		let carAddr = document.getElementById('carAddr').value;
		let km1 = document.getElementById('km1').value;
		let km2 = document.getElementById('km2').value;
		let imprest = document.getElementById('imprest').value;
		let purpose = document.getElementById('purpose').value;
		let car1uploadPath = '';
		let car1uuid = '';
		let car1fileName = '';
		let car2uploadPath = '';
		let car2uuid = '';
		let car2fileName = '';
		//연차계 ajax전송용 데이터
		let off1 = document.getElementById('off1').value;
		let off2 = document.getElementById('off2').value;
		let offtitle = document.getElementById('offtitle').value;
		let offcontent = document.getElementById('offcontent').value;
		let offcomment = document.getElementById('offcomment').value;
		let offuuid = '';
		let offuploadPath = '';
		let offfileName = '';
		
		//품의서 ajax전송용 데이터
		let robintitle = document.getElementById('robintitle').value;
		let robincontent = document.getElementById('robincontent').value;
		let robincomment = document.getElementById('robincomment').value;
		let robinuuid = '';
		let robinuploadPath = '';
		let robinfileName = '';
		function kmChange(){
	    	km1 = document.getElementById('km1').value;
			km2 = document.getElementById('km2').value;
			imprest = ((km2*1)-(km1*1))*1500;
			document.getElementById('imprest').value = imprest;
	    }
		
		function referrerSelect(){
			var screenWidth = window.screen.width;
        	var screenHeight = window.screen.height;
			var left = (screenWidth - 700) / 2;
	        var top = (screenHeight - 500) / 2;
	        var options = "width=700"+", height=500"+", resizable=no, scrollbars=no, top=" + top + ", left=" + left;
			//참조자 등록하는 자식창 열기
			openReferreruser = window.open("/pay/referrerEmp","referrerEmp",options);
		}
		function payUserSelect(){
			//결재자 등록하는 자식창 열기
			var screenWidth = window.screen.width;
        	var screenHeight = window.screen.height;
			var left = (screenWidth - 700) / 2;
	        var top = (screenHeight - 500) / 2;
	        var options = "width=700"+", height=500"+", resizable=no, scrollbars=no, top=" + top + ", left=" + left;
			openPayuser = window.open("/pay/paymentEmp","paymentEmp",options);
			console.log('실행됨?');
		}
		//자식창 닫았을때 데이터 저장
		//운행일지
		function payNumSend1(){
			carDate = document.getElementById('carDate').value;
			carAddr = document.getElementById('carAddr').value;
			km1 = document.getElementById('km1').value;
			km2 = document.getElementById('km2').value;
			imprest = ((km2)*1 - (km1)*1)*1500;
			purpose = document.getElementById('purpose').value;
			payUserList1 = document.getElementById('payUserList1').children[1].textContent;
			payUserList2 = document.getElementById('payUserList2').children[1].textContent;
			if(payUserList1 === ''){
				alert('결재자1이 없습니다 반드시 등록하세요');
				return;
			}
			if(carDate === ''){
				alert('운행일자를 지정하지 않았습니다 반드시 등록하세요');
				return;
			}
			if(carAddr === ''){
				alert('행선지를 등록하지 않았습니다 반드시 등록하세요');
				return;
			}
			if((km1 ==='') || (km2 ==='') ){
				alert('운행 전,후 등의 값을 넣지 않았습니다 반드시 등록하세요');
				return;
			}
			if(purpose === ''){
				alert('사유를 적지 않앗습니다 반드시 등록하세요');
				return;
			}
			if(referrerList.children[1].textContent !== '' && 
					referrerList.children[6].textContent !== '' &&
					referrerList.children[11].textContent !== ''){
					referrer1 = referrerList.children[1].textContent;
					referrer2 = referrerList.children[6].textContent;
					referrer3 = referrerList.children[11].textContent;
					referrerInfo = referrer1+','+referrer2+','+referrer3;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent !== '' &&
				referrerList.children[11].textContent === ''){
				referrer1 = referrerList.children[1].textContent;
				referrer2 = referrerList.children[6].textContent;
				referrerInfo = referrer1+','+referrer2;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent === '' && 
				referrerList.children[11].textContent === ''){
				referrerInfo = referrerList.children[1].textContent;
			}
			//파일 보내는 ajax 따로써야됨
			if(payUserList1 !==''){
				//controller에 전송하는 운행일지 데이터 값
				$.ajax({
	    			url: "/paymentDocLog",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			    	payNo : payNo,
						operDate : carDate,
						docType : selectPay.value,
						id : drafter,
						imprest : imprest,
						purpose : purpose,
						approver2 : payUserList1,
						approver3 : payUserList2,
						referrer : referrerInfo,
						destination : carAddr,
						befored : km1,
						afterd : km2
	  			    }),
	  			    async : false,
	  			    success: function(data) {
	  			    	console.log(data);
	  			    	location.href="/pay/payMain";
	  			    	//알림2 payUserList1(2번 결재자)
	  			    	alarmClient.publish({
				            destination: "/alarmCondition/payAlm/"+payUserList1,
				            body: JSON.stringify({
				               'id' : payUserList1
				            })
				      	});
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
				//controller에 전송하는 운행일지 첨부파일 1번
				$.ajax({
	    			url: "/logInsert",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			      payNo : payNo,
	  			      uuid : car1uuid,
	  			      uploadPath : car1uploadPath,
	  			      fileName : car1fileName,
	  			      fileType : 1
	  			    }),
	  			    success: function(data) {
	  			    	console.log(data);
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
				//controller에 전송하는 운행일지 첨부파일 2번
				$.ajax({
	    			url: "/logInsert",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			      payNo : payNo,
	  			      uuid : car2uuid,
	  			      uploadPath : car2uploadPath,
	  			      fileName : car2fileName,
	  			      fileType : 1
	  			    }),
	  			    success: function(data) {
	  			    	console.log(data);
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
			}
		}
		//연차계
		function payNumSend2(){
			off1 = document.getElementById('off1').value;
			off2 = document.getElementById('off2').value;
			offtitle = document.getElementById('offtitle').value;
			offcontent = document.getElementById('offcontent').value;
			offcomment = document.getElementById('offcomment').value;
			payUserList1 = document.getElementById('payUserList1').children[1].textContent;
			payUserList2 = document.getElementById('payUserList2').children[1].textContent;
			if(payUserList1 === ''){
				alert('결재자1이 없습니다 반드시 등록하세요');
				return;
			}
			if(off1 === ''){
				alert('시작일을 등록하지 않았습니다 반드시 등록하세요');
				return;
			}
			if(off2 === ''){
				alert('복귀일을 등록하지 않았습니다 반드시 등록하세요');
				return;
			}
			if(offtitle === ''){
				alert('제목을 등록하지 않았습니다 반드시 등록하세요');
				return;
			}
			if(offcontent === ''){
				alert('내용을 등록하지 않았습니다 반드시 등록하세요');
				return;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent !== '' &&
				referrerList.children[11].textContent !== ''){
				referrer1 = referrerList.children[1].textContent;
				referrer2 = referrerList.children[6].textContent;
				referrer3 = referrerList.children[11].textContent;
				referrerInfo = referrer1+','+referrer2+','+referrer3;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent !== '' &&
				referrerList.children[11].textContent === ''){
				referrer1 = referrerList.children[1].textContent;
				referrer2 = referrerList.children[6].textContent;
				referrerInfo = referrer1+','+referrer2;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent === '' && 
				referrerList.children[11].textContent === ''){
				referrerInfo = referrerList.children[1].textContent;
			}
			
			if(payUserList1 !==''){
				//controller에 전송하는 운행일지 데이터 값
				$.ajax({
	    			url: "/paymentDocOff",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			    	payNo : payNo,
						docType : selectPay.value,
						id : drafter,
						title : offtitle,
						content : offcontent,
						com : offcomment,
						approver2 : payUserList1,
						approver3 : payUserList2,
						referrer : referrerInfo,
						useDate : off1,
						returnDate : off2
	  			    }),
	  			    async : false,
	  			    success: function(data) {
	  			    	console.log(data);
	  			    	location.href="/pay/payMain";
	  			    	//알림3 payUserList1(결재자2번)
	  			    	alarmClient.publish({
				            destination: "/alarmCondition/payAlm/"+payUserList1,
				            body: JSON.stringify({
				               'id' : payUserList1
				            })
				      	});
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
				//controller에 전송하는 운행일지 첨부파일 1번
				$.ajax({
	    			url: "/logInsert",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			    	payNo : payNo,
	  			    	uuid : offuuid,
	  			    	uploadPath : offuploadPath,
	  			    	fileName : offfileName
	  			    }),
	  			    success: function(data) {
	  			    	console.log(data);
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
			}
		}
		//품의서
		function payNumSend3(){
			robintitle = document.getElementById('robintitle').value;
			robincontent = document.getElementById('robincontent').value;
			robincomment = document.getElementById('robincomment').value;
			payUserList1 = document.getElementById('payUserList1').children[1].textContent;
			payUserList2 = document.getElementById('payUserList2').children[1].textContent;
			if(payUserList1 === ''){
				alert('결재자1이 없습니다 반드시 등록하세요');
				return;
			}
			if(robintitle === ''){
				alert('제목을 입력하지 않았습니다 반드시 입력하세요');
				return;
			}
			if(robintitle === ''){
				alert('내용을 입력하지 않았습니다 반드시 입력하세요');
				return;
			}
			if(referrerList.children[1].textContent !== '' && 
					referrerList.children[6].textContent !== '' &&
					referrerList.children[11].textContent !== ''){
					referrer1 = referrerList.children[1].textContent;
					referrer2 = referrerList.children[6].textContent;
					referrer3 = referrerList.children[11].textContent;
					referrerInfo = referrer1+','+referrer2+','+referrer3;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent !== '' &&
				referrerList.children[11].textContent === ''){
				referrer1 = referrerList.children[1].textContent;
				referrer2 = referrerList.children[6].textContent;
				referrerInfo = referrer1+','+referrer2;
			}
			if(referrerList.children[1].textContent !== '' && 
				referrerList.children[6].textContent === '' && 
				referrerList.children[11].textContent === ''){
				referrerInfo = referrerList.children[1].textContent;
			}
			if(payUserList1 !==''){
				//controller에 전송하는 운행일지 데이터 값
				$.ajax({
	    			url: "/paymentDocRobin",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			    	payNo : payNo,
						docType : selectPay.value,
						id : drafter,
						approver2 : payUserList1,
						approver3 : payUserList2,
						referrer : referrerInfo,
						title : robintitle,
						content : robincontent
	  			    }),
	  			    async : false,
	  			    success: function(data) {
	  			    	console.log(data);
	  			    	location.href="/pay/payMain";
	  			   		// 알림4 payUserList1(결재자 2번)
	  			    	alarmClient.publish({
				            destination: "/alarmCondition/payAlm/"+payUserList1,
				            body: JSON.stringify({
				               'id' : payUserList1
				            })
				      	});
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
				//controller에 전송하는 연차 첨부파일 1번
				$.ajax({
	    			url: "/logInsert",
	  			    method: "POST",
	  			    contentType:"application/json; charset=utf-8",
	  			    data: JSON.stringify({
	  			      payNo : payNo,
	  			      uuid : robinuuid,
	  			      uploadPath : robinuploadPath,
	  			      fileName : robinfileName
	  			    }),
	  			    success: function(data) {
	  			    	console.log(data);
	  			    },
	  			    error: function(err) {
						console.log(err);
	  			    }	
	    		});
			}
		}
		//넣은 파일 미리 보여주는 함수
		function showUploadResult1(uploadResultArr){
		  if(!uploadResultArr || uploadResultArr.length == 0){return ;}
		  var uploadUL1 = $(".uploadResult1 ul");
		  var str = "";
		  
		  $(uploadResultArr).each(function(i, obj){
			   //image type
		        if(obj.image){
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+ "/s_"+obj.uuid +"_"+obj.fileName);
		          str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          str += "<img src='/display?fileName="+fileCallPath+"'>";
		          str += "</div>";
		          str +"</li>";
		        }else{
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+"/"+ obj.uuid +"_"+obj.fileName);            
		          var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
		              
                  str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          str += "<img src='img/attach.png/' style='height:100px; width:100px;'></a>";
		          str += "</div>";
		          str +"</li>";
		        } 
		  });
		  uploadUL1.append(str);
	    }
		function showUploadResult2(uploadResultArr){
		  if(!uploadResultArr || uploadResultArr.length == 0){return ;}
		  var uploadUL2 = $(".uploadResult2 ul");
		  var str = "";
		  
		  $(uploadResultArr).each(function(i, obj){
			   //image type
		        if(obj.image){
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+ "/s_"+obj.uuid +"_"+obj.fileName);
		          str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          str += "<img src='/display?fileName="+fileCallPath+"'>";
		          str += "</div>";
		          str +"</li>";
		        }else{
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+"/"+ obj.uuid +"_"+obj.fileName);            
		          var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
		              
                  str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          str += "<img src='img/attach.png/' style='height:100px; width:100px;'></a>";
		          str += "</div>";
		          str +"</li>";
		        } 
		  });
		  uploadUL2.append(str);
	    }
		
		function showUploadResult3(uploadResultArr){
		  if(!uploadResultArr || uploadResultArr.length == 0){return ;}
		  var uploadUL3 = $(".uploadResult3 ul");
		  var str = "";
		  
		  $(uploadResultArr).each(function(i, obj){
			   //image type
		        if(obj.image){
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+ "/s_"+obj.uuid +"_"+obj.fileName);
		          str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          //str += "<img src='/display?fileName="+fileCallPath+"'>";
		          str += "</div>";
		          str +"</li>";
		        }else{
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+"/"+ obj.uuid +"_"+obj.fileName);            
		          var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
		              
                  str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          //str += "<img src='img/attach.png/' style='height:100px; width:100px;'></a>";
		          str += "</div>";
		          str +"</li>";
		        } 
		  });
		  uploadUL3.append(str);
	    }
		
		function showUploadResult4(uploadResultArr){
            console.log(uploadResultArr)
		  if(!uploadResultArr || uploadResultArr.length == 0){return ;}
		  var uploadUL4 = $(".uploadResult4 ul");
		  var str = "";
		  
		  $(uploadResultArr).each(function(i, obj){
            console.log("11:06" + i)
			  console.log("11:05" + obj)
              console.log(obj.image)
              console.log(obj.fileType)
			   //image type
		        if(obj.image){
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+ "/s_"+obj.uuid +"_"+obj.fileName);
		          str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          str += "<img src='/display?fileName="+fileCallPath+"'>";
		          str += "</div>";
		          str +"</li>";
		        }else{
		          var fileCallPath =  encodeURIComponent( obj.uploadPath+"/"+ obj.uuid +"_"+obj.fileName);            
		          var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
		              
                  str += "<li data-path='"+obj.uploadPath+"'";
                  str += "data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'data-type='"+obj.image+"'"
                  str + "><div>";
		          str += "<span> "+ obj.fileName+"</span>";
		          str += "<button type='button' data-file=\'"+fileCallPath+"\' data-type='file' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
		          str += "<img src='img/attach.png/' style='height:100px; width:100px;'></a>";
		          str += "</div>";
		          str +"</li>";
		        } 
		  });
		  uploadUL4.append(str);
	    }
		
        $(".uploadResult1").on("click", "button", function(e){
		  console.log("delete file");
		  
		  var targetFile = $(this).data("file");
		  var type = $(this).data("type");
		  
		  var targetLi = $(this).closest("li");
		  targetLi.remove();
	    });
        $(".uploadResult2").on("click", "button", function(e){
  		  console.log("delete file");
  		  
  		  var targetFile = $(this).data("file");
  		  var type = $(this).data("type");
  		  
  		  var targetLi = $(this).closest("li");
  		  targetLi.remove();
  	    });
        $(".uploadResult3").on("click", "button", function(e){
  		  console.log("delete file");
  		  
  		  var targetFile = $(this).data("file");
  		  var type = $(this).data("type");
  		  
  		  var targetLi = $(this).closest("li");
  		  targetLi.remove();
  	    });
        $(".uploadResult4").on("click", "button", function(e){
  		  console.log("delete file");
  		  
  		  var targetFile = $(this).data("file");
  		  var type = $(this).data("type");
  		  
  		  var targetLi = $(this).closest("li");
  		  targetLi.remove();
  	    });
	    var regex = new RegExp("(.*?)\\.(sh|alz)$"); //제외하고 싶은 확장자.
	    var maxSize = 5242880;
	
	    function checkExtension(fileName, fileSize) {
	        if (fileSize >= maxSize) {
	            alert('파일 사이즈 초과');
	            return false;
	        }
	        if (regex.test(fileName)) {
	            alert('해당 종류의 파일은 업로드할 수 없습니다.');
	            return false;
	        }
	        return true;
	    }
	    //운행전 첨부파일
	    $("input[name='uploadFile1']").change(function(e) {
	    	car1uuid = "";
            car1fileName = "";
            car1uploadPath = "";
	        var formData = new FormData();
	        var inputFile1 = $("input[name='uploadFile1']");
	        var files = inputFile1[0].files;
	
	        for(var i=0; i<files.length; i++) {
	
	            if(!checkExtension(files[i].name, files[i].size) ){
	                return false;
	            }
	            formData.append("uploadFile", files[i]);
	
	        }
	        $.ajax({
				url: "/uploadAjaxAction",
				processData: false,
				contentType: false,
				data: formData,
				type: "POST",
				dataType: "json",
				success: function(result) {
	                console.log('result = ',result);
	                showUploadResult1(result);
	                car1uuid = result[0].uuid;
	                car1fileName = result[0].fileName;
	                car1uploadPath = result[0].uploadPath;
				},
				error: function(error) {
					console.log(error);
				}
			});
	    });
	    //운행후 첨부파일
	    $("input[name='uploadFile2']").change(function(e) {
	    	car2uuid = "";
            car2fileName = "";
            car2uploadPath = "";
	        var formData = new FormData();
	        var inputFile2 = $("input[name='uploadFile2']");
	        var files = inputFile2[0].files;
	
	        for(var i=0; i<files.length; i++) {
	
	            if(!checkExtension(files[i].name, files[i].size) ){
	                return false;
	            }
	            formData.append("uploadFile", files[i]);
	
	        }
	        $.ajax({
				url: "/uploadAjaxAction",
				processData: false,
				contentType: false,
				data: formData,
				type: "POST",
				dataType: "json",
				success: function(result) {
	                console.log('result = ',result);
	                showUploadResult2(result);
	                car2uuid = result[0].uuid;
	                car2fileName = result[0].fileName;
	                car2uploadPath = result[0].uploadPath;
				},
				error: function(error) {
					console.log(error);
				}
			});
	    });
	    //연차계 첨부파일
	    $("input[name='uploadFile3']").change(function(e) {
	    	offuuid = "";
    		offuploadPath = "";
    		offfileName = "";
	        var formData = new FormData();
	        var inputFile3 = $("input[name='uploadFile3']");
	        var files = inputFile3[0].files;
	
	        for(var i=0; i<files.length; i++) {
	
	            if(!checkExtension(files[i].name, files[i].size) ){
	                return false;
	            }
	            formData.append("uploadFile", files[i]);
	
	        }
	        $.ajax({
				url: "/uploadAjaxAction",
				processData: false,
				contentType: false,
				data: formData,
				type: "POST",
				dataType: "json",
				success: function(result) {
	                console.log('result = ',result);
	                showUploadResult3(result);
	                offuuid = result[0].uuid;
	        		offuploadPath = result[0].uploadPath;
	        		offfileName = result[0].fileName;
	        		console.log('offu',offuuid);
	        		console.log('offup',offuploadPath);
	        		console.log('offf',offfileName);
				},
				error: function(error) {
					console.log(error);
				}
			});
	    });
	    //품의서 첨부파일
	    $("input[name='uploadFile4']").change(function(e) {
	        var formData = new FormData();
	        var inputFile4 = $("input[name='uploadFile4']");
	        var files = inputFile4[0].files;
	
	        for(var i=0; i<files.length; i++) {
	
	            if(!checkExtension(files[i].name, files[i].size) ){
	                return false;
	            }
	            formData.append("uploadFile", files[i]);
	
	        }
	        $.ajax({
				url: "/uploadAjaxAction",
				processData: false,
				contentType: false,
				data: formData,
				type: "POST",
				dataType: "json",
				success: function(result) {
	                console.log('result = ',result);
	                showUploadResult4(result);
	                robinuuid = result[0].uuid;
	                robinfileName = result[0].fileName;
	                robinuploadPath = result[0].uploadPath;
				},
				error: function(error) {
					console.log(error);
				}
			});
	    });
		/*]]>*/
	</script>
	</div>
</body>
</html>