<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>개인전자서명 페이지</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
  <!-- 서명 공간 byte배열로 저장 -->
  <div style="width:300px; height:300px;">
    <canvas id="canvas" style="border:1px solid black"></canvas>
  </div>
  <div>
  	<input type="file" id="profile-image" name="uploadFile" accept=".jpg, .jpeg, .png, .gif" style="display:none">
    <!-- 저장 버튼 -->
    <button id="save">개인서명저장</button>
  </div>
   <div>
   	<span id="userInfoId" style="display:none">[[${userInfo.Id}]]</span>
   	<span id="userInfoNo" style="display:none">[[${userInfo.empNo}]]</span>
  </div>
  <script>
  	let userId = document.getElementById('userInfoId').textContent;
  	let userNo = document.getElementById('userInfoNo').textContent;
  	console.log(userId);
  	console.log(userNo);
  	let fileName;
  	let uploadPath;
  	let uuid;
  	let image;
    (function(obj){
      obj.init();
      $(obj.onLoad);
    })((function(){
      var canvas = $("#canvas");
      var div = canvas.parent("div");
      // 캔버스의 오브젝트를 가져옵니다.
      var ctx = canvas[0].getContext("2d");
      var drawble = false;
      
      // 이제 html 버그인지는 모르겠는데 canvas의 style의 height와 width를 수정하게 되면 그림이 이상하게 그려집니다.
      function canvasResize(){
        canvas[0].height = div.height();
        canvas[0].width = div.width();
      }
      // pc에서 서명을 할 경우 사용되는 이벤트입니다.
      function draw(e){
        function getPosition(){
          return {
            X: e.pageX - canvas[0].offsetLeft, 
            Y: e.pageY - canvas[0].offsetTop
          }
        }
        switch(e.type){
          case "mousedown":{
            drawble = true;
            ctx.beginPath();
            ctx.moveTo(getPosition().X, getPosition().Y);
          }
          break;
          case "mousemove":{
            if(drawble){
              ctx.lineTo(getPosition().X, getPosition().Y);
              ctx.stroke();
            }
          }
          break;
          case "mouseup":
          case "mouseout":{
            drawble = false;
            ctx.closePath();
          }
          break;
        }
      }
      // 참고로 mousedown은 touchstart와 mousemove는 touchmove, mouseup은 touchend와 같습니다.
      // mouseout와 touchcancel은 서로 다른 동작인데, mouseout은 canvas 화면을 벗어났을 때이고 touchcancel는 모바일에서 터치가 취소, 즉 에러가 났을 때 입니다.
      return {
        init: function(){
          // 캔버스 사이즈 조절
          $(window).on("resize", canvasResize);
          
          canvas.on("mousedown", draw);
          canvas.on("mousemove", draw);
          canvas.on("mouseup", draw);
          canvas.on("mouseout", draw);
          
          // save 버튼을 누르면 imageupload.php로 base64코드를 보내서 이미지로 변환합니다.
          var regex = new RegExp("(.*?)\\.(sh|alz)$"); //제외하고 싶은 확장자.
	      var maxSize = 5242880;
	
	      function checkExtension(fileName, fileSize) {
	          if (fileSize >= maxSize) {
	              alert('파일 사이즈 초과');
	              return false;
	          }
	          if (regex.test(fileName)) {
	              alert('해당 종류의 파일은 업로드할 수 없습니다.');
	              return false;
	          }
	          return true;
	      }
	      function dataURItoBlob(dataURI)
	      {
	          var byteString = atob(dataURI.split(',')[1]);

	          var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

	          var ab = new ArrayBuffer(byteString.length);
	          var ia = new Uint8Array(ab);
	          for (var i = 0; i < byteString.length; i++)
	          {
	              ia[i] = byteString.charCodeAt(i);
	          }

	          var bb = new Blob([ab], { "type": mimeString });
	          return bb;
	      }
     	//개인서명 이미지로 만들어서 ajax전송하는 과정
          $("#save").on("click", function(){
        	    var formData = new FormData();
        		var signImg = canvas[0].toDataURL('image/png');
        		var myBlob = dataURItoBlob(signImg);
				// ** Blob -> File 로 변환**
			    var file = new File([myBlob], "blobtofile.png", {type: 'image/png'});
        		formData.append("uploadFile", file);
        		//file db로 업로드하기위해서 uuid uploadPath fileName 를 controller에서
        		//인코딩해서 가져온것
        		$.ajax({
        			url: "/uploadAjaxAction",
        			processData: false,
        			contentType: false,
        			data: formData,
        			type: "POST",
        			dataType: "json",
        			success: function(result) {
        				fileName = result[0].fileName;
        				uploadPath = result[0].uploadPath;
        				uuid = result[0].uuid;
        				image = result[0].image;
        				$.ajax({
                			url: "/mypaySign",
              			    method: "POST",
              			    contentType:"application/json; charset=utf-8",
              			    data: JSON.stringify({
              			      empNo : userNo,
              			      uuid : uuid,
              			      uploadPath : uploadPath,
              			      fileName : fileName
              			    }),
              			    success: function(data) {
              			    	console.log(data);
              			    	opener.location.href="/pay/payPreferences"
              			    	window.close();
              			    },
              			    error: function(err) {
            					console.log(err);
              			    }	
                		});
        			}, 
        			error: function(error) {
        				console.log("22222",error);
        			}
        		});
            //form.remove();
            //window.close();
          });
        },
        onLoad: function(){
          // 캔버스 사이즈 조절
          canvasResize();
        }
      }
    })());
  </script>
</body>
</html>