<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>title</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
  <!-- 서명 공간 byte배열로 저장 -->
  <div style="width:300px; height:300px;">
    <canvas id="canvas" style="border:1px solid black"></canvas>
  </div>
  <div>
    <!-- 저장 버튼 -->
    <button id="save">개인서명저장</button>
  </div>
   <div>
   	<span id="userInfoId" style="display:none">[[${userInfo.Id}]]</span>
  	<button type="button" id="exit" onclick="exit()">나가기</button>
  </div>
  <script>
  	let userId = document.getElementById('userInfoId').textContent;
  	function exit(){
  		window.close();
  	}
    (function(obj){
      obj.init();
      $(obj.onLoad);
    })((function(){
      var canvas = $("#canvas");
      var div = canvas.parent("div");
      // 캔버스의 오브젝트를 가져옵니다.
      var ctx = canvas[0].getContext("2d");
      var drawble = false;
      
      // 이제 html 버그인지는 모르겠는데 canvas의 style의 height와 width를 수정하게 되면 그림이 이상하게 그려집니다.
      function canvasResize(){
        canvas[0].height = div.height();
        canvas[0].width = div.width();
      }
      // pc에서 서명을 할 경우 사용되는 이벤트입니다.
      function draw(e){
        function getPosition(){
          return {
            X: e.pageX - canvas[0].offsetLeft, 
            Y: e.pageY - canvas[0].offsetTop
          }
        }
        switch(e.type){
          case "mousedown":{
            drawble = true;
            ctx.beginPath();
            ctx.moveTo(getPosition().X, getPosition().Y);
          }
          break;
          case "mousemove":{
            if(drawble){
              ctx.lineTo(getPosition().X, getPosition().Y);
              ctx.stroke();
            }
          }
          break;
          case "mouseup":
          case "mouseout":{
            drawble = false;
            ctx.closePath();
          }
          break;
        }
      }
      // 참고로 mousedown은 touchstart와 mousemove는 touchmove, mouseup은 touchend와 같습니다.
      // mouseout와 touchcancel은 서로 다른 동작인데, mouseout은 canvas 화면을 벗어났을 때이고 touchcancel는 모바일에서 터치가 취소, 즉 에러가 났을 때 입니다.
      return {
        init: function(){
          // 캔버스 사이즈 조절
          $(window).on("resize", canvasResize);
          
          canvas.on("mousedown", draw);
          canvas.on("mousemove", draw);
          canvas.on("mouseup", draw);
          canvas.on("mouseout", draw);
          // save 버튼을 누르면 imageupload.php로 base64코드를 보내서 이미지로 변환합니다.
          
          var formData = new FormData();
      		var inputFile = $("input[name='uploadFile']");
      		var signImg = canvas[0].toDataURL(userId,"/png");
      		for (var i = 0; i < signImg.length; i++) {
      			if (!checkExtension(signImg[i].name, signImg[i].size)) {
      				return false;
      			}
      			formData.append("uploadFile", signImg[i]);
      		}
          $("#save").on("click", function(){
        	  var formData = new FormData();
        		var inputFile = $("input[name='uploadFile']");
        		var signImg = canvas[0].toDataURL(userId,"/png");
        		for (var i = 0; i < signImg.length; i++) {
        			if (!checkExtension(signImg[i].name, signImg[i].size)) {
        				return false;
        			}
        			formData.append("uploadFile", signImg[i]);
        		}
        		$.ajax({
        			url: "/uploadAjaxAction",
        			processData: false,
        			contentType: false,
        			data: formData,
        			type: "POST",
        			dataType: "json",
        			success: function(result) {
        				showUploadedFile(result);
        				$(".uploadDiv").html(cloneObj.html());
        			},
        			error: function(error) {
        				console.log(error);
        			}
        		});
            // a 태그를 만들어서 다운로드를 만듭니다.
            //var link = document.createElement('a'); 
            // base64데이터 링크 달기
            //해당 값을 ajax으로 전송하면 됨 formData로 만들어서 해당formData에 담아서 전송
            //서버에 저장하는거 db에는 파일명만 저장, 서버에 이미지를 업로드
            //let signImg = canvas[0].toDataURL(userId,"/png"); //byte배열값임
            form.remove();
            window.close();
          });
        },
        onLoad: function(){
          // 캔버스 사이즈 조절
          canvasResize();
        }
      }
    })());
  </script>
</body>
</html>