<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
</head>
<body>
	<div>
		<form th:action="@{/proCreate}" method="POST" th:object="${proVO}">
			<div>
				<label for="proName">프로젝트 이름</label> <input type="text" id="proName"
					th:field="*{proName}">
			</div>
			<div>
				<label for="proContent">프로젝트 설명</label> <input type="text"
					id="proContent" th:field="*{proContent}">
			</div>
			<div>
				<div>홈 탭 설정</div>

				<div th:each="index : ${#numbers.sequence(1, 5)}">
					<input type="radio" th:id="'proDefTab' + ${index}" name="proDefTab"
						th:value="${index}" th:checked="${index == 1}">
						<label th:for="'proDefTab' + ${index}">
						<span th:switch="${index}">
							<span th:case="1">피드</span>
							<span th:case="2">업무</span>
							<span th:case="3">간트차트</span>
							<span th:case="4">캘린더</span>
							<span th:case="5">파일</span>
						</span>
					</label>
				</div>
				
			</div>
			<div>
				<button type="submit">등록</button>
				<button type="button" th:onclick="|location.href='@{/proMain}'|">돌아가기</button>
			</div>
		</form>
	</div>
</body>
</html>