<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}"
>
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
</head>
<body layout:fragment="content">
	<div>
		<table th:if="${projectMainList.?[proStarCheck == 'Y'].size() > 0}">
			<thead>
				<tr>
					<th>즐겨찾기</th>
				</tr>
			</thead>
			<tbody id="YesStar">
				<tr th:each="pro:${projectMainList}" th:if="${pro.proStarCheck == 'Y'}"
					th:attr="data-pMN=${pro.proMemNo}, data-starC=${pro.proStarCheck}">
					<td th:text="${pro.proColor}"></td>
					<td th:text="${pro.proStarCheck}" class="starCheck"></td>
					<td th:text="${pro.proName}"></td>
				</tr>
			</tbody>
		</table>
		<table th:if="${projectMainList.?[proStarCheck == 'N'].size() > 0}">
			<thead>
				<tr>
					<th>참여중</th>
				</tr>
			</thead>
			<tbody id="NoStar">
				<tr th:each="pro:${projectMainList}" th:if="${pro.proStarCheck == 'N'}"
					th:attr="data-pMN=${pro.proMemNo}, data-starC=${pro.proStarCheck}">
					<td th:text="${pro.proColor}"></td>
					<td th:text="${pro.proStarCheck}" class="starCheck"></td>
					<td th:text="${pro.proName}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		let starCheck = document.querySelectorAll(".starCheck");

		starCheck.forEach(sC => {
			sC.addEventListener("click", changeStar);

		})
	
		function changeStar() {
			let dpMN = this.parentNode.getAttribute("data-pMN");
			let starC = this.parentNode.getAttribute("data-starC");
			
			let formData = new FormData();
	        formData.append('pMN', dpMN);
	        formData.append('starC', starC);

			fetch("proUpdate", {
				method: 'POST',
				body : formData
			})
			.then(response => response.json())
			.then(res => {
				let rC = res.result;
				let headData = this.parentNode;
				
				if (rC == '등록' || rC == '취소') {
					makeProOne(rC, headData);
					
				} else {
					alert('요청이 취소 되었습니다.');
				}
				
			})
		}

		function makeProOne(rC, headData) {
			console.log(rC);
			console.log(headData);
			let yStar = document.getElementById('YesStar');
			console.log(yStar);
			let nStar = document.getElementById('NoStar');
			//let pMN = headData.getAttribute('data-pMN')
			//해당 삭제
			//headData.remove();
			if (rC == '등록') {
				yStar.appendChild(headData);
			} else {
				nStar.appendChild(headData);
			}
			//let tr = document.createElement('tr');
			//let td = document.createElement('td');

		}
	</script>
</body>
</html>