<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/tiles}"
>
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
</head>
<body layout:fragment="content">
	<a th:onclick="|location.href='@{/proCreate}'|">프젝 생성</a>
	<div>
		<table>
			<thead>
				<tr>
					<th>즐겨찾기</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>색</td>
					<td>즐찾</td>
					<td>업무이름</td>
					<td>참여자</td>
					<td>알림</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>