<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/tiles}"
>
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
</head>
<body layout:fragment="content">
	<a th:onclick="|location.href='@{/proCreate}'|">프젝 생성</a>
	<div>
		<table>
			<tr>
				<th>즐겨찾기</th>
			</tr>
			<tr th:each="pro:${projectMainList}" th:if="${pro.proStarCheck == 'Y'}">
				<td th:text="${pro.proColor}">색Y</td>
				<td th:text="${pro.proStarCheck}">즐찾Y</td>
				<td th:text="${pro.proName}">업무이름Y</td>
				<td th:text="${pro.proColor}">참여자Y</td>
				<td th:text="${pro.proColor}">알림Y</td>
			</tr>
			<tr>
				<th>참여중</th>
			</tr>
			<tr th:each="pro:${projectMainList}" th:if="${pro.proStarCheck == 'N'}">
				<td th:text="${pro.proColor}">색Y</td>
				<td th:text="${pro.proStarCheck}">즐찾Y</td>
				<td th:text="${pro.proName}">업무이름Y</td>
				<td th:text="${pro.proColor}">참여자Y</td>
				<td th:text="${pro.proColor}">알림Y</td>
			</tr>
		</table>
	</div>
</body>
</html>