<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/introTiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
li {
	padding:10px;
}
#staticMap {
    border: 2px solid #000; /* 테두리 색 설정 */
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    margin: 20px auto; /* 상단과 하단의 여백을 20px로 설정하고, 좌우 중앙에 배치 */
    background-color: rgba(255, 255, 255, 0.5); /* 배경색을 흰색으로 하고, 투명도를 0.5로 설정 */
    transition: box-shadow 0.3s ease; /* 그림자 크기가 변하는 동안의 애니메이션 설정 */
}
#staticMap:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); /* 마우스를 올렸을 때 그림자 크기 증가 */
}
#mapPostion{
	margin: 20px auto;
	text-align: center; /* 중앙 정렬을 위한 스타일 추가 */
}
.baerPic{
	width: 50px;
	height: 50px;
	margin-left: 10px;
}
</style>
</head>
<body>
<div layout:fragment="content">

<h2 style="margin-top: 25px;" class="dohyeon"><img style="margin-top:10px;width:45px;height:45px;" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52942/paw-prints-emoji-clipart-md.png">그루베어(Groobear) 소개<img class="baerPic" src="/img/곰 회의.png"></h2>
<p class="dohyeon">
안녕하세요, <span class="bearTextColor">그루베어(Groobear)</span>에 대한 궁금증을 해결해드리기 위해 이 글을 작성하게 되었습니다.<br>

그루베어는 <span class="bearTextColor">'그룹웨어'</span>라는 특정 분야에서 활동하는 IT 회사로, 팀의 커뮤니케이션을 강화하고 업무 효율성을 증대시키는 솔루션을 제공하고 있습니다. <br>

그룹웨어란 기업의 정보 자원을 효과적으로 관리하고 공유하기 위해 설계된 소프트웨어로, 우리 회사 그루베어는 이를 통해 기업 내 정보 소통의 원활함을 극대화하고, 팀원 간의 협업을 돕습니다.

그루베어의 제품은 회사의 규모나 업종에 구애받지 않고 적용할 수 있으며, 사용자 친화적인 인터페이스와 신뢰할 수 있는 보안 체계를 갖추고 있습니다. 또한, 사용자의 요구사항에 맞추어 맞춤형 솔루션을 제공함으로써, 고객사가 원활한 업무 환경을 구축할 수 있도록 돕고 있습니다.

우리의 비전은 업무 효율성의 최적화와 원활한 커뮤니케이션으로, 기업의 성장을 가속화하는 것입니다. 기술을 통해 업무 프로세스를 간소화하고 효율화하면서도, 인간적인 커뮤니케이션의 가치를 잊지 않는 그루베어와 함께라면, 어떤 업무도 두렵지 않을 것입니다.

향후에도 그루베어는 끊임없이 연구하고 개발하며, 고객사와 사용자의 만족도를 더욱 높일 수 있는 서비스를 제공할 것입니다. 귀사의 성장과 발전이 그루베어의 최고의 목표이며, 우리는 그 목표를 향해 한 걸음 한 걸음 나아가고 있습니다.

기업의 미래, 그루베어와 함께 창조해 보시기 바랍니다.

감사합니다.</p>
<div class="my-4" id="mapPostion">
	<h5 class="font-weight-bold">오시는 길</h5>
	<div id="staticMap" class="rounded" style="width:600px;height:350px;"></div>
	<p class="text-muted transparent dohyeon">대구 중구 중앙대로 403 5층 <br>
	2호선 반월당역 14번 출구 400m (도보 5분) - 1호선 중앙로역 1번 출구 100m (도보 1분)<br>
	주중 18:00에 운영종료 토,일 정기휴무<br> 
	휴뮤일 : 08/14-08/16</p>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=282b92204ac4aa199832dbcebe61f870&libraries=services"></script>
<script type="text/javascript">
   
   var marker = {
		    position: new kakao.maps.LatLng(35.8690419, 128.593347), 
		    text: '그루베어' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
		};

		var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
		    staticMapOption = { 
		        center: new kakao.maps.LatLng(35.8690419, 128.593347), // 이미지 지도의 중심좌표
		        level: 4, // 이미지 지도의 확대 레벨
		        marker: marker // 이미지 지도에 표시할 마커
		    };

		// 이미지 지도를 생성합니다
		var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
   </script>
	<script>
	
	//WebSocket 연결 설정
	const alarmClient = new StompJs.Client({
	brokerURL: 'ws://localhost:8081/chatserver' // WebSocket 서버 URL
	});

	// 페이지 로드시 웹소켓 연결
	window.addEventListener("load", function(event) {
	   alarmClient.activate();
	});

	  // 연결 성공시
	alarmClient.onConnect = (frame) => {
	    console.log('Connected: ' + frame);
	    // 프로젝트 구독     
		alarmClient.subscribe('/alarmMan/proAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsg(JSON.parse(alarmMsg.body));
	    });
	    // 채팅방 생성 초대 구독
		alarmClient.subscribe('/alarmMan/chatAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsgChat(JSON.parse(alarmMsg.body));
	    });
	    
	 };

	//에러
	alarmClient.onWebSocketError = (error) => {
	      console.error('Error with websocket', error);
	};

	alarmClient.onStompError = (frame) => {
	      console.error('Broker reported error: ' + frame.headers['message']);
	      console.error('Additional details: ' + frame.body);
	};
	function almSendMsg() {
		   toastAct()	
	}
	function almSendMsgChat() {
		   toastActChat()	
	}
	
	function toastAct() {
		  toastr.options.escapeHtml = true;
	      toastr.options.closeButton = true;
	      toastr.options.newestOnTop = false;
	      toastr.options.progressBar = true;
	      toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	      toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	      toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	      toastr.info('새로운 프로젝트에 초대되었습니다.', '프로젝트 알림', {timeOut: 5000});
	}
	
	function toastActChat() {
		  toastr.options.escapeHtml = true;
	      toastr.options.closeButton = true;
	      toastr.options.newestOnTop = false;
	      toastr.options.progressBar = true;
	      toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	      toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	      toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	      toastr.info('새로운 채팅방에 초대되었습니다.', '채팅방 알림', {timeOut: 5000});
	}
	
	
	var today = new Date();
	var year = today.getFullYear();
	var month = ('0' + (today.getMonth() + 1)).slice(-2);
	var monthString = year + '-' + month;
	const monthDate = monthString;
	
	document.getElementById('commute').setAttribute('href','/commuteList/'+monthDate)
	
	</script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=282b92204ac4aa199832dbcebe61f870&libraries=services"></script>
</div>
</body>
</html>