<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="~{layout/myPageATiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<div>
		<select id="car_select">
			<option value="">선택</option>
			<option value="name">이름</option>
			<option value="deptName">부서</option>
			<option value="carNo">차량번호</option>
		</select>		
		<input type="text" id="keyword">
		<button id="searchBtn">검색</button>
		
		<table>
			<thead>
				<tr>
					<th>사번</th>
					<th>부서</th>
					<th>이름</th>
					<th>차량번호</th>
					<th>연락처</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:if="${carList != null}" th:each="car, stat:${carList}">
					<td>[[${car.empNo}]]</td>
					<td>[[${car.deptName}]]</td>
					<td>[[${car.name}]]</td>
					<td>[[${car.carNo}]]</td>
					<td>[[${car.phone}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<div class="paging">
    		<div th:if="${paging.prev}">
        		<span><a th:href="@{/carList(page=${paging.startPage-1})}">이전</a></span>
    		</div>
    		<div th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
        		<span><a th:href="@{/carList(page=${num})}" th:text="${num}"></a></span>
    		</div>
    		<div th:if="${paging.next && paging.endPage > 0}">
        		<span><a th:href="@{/carList(page=${paging.endPage+1})}">다음</a></span>
    		</div>
		</div>
	</div>

<script>
	const headers = ['empNo','deptName','name','carNo','phone'];

	document.querySelector('#searchBtn').addEventListener('click',searchCarInfo);
	document.querySelector('#keyword').addEventListener('keyup',function(e){
		if(e.keyCode == 13){
			searchCarInfo();
		}
	})
	
	function searchCarInfo(){
		let searchsel = document.getElementById('car_select').value;
		let keyword = document.getElementById('keyword').value;
		if(keyword != '' && searchsel != ''){
			document.getElementsByTagName('tbody')[2].replaceChildren();
			console.log(searchsel,keyword);
			let name = ""; 
			let carNo = "";
			let deptName = "";
			if(searchsel == 'name'){
				name = keyword;
				console.log('이름',keyword);
			}else if(searchsel == 'carNo'){
				carNo = keyword;
				console.log('차번호',keyword);
			}else if(searchsel == 'deptName'){
				deptName = keyword;
				console.log('부서명',keyword);
			}
			fetch('http://localhost:8081/searchPList',{
				method:"POST",
				headers : {
					'Content-Type': 'application/json'
				},
				body:JSON.stringify({
					"carNo" : carNo,
					"name" : name,
					"deptName" : deptName
				})
			}) 
			.then(response => response.json())
			.then(data => {
				data.forEach(car => {
					console.log(car);
					let trTg = document.createElement('tr');
					//trTg.addEventListener('click',함수명 )
					let tdTg = document.createElement('td');
					for(let header of headers){
						tdTg = document.createElement('td');
						tdTg.textContent = car[header];
						trTg.append(tdTg);
					}
					trTg.append(tdTg);
					let tbody = document.getElementsByTagName('tbody')[2];
					tbody.append(trTg);

				})
			})
			.catch(reject => console.log(reject));
		}else if(keyword != '' && searchsel == '') {
			alert('조건을 선택하세요 \n전체조회는 입력값을 비우고 검색해주세요.');
			location.reload();
		}else if(keyword == '' && searchsel != '') {
			alert('검색어를 입력 해 주세요. ');
			location.reload();
		}else{
			location.reload();
		}
	}

  
</script>
</div>
</body>



</html>