<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/myPageATiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="modal6/css/ionicons.min.css">
<link rel="stylesheet" href="modal6/css/flaticon.css">
<link rel="stylesheet" href="modal6/css/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div>
			<form>
				<div th:each="info, es:${info}">
						<h3 style="text-align: center;">차량 관리</h3>
					<div style="display: inline-block; width: 100%;">
						<div style="border:1px solid lightgray;border-radius: 15px;width: 100%;">
						<div class="form-group row" style="margin-left: 15%;">
					      <label class="col-form-label">사번 :</label>
					      <div class="col-sm-1">
					        <input type="text" class="form-control-plaintext" name="empNo" th:value="${info.empNo}" readonly>
					      </div>
					       <label class="col-form-label">부서 :</label>
					      <div class="" style=" width: 70px;">
					        <input type="text" class="form-control-plaintext" name="deptName" th:value="${info.deptName}" readonly>
					      </div>
					       <label class="col-form-label">직급 :</label>
					      <div class="col-sm-1">
					        <input type="text" class="form-control-plaintext" name="rank" th:value="${info.Rank}" readonly>
					      </div>
					       <label class="col-form-label">이름 :</label>
					      <div class="col-sm-1">
					        <input type="text" class="form-control-plaintext" name="name" th:value="${info.Name}" readonly>
					      </div>
					      <label class="col-form-label">연락처 :</label>
					      <div class="col-sm-2">
					        <input type="text" class="form-control-plaintext" name="phone" th:value="${info.Phone}" readonly>
					      </div>
					      <div>
					    		<img id="carImg" src="" style="width:70px; position:absolute; margin-top:10px; right:32%;">
					    	</div>
					    </div>
					    <div class="form-group row" style="margin-left: 20%;">
					      <p style="display: none;">
							아이디 <input type="text" id="carId" class="form-control-plaintext" name="id" th:value="${info.id}" readonly>
						  </p>
					      <label class="col-form-label">차량번호 :</label>
					      <div class="col-sm-2">
					        <input id="carNo2" class="form-control" name="carNo" value="" style="height: 32px;" minlength="7"  maxlength="8" onkeyup="this.nextSibling.innerHTML=/^\d{2,3}[가-힣]\d{4}$/.test(this.value)?'정상' : '차량번호 형식이 아닙니다.'"><span class="carNoCk"></span>
					      </div>
					       <label class="col-form-label">자동차 브랜드 :</label>
					      <div class="col-sm-2">
					        <select id="infoCarType" name="carType" onchange="changeImage()" style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 5px; height: 35px;">
												<option value="" selected>선택</option>
												<option value="../img/hyd.png">Hyundai</option>
												<option value="../img/kia.png">Kia</option>
												<option value="../img/sy.png">Ssangyong</option>
												<option value="../img/ch.png">Chevrolet</option>
												<option value="../img/gs.png">Genesis</option>
												<option value="../img/ad.png">Audi</option>
												<option value="../img/bz.png">Mercedes-Benz</option>
												<option value="../img/bmw.png">BMW</option>
												<option value="../img/bgt.png">Bugatti</option>
												<option value="../img/ben.png">Bentley</option>
												<option value="../img/cad.png">Cadillac</option>
												<option value="../img/fd.png">Ford</option>
												<option value="../img/hd.png">Honda</option>
												<option value="../img/inf.png">Infiniti</option>
												<option value="../img/jp.png">Jeep</option>
												<option value="../img/lb.png">Lamborghini</option>
												<option value="../img/lex.png">Lexus</option>
												<option value="../img/lr.png">Land-Rover</option>
												<option value="../img/mas.png">Maserati</option>
												<option value="../img/mc.png">Mclaren</option>
												<option value="../img/may.png">Maybach</option>
												<option value="../img/ns.png">Nissan</option>
												<option value="../img/ps.png">Porsche</option>
												<option value="../img/rr.png">Rolls-Royce</option>
												<option value="../img/tsl.png">Tesla</option>
												<option value="../img/tyt.png">Toyota</option>
												<option value="../img/vv.png">Volvo</option>
												<option value="../img/vw.png">Volkswagen</option>
											</select>
					      </div>
					      <button type="button" class="insertBtn btn btn-primary" onclick="checkBtn()"
							style="text-align: center; width:100px; height: 35px;">등록</button>
							
					    </div>
					    
					    	
						</div>
					</div>
				</div>
			</form>
		</div>
		
		

		<div style="display:flex;margin-top:20px;align-items: stretch;justify-content: center;">
			<div class="card border-success mb-3 " style="width: 18rem;display:inline-block; margin: 0 50px;" th:if="${carPList != null}" th:onclick="carInfofo()" id="carIn"
						th:each="car, es:${carPList}" data-toggle="modal" data-target="#carMInfo">
			  <div class="card-header"></div>
			  <div class="card-body">
			  	<div style="height:220px">
			  	<img id="carImg3" th:src="${car.carType}" style="width:200px;">
			  	</div>
			    <p class="card-title" style="margin-top:15px;">차량번호 : <span class="carNo">[[${car.carNo}]]</span></p>
			    <p class="card-text">자동차 브랜드 : 
					<span class="carType" th:if="${car.carType} == '../img/hyd.png'">Hyundai</span>
					<span class="carType" th:if="${car.carType} == '../img/kia.png'">Kia</span>
					<span class="carType" th:if="${car.carType} == '../img/sy.png'">Ssangyoung</span>
					<span class="carType" th:if="${car.carType} == '../img/ch.png'">Chevrolet</span>
					<span class="carType" th:if="${car.carType} == '../img/gs.png'">Genesis</span>
					<span class="carType" th:if="${car.carType} == '../img/ad.png'">Audi</span>
					<span class="carType" th:if="${car.carType} == '../img/bz.png'">Mercedes-Benz</span>
					<span class="carType" th:if="${car.carType} == '../img/bmw.png'">BMW</span>
					<span class="carType" th:if="${car.carType} == '../img/bgt.png'">Bugatti</span>
					<span class="carType" th:if="${car.carType} == '../img/ben.png'">Bentley</span>
					<span class="carType" th:if="${car.carType} == '../img/cad.png'">Cadillac</span>
					<span class="carType" th:if="${car.carType} == '../img/fd.png'">Ford</span>
					<span class="carType" th:if="${car.carType} == '../img/hd.png'">Honda</span>
					<span class="carType" th:if="${car.carType} == '../img/inf.png'">Infiniti</span>
					<span class="carType" th:if="${car.carType} == '../img/jp.png'">Jeep</span>
					<span class="carType" th:if="${car.carType} == '../img/lb.png'">Lamborghini</span>
					<span class="carType" th:if="${car.carType} == '../img/lex.png'">Lexus</span>
					<span class="carType" th:if="${car.carType} == '../img/lr.png'">Land-Rover</span>
					<span class="carType" th:if="${car.carType} == '../img/mas.png'">Maserati</span>
					<span class="carType" th:if="${car.carType} == '../img/mc.png'">Mclaren</span>
					<span class="carType" th:if="${car.carType} == '../img/may.png'">Maybach</span>
					<span class="carType" th:if="${car.carType} == '../img/ns.png'">Nissan</span>
					<span class="carType" th:if="${car.carType} == '../img/ps.png'">Porsche</span>
					<span class="carType" th:if="${car.carType} == '../img/rr.png'">Rolls-Royce</span>
					<span class="carType" th:if="${car.carType} == '../img/tsl.png'">Tesla</span>
					<span class="carType" th:if="${car.carType} == '../img/tyt.png'">Toyota</span>
					<span class="carType" th:if="${car.carType} == '../img/vv.png'">Volvo</span>
					<span class="carType" th:if="${car.carType} == '../img/vw.png'">Volkswagen</span>
			    </p>
			    <p class="card-text">등록일 : <span>[[${#dates.format(car.carDate,'yyyy년 MM월 dd일')}]]</span></p>
			  </div>
			</div>
		</div>
	
		<div class="modal fade" id="carMInfo" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button"
							class="close d-flex align-items-center justify-content-center"
							data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="ion-ios-close"></span>
						</button>
					</div>
					<div class="row no-gutters">
						<div class="col-md-6 d-flex">
							<div
								class="modal-body p-5 img d-flex color-1 text-center d-flex align-items-center">
								<div class="text w-100">
									<span class="icon-2 ion-ios-car"></span>
									<h5>차량 정보만 변경 가능합니다.</h5>
									<div class="icon">
										<span class="ion-ios-car"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex">
							<div class="modal-body p-5 img d-flex align-items-center color-2">
								<div class="text w-100 py-0 py-md-5">
									<h3 class="mb-4">Change Car Info</h3>
									<form class="signup-form"
										name="carInfoForm">
										<div class="form-group mb-3">
											<label class="label">Old Car Number</label> <input
												name="oldCarNo" id="infoCarNo" type="text" value=""
												class="form-control" readOnly>
										</div>
										<div class="form-group mb-3">
											<label class="label">New Car Number</label> <input
												name="carNo" id="newCarNo" type="text" value=""
												class="form-control" minlength="7"  maxlength="8" onkeyup="this.nextSibling.innerHTML=/^\d{2,3}[가-힣]\d{4}$/.test(this.value)?'정상' : '차량번호 형식이 아닙니다.'"><span id="mCarNoCk"></span>
										</div>
										<div class="form-group mb-3">
											<label class="label">Car brand</label> 
												<select id="infoCarType2" name="carType" onchange="changeImage2()">
													<option value="" selected>선택</option>
													<option value="../img/hyd.png">Hyundai</option>
													<option value="../img/kia.png">Kia</option>
													<option value="../img/sy.png">Ssangyong</option>
													<option value="../img/ch.png">Chevrolet</option>
													<option value="../img/gs.png">Genesis</option>
													<option value="../img/ad.png">Audi</option>
													<option value="../img/bz.png">Mercedes-Benz</option>
													<option value="../img/bmw.png">BMW</option>
													<option value="../img/bgt.png">Bugatti</option>
													<option value="../img/ben.png">Bentley</option>
													<option value="../img/cad.png">Cadillac</option>
													<option value="../img/fd.png">Ford</option>
													<option value="../img/hd.png">Honda</option>
													<option value="../img/inf.png">Infiniti</option>
													<option value="../img/jp.png">Jeep</option>
													<option value="../img/lb.png">Lamborghini</option>
													<option value="../img/lex.png">Lexus</option>
													<option value="../img/lr.png">Land-Rover</option>
													<option value="../img/mas.png">Maserati</option>
													<option value="../img/mc.png">Mclaren</option>
													<option value="../img/may.png">Maybach</option>
													<option value="../img/ns.png">Nissan</option>
													<option value="../img/ps.png">Porsche</option>
													<option value="../img/rr.png">Rolls-Royce</option>
													<option value="../img/tsl.png">Tesla</option>
													<option value="../img/tyt.png">Toyota</option>
													<option value="../img/vv.png">Volvo</option>
													<option value="../img/vw.png">Volkswagen</option>
												</select>
											<img id="carImg2" style="width:300px;">
										</div>
										<div class="form-group mb-3" th:each="info, es:${info}"
											style="display: none;">
											<label class="label">id</label> <input name="id" type="text"
												th:value="${info.id}" class="form-control">
										</div>
										<div class="form-group d-md-flex"></div>
										<div class="form-group" style="margin-left: 30px;">
											<button type="button" style="width: 150px; margin: 0px 5px;"
												class="btn btn-primary rounded submit px-3" onclick="checkBtn2()">수정</button>
											<button type="button" id="deleteBtn"
												style="width: 150px; margin: 0px 5px;"
												class="btn btn-primary rounded">삭제</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		


		<script src="modal6/js/jquery.min.js"></script>
		<script src="modal6/js/popper.js"></script>
		<script src="modal6/js/bootstrap.min.js"></script>
		<script src="modal6/js/main.js"></script>

		<script>
		function carInfofo(){
			console.log("hi");

			let carNo = event.currentTarget.querySelector('.carNo').innerText;
			let carType = event.currentTarget.querySelector('.carType').innerText;
			
			console.log(carNo);
			console.log(carType);
			
			document.querySelector('#infoCarType2').children.value = carType;
			
			
			document.querySelector('#infoCarNo').value = carNo;
			document.querySelector('#infoCarType').value = carType;
		}
		
		
		let changeimg = document.getElementById("infoCarType");
        let carImg = document.getElementById("carImg");
        document.getElementById('infoCarType').children[0].selected = true;
        function changeImage(){
            let index = changeimg.selectedIndex;
            carImg.src = changeimg.options[index].value;
        }
		console.log(carImg)
        
        
        let changeimg2 = document.getElementById("infoCarType2");
        let carImg2 = document.getElementById("carImg2");
        document.getElementById('infoCarType2').children[0].selected = true;
        function changeImage2(){
            let index = changeimg2.selectedIndex;
            carImg2.src = changeimg2.options[index].value;
        }
		
        
        
		
        let carType = document.querySelector('.carType').innerText;
        //document.getElementById('carImg3').src = carType;
        
        console.log(carType)
        
		
		document.querySelector('#deleteBtn').addEventListener('click',function(){
			
		
			let carNo = document.querySelector('#infoCarNo').value;
			
			let carInfo = {
					 'carNo' : carNo
			}
			
			fetch("carDelete",{
				method:'POST',
				headers:{
					'Content-Type' : 'application/json'	
				},
				body:JSON.stringify(carInfo)
			})
			.then(response => response.json())
			.then(data => {
				console.log(data)
				if(data == 'true'){
					location.href="carList"
				}else{
					location.href="carList"
				}
			})
			.catch(err =>{
				console.log(err);
			})
	})
	
	 $('#carMInfo').on('hidden.bs.modal', function (event) {
		 carInfoForm.reset();
	})
	
		
		function checkBtn(){
			if(document.getElementsByName('carNo')[0].value == '' || document.getElementsByName('carType')[0].value == ''){
				event.preventDefault();
				alert('차량번호와 차종 모두 작성해주세요')
			}else if($('.card-body').length > 2){
				alert('3대이상 등록 금지')
				event.preventDefault();
				document.getElementsByName('carNo')[0].value = '';
				document.getElementsByName('carType')[0].value = '';
			}else if(document.querySelector('.carNoCk').textContent != '정상'){
				alert('차량번호를 제대로 입력해 주세요.')
				event.preventDefault();
				document.getElementsByName('carNo')[0].value = '';
				document.getElementsByName('carType')[0].value = '';
			}else{	
				event.preventDefault();
				let carNo = document.getElementById('carNo2').value;
				let carType = document.getElementById('infoCarType').value;
				let id = document.getElementById('carId').value;
				
				let carCk = {
						'carNo' : carNo,
						'carType' : carType,
						'id' : id
				}
				
				fetch("carChk",{
					method : 'post',
					headers : {
						'Content-Type' : 'application/json'
					},
					body : JSON.stringify(carCk)
				})
				.then(response => response.text())
				.then(result => {
					if(result == 'true'){
						alert('차량번호가 이미 존재합니다.')
						location.reload();
					}else{
						

						fetch("carInsert",{
							method : 'post',
							headers : {
								'Content-Type' : 'application/json'
							},
							body : JSON.stringify(carCk)
						})
						.then(response => response.json())
						.then(result => {
							if(result == null){
								console.log('실패')
							}else {
							 location.reload();
							}
						})
						.catch(err => console.log(err))
						
						
						
						
						
						
						
					}
				})
				.catch(err => console.log(err))
				
				
				
				
				
				
			}
		}
		
		
		function checkBtn2(){
			if(document.getElementById('newCarNo').value == ''){
				event.preventDefault();
				alert('차량번호를 입력해 주세요')
			}else if(document.querySelector('#mCarNoCk').textContent != '정상'){
				alert('차량번호를 올바른 형식으로 입력해 주세요.')
				event.preventDefault();
				document.getElementById('newCarNo').value = '';
			}else{
				
				
				event.preventDefault();
				let carNo = document.getElementById('newCarNo').value;
				let carType = document.getElementById('infoCarType2').value;
				let id = document.getElementById('carId').value;
				let oldCarNo = document.getElementById('infoCarNo').value;
				
				let carCk = {
						'carNo' : carNo,
						'carType' : carType,
						'id' : id,
						'oldCarNo' : oldCarNo
				}
				
				fetch("carChk",{
					method : 'post',
					headers : {
						'Content-Type' : 'application/json'
					},
					body : JSON.stringify(carCk)
				})
				.then(response => response.text())
				.then(result => {
					if(result == 'true'){
						alert('차량번호가 이미 존재합니다.')
						location.reload();
					}else{
						

						fetch("carUpdate",{
							method : 'post',
							headers : {
								'Content-Type' : 'application/json'
							},
							body : JSON.stringify(carCk)
						})
						.then(response => response.json())
						.then(result => {
							if(result == null){
								console.log('실패')
							}else {
							 location.reload();
							}
						})
						.catch(err => console.log(err))
						
					}
				})
				.catch(err => console.log(err))
				
				
				
				
				
				
				
				
					
			}
		}
		
		
		
		
		
		
		function carCheck(str) {
		    if (/^\d{2}[가-힣]\d{4}/.exec(str) !== null && str.length === 7) {
		       alert('성공');
		    }else if (/^\d{3}[가-힣]\d{4}/.exec(str) !== null && str.length === 8) {
		    	alert('성공');
		    }else{
		    	alert('올바른 차량번호를 입력해 주세요');
		    }
		}
		
		
		$("#carNo2").keyup(function(event){ 
			if (!(event.keyCode >=37 && event.keyCode<=40)) { 
				var inputVal = $(this).val(); 
				var check = /[a-z|A-Z]/; 
				var regExp = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\\(\=]/gi;
				if(check.test(inputVal)){ 
					$(this).val(inputVal.replace(check, ''));
				}	
					if(regExp.test(inputVal)){
					$(this).val(inputVal.replace(regExp, '')); 
					
				} 
			} 
		});
				
				
		$("#newCarNo").keyup(function(event){ 
			if (!(event.keyCode >=37 && event.keyCode<=40)) { 
				var inputVal = $(this).val(); 
				var check = /[a-z|A-Z]/; 
				var regExp = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\\(\=]/gi;
				if(check.test(inputVal)){ 
					$(this).val(inputVal.replace(check, ''));
				}	
					if(regExp.test(inputVal)){
					$(this).val(inputVal.replace(regExp, '')); 
					
				} 
			} 
		});	
				
		
		let srcc = '../img/'
		let brand = document.querySelector('.carType').textContent
		if(brand = srcc+'ad.png'){
			brand = 'Audi';
		}
		if(brand = srcc+'rr.png'){
			brand = 'Rolls-Royce';
		}		
		
		console.log(brand)
				
				
		
		
	
	
	</script>

	</div>
</body>


</html>