<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
  	<title>Groobear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
		.dohyeon{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			color:black;
		}
		.dohyeonmenu{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			font-size : 25px;
			color:white;
		}
		.rightPad{
			padding-right:150px;
		}
		.nav li:hover{
  			background-color: #4fc09961;
  			border-radius:15px;
  		}
  		.nav li:hover a{
  			color:black;
  		}
  		.nav li{
  			transition: 0.5s;
  		}
  		a {
  			text-decoration : none !important;
  		}
	</style>
  </head>
  <body style="width:1215px;margin: 0 auto;">
  	<div>
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
	    		<img src="" title="" style="width: 200px;">
			</div>
			<div class="row">
				<img style="margin-top:10px;width:45px;height:45px;" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52942/paw-prints-emoji-clipart-md.png">
	            <div class="col-4 text-center" style="z-index: 1000;">
	                <a class="blog-header-logo text-body-emphasis dohyeon" style="font-size:50px; font-weight : 500;" href="/main">Groobear</a>
	            </div>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center" style="margin-left: -200px;">
                <table style="width: 300px;text-align:right;margin-right:30px;">
                	<tbody>
	                	<tr>
	                		<td style="font-size:20px;">
	                			<a class="dohyeon">[[${session.Name }]]님 반갑습니다</a>
	                		</td>
	                	</tr>
	                	<tr>
	                		<td style="font-size:20px;"><span><a href="/logout" class="dohyeon">로그아웃</a></span>&nbsp;&nbsp;&nbsp;&nbsp;       
	                		<span><a id="commute" class="dohyeon">마이페이지</a></span></td>
	                	</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </header>
	</div>
	<nav class="navbar navbar-expand-lg" style="text-align: center; background-color:#35A880;"> 
      <div class="collapse navbar-collapse" id="navbarColor01">
      
	        <ul class="navbar-nav mr-auto" style="display:flex; margin:auto;">
	          <li class="nav-item active rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/intro/companyintroduce">회사소개</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/mail/receiveMail">메일</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/proMain">프로젝트</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/pay/payMain">전자결재</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/boardList?boardType=N">게시판</a>
	          </li>
	          <li class="nav-item" style="padding:0px;">
	            <a class="nav-link dohyeonmenu" href="/empInfo">인사관리</a>
	          </li>
	        </ul>
        </div>
    </nav>
    <div class="row">
      <!-- 사이드바 -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar dohyeon" style="margin-left: 15px;margin-top: 10px;width: 200px;position: absolute;height: 100%;">
        <div class="position-sticky" style="text-align: center;">
          <ul class="nav flex-column">
            <!-- 사이드바 메뉴 아이템들 -->
            <li class="nav-item">
              <a href="/mail/receiveMail" style="font-size: 25px; text-decoration: none; color: #29ac7f;">받은메일함</a>
            </li>
            <li class="nav-item">
			  <a href="/mail/sendingMail" style="font-size: 25px; text-decoration: none; color: #29ac7f;">보낸메일함</a>
			</li>
            <li class="nav-item">
              <a href="/mail/sendMail" style="font-size: 25px; text-decoration: none; color: #29ac7f;">메일쓰기</a>
            </li>
            <li class="nav-item">
              <a href="/mail/deleteMail" style="font-size: 25px; text-decoration: none; color: #29ac7f;">지운메일함</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="data" style="display:none">
	<p class="nowMon"></p>
	
</div>
	<script>
	//WebSocket 연결 설정
	const alarmClient = new StompJs.Client({
	brokerURL: 'ws://localhost:8081/chatserver' // WebSocket 서버 URL
	});

	// 페이지 로드시 웹소켓 연결
	window.addEventListener("load", function(event) {
	   alarmClient.activate();
	});

	  // 연결 성공시
	alarmClient.onConnect = (frame) => {
	    console.log('Connected: ' + frame);
	    // 프로젝트 구독     
		alarmClient.subscribe('/alarmMan/proAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsg(JSON.parse(alarmMsg.body));
	    });
	    // 채팅방 생성 초대 구독
		alarmClient.subscribe('/alarmMan/chatAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsgChat(JSON.parse(alarmMsg.body));
	    });
		// 메일 수신 구독
		alarmClient.subscribe('/alarmMan/mailAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsgMail(JSON.parse(alarmMsg.body));
	    });
		// 결재대상자 수신 구독
		alarmClient.subscribe('/alarmMan/payAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsgPay(JSON.parse(alarmMsg.body));
	    });
		// 결재대상자 수신 구독
		alarmClient.subscribe('/alarmMan/payComAlm/' + '[[${session.Id}]]', (alarmMsg) => {
		    almSendMsgPayCom(JSON.parse(alarmMsg.body));
	    });
	 };

	//에러
	alarmClient.onWebSocketError = (error) => {
	      console.error('Error with websocket', error);
	};

	alarmClient.onStompError = (frame) => {
	      console.error('Broker reported error: ' + frame.headers['message']);
	      console.error('Additional details: ' + frame.body);
	};
	function almSendMsg() {
		   toastAct()	
	}
	function almSendMsgChat() {
		   toastActChat()	
	}
	function almSendMsgMail() {
		   toastActMail()	
	}
	function almSendMsgPay() {
		   toastActPay()	
	}
	function almSendMsgPayCom() {
		   toastActPayCom()	
	}
	
	function toastAct() {
		  toastr.options.escapeHtml = true;
	      toastr.options.closeButton = true;
	      toastr.options.newestOnTop = false;
	      toastr.options.progressBar = true;
	      toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	      toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	      toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	      toastr.info('새로운 프로젝트에 초대되었습니다.', '프로젝트 알림', {timeOut: 5000});
	}

	function toastActChat() {
		  toastr.options.escapeHtml = true;
	      toastr.options.closeButton = true;
	      toastr.options.newestOnTop = false;
	      toastr.options.progressBar = true;
	      toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	      toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	      toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	      toastr.info('새로운 채팅방에 초대되었습니다.', '채팅방 알림', {timeOut: 5000});
	}

	function toastActMail() {
		  toastr.options.escapeHtml = true;
	    toastr.options.closeButton = true;
	    toastr.options.newestOnTop = false;
	    toastr.options.progressBar = true;
	    toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	    toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	    toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	    toastr.info('새로운 메일이 도착하였습니다.', '메일 알림', {timeOut: 5000});
	}
	
	function toastActPay() {
		  toastr.options.escapeHtml = true;
	    toastr.options.closeButton = true;
	    toastr.options.newestOnTop = false;
	    toastr.options.progressBar = true;
	    toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	    toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	    toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	    toastr.info('결재 진행할 전자문서가 도착하였습니다.', '전자결재 알림', {timeOut: 5000});
	}
	
	function toastActPayCom() {
		  toastr.options.escapeHtml = true;
	    toastr.options.closeButton = true;
	    toastr.options.newestOnTop = false;
	    toastr.options.progressBar = true;
	    toastr.options.positionClass = 'toast-bottom-right'; // toast를 오른쪽 아래에 띄우도록 설정
	    toastr.options.backgroundColor = '#35A880'; // 배경 색상을 #35A880로 설정
	    toastr.options.textColor = '#FFFFFF'; // 글자 색상을 흰색(#FFFFFF)으로 설정
	    toastr.info('결재 진행이 완료된 전자문서가 있습니다.', '전자결재 알림', {timeOut: 5000});
	}
	
	var today = new Date();
	var year = today.getFullYear();
	var month = ('0' + (today.getMonth() + 1)).slice(-2);
	var monthString = year + '-' + month;
	const monthDate = monthString;
	
	document.getElementById('commute').setAttribute('href','/commuteList/'+monthDate)
	
	</script>
      
      
	<!-- 사이드바 우측의 컨텐츠 영역 -->
      <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div layout:fragment="content" ></div>
      </main>
    </div>
    <script th:inline="javascript">
    </script>
  </body>
</html>