<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="horizonBar">
	<!-- 프로젝트 최 상단 바 -->
	<div class="horizontal-bar">
		<div style="padding-top: 17.5px;">
			<ul class="nav">
				<li>
					<!-- 스타일을 동적으로 적용하는 네모 -->
					<button type="button"
							class="btn btn-primary square2"
							data-toggle="modal"
							title="프로젝트 색상을 설정합니다."
							data-placement="bottom"
							th:style="'background-color: ' + ${projectTopBar.proColor}"
							data-target="#squareStyle"></button>
							
					<!-- 프로젝트 색상 Modal -->
					<div class="modal fade"
						 id="squareStyle"
						 tabindex="-1"
						 aria-labelledby="exampleModalLabel"
						 aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered"
							 style="width: 434px;">
							<div class="modal-content dohyeonModalContent"
								 style="width: 434px;">
								<div class="modal-header"
									 style="padding-bottom: 8px;">
									<h2 class="modal-title"
										id="squareStyleLabel"
										style="font-weight:600;">프로젝트 색상</h2>
									<button type="button"
											class="close"
											data-dismiss="modal"
											aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								
								<div class="modal-body"
									 style="padding-bottom: 0px;">
									<ul class="nav">
										<li class="nav-item"
											style="margin-bottom:10px; width:40px; margin-left:0px; margin-right:35px;"
											th:each="colors : ${readPublicCodeColorAll}">
										    <button type="button"
										    		class="btn btn-primary square nav-link"
													th:style="'background-color: ' + ${colors.codeName}"
													th:data-color-code="${colors.codeName}"
													onclick="saveColor()"></button>
										</li>
									</ul>
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-groob" onclick="changeColor()">확인</button>
									<button type="button" class="btn btn-groob" data-dismiss="modal">취소</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal끝 -->
							
				</li>
				<li class="nav-item"
					th:text="${projectTopBar.proName}"
					style="margin-left:15px; font-size:25px; margin-top:6px; width:270px;"></li>
				<li class="nav-item"
					th:if ="${projectTopBar.proContent != null}"
					th:text="${projectTopBar.proContent}"
					style="margin-left:30px; display: block !important; font-size:14px; margin-top:12px; width:600px; height:50px; overflow-y: hidden;"></li>
			</ul>
		</div>
	</div>
	
	<!-- 프로젝트 탭 -->
	<div class="horizontal-bar2 container">
		<nav class="nav row justify-content-between">
			<a class="nav-link proMover"
			   th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=1)}"
			   th:classappend="${homeTab == 1} ? 'bottomLine' : ''"
			   style="font-weight:500; color:#5a5a5a;">업무</a>
			<a class="nav-link proMover"
			   th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=2)}"
			   th:classappend="${homeTab == 2} ? 'bottomLine' : ''"
			   style="font-weight:500; color:#5a5a5a">피드</a>
			<a class="nav-link proMover"
			   th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=3)}"
			   th:classappend="${homeTab == 3} ? 'bottomLine' : ''"
			   style="font-weight:500; color:#5a5a5a">간트차트</a>
			<a class="nav-link proMover"
			   th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=4)}"
			   th:classappend="${homeTab == 4} ? 'bottomLine' : ''"
			   style="font-weight:500; color:#5a5a5a">캘린더</a>
		  <!-- <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=5)}"
		    th:classappend="${homeTab == 5} ? 'bottomLine' : ''">파일</a> -->
		  <!-- <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=6)}"
		    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '6'} ? 'bottomLine' : ''">알림</a> -->
			<!-- 주소를 가져오는 방식 -->
			<!-- <th:block th:text="${#strings.substringAfter((#strings.substringAfter(#request.requestURI, '/')), '/')}"></th:block>
			<p th:text="${#request.requestURI}"></p>
			<th:block th:text="${#strings.substringAfter(#request.getQueryString(), '=')}"></th:block> -->
			<input type="text"
				   id="proInSearch"
				   placeholder="프로젝트 내 검색 (제목, 내용, 작성자)"
				   style="height:30px; margin-top: 5.5px; margin-left: 280px; width: 276px;">
			<div style="margin-right:50px; margin-top:7px;">
				<span th:if="${readProAuth.id == session.Id}"
					  class="material-symbols-outlined spanCursor proMover invitetooltip"
					  data-toggle="modal"
					  data-target="#inviteMember"
					  title="프로젝트 인원 초대"
					  data-placement="bottom">group_add</span>
				<span class="material-symbols-outlined spanCursor proMover proout"
					  data-placement="bottom"
					  title="프로젝트 나가기"
					  onclick="exitProMem()">logout</span>
				<span th:if="${readProAuth.id == session.Id}"
					  class="material-symbols-outlined spanCursor proMover prodel"
					  onclick="delPro()"
					  data-placement="bottom"
					  title="프로젝트 삭제">delete</span>
			</div>
		</nav>
	</div>
	
	<!-- 인원 초대 모달 -->
	<div class="modal fade modal-dialog-scrollable"
		 id="inviteMember"
		 tabindex="-1"
		 role="dialog"
		 aria-labelledby="inviteMemberLabel"
		 aria-hidden="true"
		 style="display:none">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content dohyeonModalContent">
				<div class="modal-header">
					<h2 class="modal-title"
						id="inviteMemberLabel"
						style="font-weight:600;">초대 할 인원</h2>
					<button type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul class="list-group">
						<li class="list-group-item"
							th:each="pm : ${readPartiListM}"
							style="padding:6px 12px;">
							<label class="custom-checkbox"
								   style="margin:0px;">
								<input type="checkbox"
									   th:data-parti-member="${pm.id}">
									<span class="checkmark"></span>
									<span th:text="${pm.deptName}" style="width:80px;"></span>
									<span th:text="${pm.name}" style="width:65px;"></span>
									<span th:text="${pm.rank}" style="width:40px;"></span>
									<span th:text="${pm.id}"></span>
							</label>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-groob" onclick="inviteProMail()">저장</button>
					<button type="button" class="btn btn-groob" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 인원 초대 모달 종료 -->

<!-- 제이쿼리 툴팁 -->
<script>
	$(document).ready(function(){
	    $(".invitetooltip").tooltip();
	});
	$(document).ready(function(){
	    $(".square2").tooltip();
	});
	$(document).ready(function(){
	    $(".proout").tooltip();
	});
	$(document).ready(function(){
	    $(".prodel").tooltip();
	});
</script>

<!-- 검색기능 -->
<script type="text/javascript">
	proInSearch.addEventListener('keyup', function(event) {
		if(event.keyCode === 13) {
			if(proInSearch.value == '') {
				alert('빈값 허용 안함');
				proInSearch.focus();
				return false;
			};
			
			let searchKeyword = proInSearch.value;
			location.href="/proSearch/" + projectNo + "?search=" + searchKeyword;
		};
	});
</script>

<!-- 색상 변경 -->
<script>
	let newColor;
	 	
	//클릭시 색상 정보 저장
	function saveColor() {
		newColor = event.target.dataset.colorCode;
	};
	
	function changeColor() {
		if(newColor != null) {
			fetch("/updateProMemColor", {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					'proColor' : newColor,
					'proNo': projectNo
				})
			})
			.then(response => response.json())
			.then(res => {
				if(res.result == '성공') {
					$('#squareStyle').modal('hide');//모달창 닫기
					document.getElementsByClassName('square2')[0].style.backgroundColor = newColor;//색상변환
				} else {
					alert('실패');
				};
			});
			
		} else {
			alert('색상이 선택되지 않았습니다.');
		};
		
	};
</script>

<!-- 프로젝트 나가기 -->
<script>
	function exitProMem() {
		if(proAuth.id == selfId) {
			alert('프로젝트 관리자는 나갈 수 없습니다.');
			return false;
		};
		
		if(proDetailCount == 1) {
			alert('프로젝트 인원이 한명입니다. 프로젝트를 삭제해주세요');
			return false;
		};
		
		fetch("/delProMemOut", {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json'
			},
				body: JSON.stringify(projectNo)
		})
		.then(response => response.json())
		.then(res => {
			location.href = "/proMain";
		});
	};
</script>

<!-- 프로젝트 삭제 -->
<script>
	function delPro() {
		fetch("/delPro", {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(Number(projectNo))
		})
		.then(response => response.json())
		.then(res => {
			location.href="/proMain";
		})
		.catch(error => {
			console.error('Error: ', error);
		});
	};
</script>

<!-- 프로젝트 초대하기 -->
<script>
	function inviteProMail() {
		let inputs = inviteMember.querySelectorAll('input[type="checkbox"]:checked');
		let idArr = [];
		console.log(inputs)
		//체크된 체크박스의 정보 가져오기(초대받을 사람의 정보)
		inputs.forEach(inputv=> {
			let viteObj = {
				'proNo' : projectNo,
				'id' : inputv.dataset.partiMember
			};
			idArr.push(viteObj);
		});
		
		//체크값 확인
		if(idArr.length == 0) {
			alert('체크된 값이 없습니다.');
			return false;
		};
		
		fetch("/inviteMail", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(idArr)
		})
		.then(response => response.json())
		.then(res => {
			alert(res.result + '건 초대')
			$('#inviteMember').modal('hide');//모달창 닫기
			$('#inviteMember input[type="checkbox"]:checked').each(function() {
				$(this).closest('li').remove();
			});
			//모달 안의 값 초기화 시켜보기
		});
	};
</script>

</div>
</html>