<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="mainTopBar">

<!-- 최상단 -->
<div>
<th:block th:if="${firstURI == '/proMain'}">
	<h2 style="margin-top:25px; font-weight: 500;">[[${session.Name}]]의 프로젝트</h2>
</th:block>
<th:block th:if="${#strings.containsIgnoreCase(firstURI,'proMainS')}">
	<h2 style="margin-top:25px; font-weight: 500;">[[${session.Name}]]의 즐겨찾기 프로젝트</h2>
</th:block>
<th:block th:if="${#strings.containsIgnoreCase(firstURI,'proMainG')}">
	<h2 style="margin-top:25px; font-weight: 500;">[[${session.Name}]]의 미분류 프로젝트</h2>
</th:block>
<th:block th:if="${#strings.containsIgnoreCase(firstURI,'proMainH')}">
	<h2 style="margin-top:25px; font-weight: 500;">[[${session.Name}]]의 숨김 프로젝트</h2>
</th:block>
<th:block th:if="${#strings.containsIgnoreCase(firstURI,'proGroupD')}">
	<h2 style="margin-top:25px; font-weight: 500;">[[${session.Name}]]의 폴더</h2>
</th:block>
</div>
<!-- 최상단 종료 -->

<!-- 필터, 정렬 -->
<div style="text-align: end; margin-bottom: 15px;">
	<select class="custom-select"
			name="parti"
			onchange="chagepartiSelect()"
			id="partiSelect"
			style="width: 190px;">
		<option th:selected="${userProjectFilter.proPartiFilter == null}"
				value=""
				>내가 참여중인 프로젝트</option>
		<option th:selected="${userProjectFilter.proPartiFilter == session.Id}"
				th:value="${session.Id}">내가 관리자인 프로젝트</option>
	</select>
	<select class="custom-select"
			name="parti"
			onchange="chageorderSelect()"
			id="orderSelect"
			style="width: 150px;">
		<!-- <option th:selected="${userProjectFilter.proRange == 'p.pro_no DESC'}"
				value="p.pro_no DESC">최신 순(글/댓글)</option> -->
		<!-- <option th:selected="${userProjectFilter.proRange == 'p.pro_no ASC'}"
				value="p.pro_no ASC">내가 작성한 순(글/댓글)X</option> -->
		<option th:selected="${userProjectFilter.proRange == '1 DESC'}"
				value="1 DESC">오름차순(ㄱ~ㅎ)</option>
		<option th:selected="${userProjectFilter.proRange == '1 ASC'}"
				value="1 ASC">내림차순(ㅎ~ㄱ)</option>
	</select>
</div>
<!-- 필터, 정렬 취소 -->

</div>	
</body>
</html>