<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
  	<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- 풀캘린더 -->
	<script src="/fullcalendar-6.1.8/dist/index.global.js"></script>
	
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
		.dohyeon{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			color:black;
		}
		.dohyeonmenu{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			font-size : 25px;
			color:white;
		}
		.rightPad{
			padding-right:150px;
		}
		#modalFolderCreate1, #modalFolderCreate2, #modalFolderCreate3 {
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			padding-top: 100px; /* Location of the box */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
			display: none;
		}
		
		.horizontal-bar {
			height: 80px;
			width: 100%;
			background-color: #f9f9f9;
		}
		
		.horizontal-bar2 {
			height: 40px;
			width: 100%;
			background-color: #f5f5f5;
		}
		
		#modalFolderCreate4 {
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			padding-top: 100px; /* Location of the box */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
			display: none;
		}
		
		#modalBody, #modalBody2, #modalBody3 {
			width: 500px;
			height: 300px;
			padding: 30px 30px;
			margin: 0 auto;
			border: 1px solid #777;
			background-color: #fff;
		}
		
		#closeBtn, #closeBtn2 {
			float: right;
			font-weight: bold;
			color: #777;
			font-size: 25px;
			cursor: pointer;
		}
		
		details {
			padding: 12px;
			text-decoration: none;
			font-size: 16px;
			color: #bdc3c7;
			display: flex;
			align-items: center;
			transition: 0.3s;
		}
		
		.square {
			width: 50px;
			height: 50px;
			background-color: #000;
			margin-left: 30px;
			border-radius: 10px;
		}
		
		.bottomLine {
			border-bottom: 3px solid red;
			z-index: 1050;
		}
		.spanCursor {
			cursor: pointer
		}
	</style>
	</head>
  <body style="width:1215px;margin: 0 auto;">
  	<div>
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
	    		<img src="" title="" style="width: 200px;">
			</div>
			<div class="row">
				<img style="margin-top:10px;width:45px;height:45px;" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52942/paw-prints-emoji-clipart-md.png">
	            <div class="col-4 text-center">
	                <a class="blog-header-logo text-body-emphasis dohyeon" style="font-size:50px; font-weight : 500;" href="/main">Groobear</a>
	            </div>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center" style="margin-left: -200px;">
                <table style="width: 300px;text-align:right;margin-right:30px;">
                	<tbody>
	                	<tr>
	                		<td style="font-size:20px;">
	                			<a class="dohyeon">[[${session.Name }]]님 반갑습니다</a>
	                		</td>
	                	</tr>
	                	<tr>
	                		<td style="font-size:20px;"><span><a href="/logout" class="dohyeon">로그아웃</a></span>&nbsp;&nbsp;&nbsp;&nbsp;       
	                		<span><a id="commute" class="dohyeon">마이페이지</a></span></td>
	                	</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </header>
	</div>
	<nav class="navbar navbar-expand-lg" style="text-align: center; background-color:#35A880;"> 
      <div class="collapse navbar-collapse" id="navbarColor01">
      
	        <ul class="navbar-nav mr-auto" style="display:flex; margin:auto;">
	          <li class="nav-item active rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/introduce">회사소개</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/mail/receiveMail">메일</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/proMain">프로젝트</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/pay/payMain">전자결재</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/boardList?boardType=N">게시판</a>
	          </li>
	          <li class="nav-item" style="padding:0px;">
	            <a class="nav-link dohyeonmenu" href="/empInfo">인사관리</a>
	          </li>
	        </ul>
        </div>
    </nav>
	<div class="row">
      <!-- 사이드바 -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <!-- 사이드바 메뉴 아이템들 -->
            <li class="nav-item">
              <a href="/proCreate"><span class="material-icons">add_box</span>새 프로젝트 생성</a>
            </li>
            <li class="nav-item">
			  <a href="/proMain"><span class="material-icons">home</span>내 프로젝트</a>            
			</li>
            <li class="nav-item">
              <a href="/proMainS"><span class="material-icons">star</span>즐겨찾기</a>
            </li>
            <li class="nav-item">
              <a href="#"><span class="material-icons">mail</span>미확인(x)</a>
            </li>
            <li class="nav-item">
              <a href="/proMainG"><span class="material-icons">drafts</span>미분류</a>
            </li>
            <li class="nav-item">
              <a href="/proMainH"><span class="material-icons">visibility_off</span>숨김</a>
              <details>
				<summary>모아보기</summary>
				<ul>
					<li>전체업무</li>
					<li>북마크</li>
					<li>나를 언급</li>
					<li>내 게시물</li>
				</ul>
			  </details>
			  <details id="groupFolderList" open>
				<summary>
					프로젝트 폴더<span id="popupProjectBtn" class="material-icons">add</span>
				</summary>
				<!-- 프로젝트 그룹 리스트 -->
				<ul id="proGroup">
					<th:block th:each="proG : ${projectGroupList}">
						<li><a
							th:attr="data-gN=${proG.groupNo}, data-fName=${proG.groupName}"
							th:href="@{/proGroupD/{groupNo}(groupNo=${proG.groupNo})}">
								[[${proG.groupName}]]<span
								class='material-icons moreVertIcons' style='display: none;'>more_vert</span>
						</a></li>
					</th:block>
				</ul>
			  </details>
            </li>
          </ul>
        </div>
      </nav>
       <div class="data" style="display:none">
	<p class="nowMon"></p>
	
</div>
	<script>
	
	var today = new Date();
	var year = today.getFullYear();
	var month = ('0' + (today.getMonth() + 1)).slice(-2);
	var monthString = year + '-' + month;
	const monthDate = monthString;
	
	document.getElementById('commute').setAttribute('href','/commuteList/'+monthDate)
	
	</script>
		<!-- 프로젝트 우측 컨텐츠 -->
		<div class="col">
			<!-- 프로젝트 최 상단 바 -->
			<div class="horizontal-bar">
				<div>
					<ul class="nav">
						<li>
							<!-- 스타일을 동적으로 적용하는 네모 -->
							<button type="button" class="btn btn-primary square" data-toggle="modal"
									th:style="'background-color: ' + ${projectTopBar.proColor}"
									data-target="#squareStyle"></button>
									
									<!-- Modal -->
									<div class="modal fade" id="squareStyle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="squareStyleLabel">프로젝트 색상</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									      	
									      	<ul class="nav justify-content-center">
											  <li class="nav-item" th:each="colors : ${readPublicCodeColorAll}">
											    <!-- <a class="nav-link" href="#"></a> -->
											    <button type="button" class="btn btn-primary square nav-link"
														th:style="'background-color: ' + ${colors.codeName}"
														th:data-color-code="${colors.codeName}" onclick="saveColor()"></button>
											  </li>
											</ul>
									      	
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
									        <button type="button" class="btn btn-primary" onclick="changeColor()">확인</button>
									      </div>
									    </div>
									  </div>
									</div>
									<!-- Modal끝 -->
									
						</li>
						<li class="nav-item"><span class='material-icons'
							style="cursor: pointer;">more_vert</span></li>
						<li class="nav-item" th:text="${projectTopBar.proName}"></li>
						<li class="nav-item" th:text="${projectTopBar.proContent}"
							th:style="'margin-left:30px;'"></li>
					</ul>
				</div>
			</div>
			<!-- 프로젝트 탭 -->
			<div class="horizontal-bar2">
				
				<nav class="nav">
				  <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=1)}"
				    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '1'} ? 'bottomLine' : ''">업무</a>
				  <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=2)}"
				    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '2'} ? 'bottomLine' : ''">피드</a>
				  <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=3)}"
				    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '3'} ? 'bottomLine' : ''">간트차트</a>
				  <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=4)}"
				    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '4'} ? 'bottomLine' : ''">캘린더</a>
				  <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=5)}"
				    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '5'} ? 'bottomLine' : ''">파일</a>
				  <a class="nav-link" th:href="@{/proPostMain/{proNo}(proNo=${projectTopBar.proNo},homeTab=6)}"
				    th:classappend="${#strings.substringAfter(#request.getQueryString(), '=') == '6'} ? 'bottomLine' : ''">알림</a>
					<!-- 주소를 가져오는 방식 -->
					<!-- <th:block th:text="${#strings.substringAfter((#strings.substringAfter(#request.requestURI, '/')), '/')}"></th:block>
					<p th:text="${#request.requestURI}"></p>
					<th:block th:text="${#strings.substringAfter(#request.getQueryString(), '=')}"></th:block> -->
				<div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteMember">
					  +초대하기
					</button>
					<input type="text" id="proInSearch" placeholder="프로젝트 내 검색">
					<button type="button"
							class="btn btn-danger"
							onclick="delPro()">프로젝트 삭제</button>
				</div>
				</nav>
			</div>
			<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
		        <div layout:fragment="content" ></div>
		    </main>
		</div>



	</div>


	<div>

		<!-- modal창 -->
		<div id="modalFolderCreate1">
			<div id="modalContent">
				<div id="modalBody">
					<span id="closeBtn">&times;</span>
					<p>프로젝트 폴더 만들기</p>
					<input type="text" placeholder="프로젝트 폴더명을 입력하세요"
						id="folderContent1">
					<button type="button" id="cancelBtn" class="btn btn-primary">취소</button>
					<button type="button" id="createFolder">확인</button>
				</div>
			</div>
		</div>
		<!-- modal창2 -->
		<div id="modalFolderCreate2">
			<div id="modalContent2">
				<div id="modalBody2">
					<span id="closeBtn2">&times;</span>
					<p>프로젝트 폴더명 수정하기</p>
					<input type="text" placeholder="프로젝트 폴더명을 입력하세요"
						id="folderContent2">
					<button type="button" id="cancelBtn2" class="btn btn-primary">취소</button>
					<button type="button" id="updateFolderName">변경</button>
				</div>
			</div>
		</div>
		<!-- modal창3 -->
		<div id="modalFolderCreate3">
			<div id="modalContent3">
				<div id="modalBody3">
					<p>프로젝트 폴더를 삭제하시겠습니까?</p>
					<p>프로젝트 폴더에 포함된 프로젝트는 삭제되지 않습니다.</p>
					<button type="button" id="cancelBtn3" class="btn btn-primary">취소</button>
					<button type="button" id="deleteFolder">확인</button>
				</div>
			</div>
		</div>

	<!-- 인원 초대 모달 -->
	<div class="modal fade" id="inviteMember" tabindex="-1" aria-labelledby="inviteMemberLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="inviteMemberLabel">초대 할 인원</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<ul class="list-group">
			  <li class="list-group-item"
			  	  th:each="pm : ${readPartiListM}">
			  	<input type="checkbox"
			  		   th:data-parti-member="${pm.id}">
			  	<span th:text="${pm.rank}"></span>	  
			  	<span th:text="${pm.name}"></span>	  
			  	<span th:text="${pm.email}"></span>	  
			  </li>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
	        <button type="button" class="btn btn-primary" onclick="inviteMail()">저장</button>
	      </div>
	    </div>
	  </div>
	</div>



	</div>

<!-- 공통 js -->
<!-- 프로젝트 넘버 찾기(주소) -->
<script>
	let url = window.location.pathname;
	let lastIndex = url.lastIndexOf('/');
	let projectNo = url.substring(lastIndex + 1);
</script>

<!-- session값 가져오기 -->
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		let selfId = /*[[${session.Id}]]*/;
		let selfName = /*[[${session.Name}]]*/;
	/*]]>*/
</script>

<!-- 시간 변환 -->
<script type="text/javascript">
	function convertToFormattedDateTime(dateTimeStr) {
		if(dateTimeStr == '') {//빈값일때 바로 리턴
			return;
		}
	  const date = new Date(dateTimeStr);
	  const year = date.getFullYear();
	  const month = String(date.getMonth() + 1).padStart(2, '0');
	  const day = String(date.getDate()).padStart(2, '0');
	  const hours = String(date.getHours()).padStart(2, '0');
	  const minutes = String(date.getMinutes()).padStart(2, '0');

	  return `${year}-${month}-${day} ${hours}:${minutes}`;
	}
</script>

<!-- 모달 초기화 -->
<script>
	$('.modal').on('hidden.bs.modal', function (e) {
	  // 모달 내부의 모든 input 요소를 찾아 값을 초기화
	  $(this).find('input, textarea').val('');
	  //$(this).find('.collapse').removeClass('show');
	});
	
</script>

	<script th:inline="javascript">
    /*<![CDATA[*/
		//그룹 갯수 체크
    	let pGC = /*[[${projectGroupList}]]*/ [];
    	let pGCUp = pGC.length;
    	
    	//변수선언
	    let modal1 = document.getElementById('modalFolderCreate1');
	    let modal2 = document.getElementById('modalFolderCreate2');
	    let modal3 = document.getElementById('modalFolderCreate3');
	    let closeBtn1 = document.getElementById('closeBtn');
	    let closeBtn2 = document.getElementById('closeBtn2');
	    let cancelBtn1 = document.getElementById('cancelBtn');
	    let cancelBtn2 = document.getElementById('cancelBtn2');
	    let cancelBtn3 = document.getElementById('cancelBtn3');
		let folderC1 = document.getElementById('folderContent1');
		let folderC2 = document.getElementById('folderContent2');
		//변수선언2
	    let popupBtn = document.getElementById('popupProjectBtn');
		let creFolder = document.getElementById('createFolder');
		let uFolderName = document.getElementById('updateFolderName');
		let dFolder = document.getElementById('deleteFolder');
		
		//취소 공통
		let modals = [modal1, modal2];
		let closeBtns = [closeBtn1, closeBtn2];
		let cancelBtns = [cancelBtn1, cancelBtn2];
		let folderInputs = [folderC1, folderC2];

		//그룹 생성 모달창 띄우기
		popupBtn.addEventListener("click",function(e) { 
		  e.preventDefault();
		  modal1.style.display = 'block';
		});

		for (let i = 0; i < modals.length; i++) {
		  let modal = modals[i];
		  let closeBtn = closeBtns[i];
		  let cancelBtn = cancelBtns[i];
		  let folderInput = folderInputs[i];

		  closeBtn.addEventListener('click', function() {
		    closeModal(modal, folderInput);
		  });

		  cancelBtn.addEventListener('click', function() {
		    closeModal(modal, folderInput);
		  });
		  
		  window.addEventListener('keydown', function(e) {
			if(event.keyCode == 27){
				closeModal(modal, folderInput);
				modal3.style.display = "none";
				
				//modal4처리
				let dgm = document.querySelector('[data-group-modal]');
				let dgmC = dgm != null ? dgm.remove() : dgm; 
				
			}
		  });

		  window.addEventListener('click', function(event) {
		      let dgm = document.querySelector('[data-group-modal]');
		      let dgmC = document.querySelectorAll('[data-group-modal]');
		      let moreVert = event.target.parentElement.getElementsByClassName('moreVertIcons')[0];
		      
		    if (event.target === modal) {
		        closeModal(modal, folderInput);
		    } else if (event.target === moreVert && dgmC.length == 2) {
		    	dgm.remove()
		    } else if (event.target !== moreVert && dgmC.length == 1) {
		    	dgm.remove()
		    }
		    
		  });
		  
		}

		function closeModal(modal, input) {
		  modal.style.display = 'none';
		  input.value = '';
		}
		
		
		//시작
		
	    //클릭 후 그룹 폴더 만들기(모달1)
	    creFolder.onclick = function() {
	    	if(pGCUp >= 10) {
	    		alert('프로젝트 폴더는 최대 10개 생성 할 수 있습니다.');
	    		folderC1.value = '';
	    		modal1.style.display = "none";
	    	} else {
	    		//폴더명 확인
				checkGroupFolderName();
	    	}
				
		}
	    
	    //폴더명 확인
	    function checkGroupFolderName() {
			let formData = new FormData();
			formData.append('gN', folderC1.value);
			
			if(folderC1.value == '') {
	    		alert('폴더 이름은 공백을 허용하지 않습니다!');
	    		return;
	    	} else if (folderC1.value.length > 30) {
	    		alert('폴더 이름은 최대 30자 까지 가능합니다!');
	    		return;
	    	} else {
	    		//db정보 삽입
				fetch("/proGroupC", {
					method: 'POST',
					body : formData
				})
				.then(response => response.json())
				.then(res => {
					let rC = res.result;
					let latelyGroupNum = res.pGN;
					if(rC == '성공') {
						//동적 폴더 생성
						createFolder(latelyGroupNum);				
					} else {
						alert('요청이 취소 되었습니다.');
					}
				});
	    	};
			
	    };
	    
	    //동적 폴더 생성
	    function createFolder(lGN) {
				let pG = document.getElementById('proGroup');
	    		let liC = document.createElement('li');
				let aC = document.createElement('a');
				let spanC = document.createElement('span');

				spanC.className = 'material-icons moreVertIcons';
				spanC.style = 'display : none;';
				spanC.textContent = 'more_vert';
				
				aC.setAttribute('href', 'proGroupD/'+ lGN);
				aC.setAttribute('data-gN', lGN);
				aC.setAttribute('data-fName', folderC1.value);
				aC.textContent = folderC1.value;
				
				aC.append(spanC);
				liC.append(aC);
				pG.prepend(liC);
				
				folderC1.value = '';
				modal1.style.display = 'none';
				
				pGCUp++;
	    };
	    
	    // 프로젝트 그룹 상태 등장 효과
		let groupFolderUL = document.querySelector('#groupFolderList>ul');
		
		groupFolderUL.addEventListener("mouseover", makeGroupStatus);
		groupFolderUL.addEventListener("mouseout", deleteGroupStatus);
		
		//상태 등장
		function makeGroupStatus() {
			if(event.target.tagName == "A") {
				event.target.childNodes[1].style.display = 'block';
			} else if (event.target.tagName == "SPAN") {
				event.target.style.display = 'block';
			}
		};
		
		//상태 숨김
		function deleteGroupStatus() {
			if(event.target.tagName == "A") {
				event.target.childNodes[1].style.display = 'none';
			} else if (event.target.tagName == "SPAN") {
				event.target.style.display = 'none';
			}
		};
		
		//프로젝트 그룹 상태 클릭 속성(모달4)
		groupFolderUL.addEventListener("click", groupStatusModal);
		
		function groupStatusModal(event) {
			
			if(event.target.tagName == "SPAN") {
				event.preventDefault();
				
				//그룹no값 가져오기
				let groupNo = event.target.parentNode.dataset.gn;
				let groupName = event.target.parentNode.dataset.fname;
				
				//그룹 모달창 생성(모달4)
				miniModal(event.target);
				
				let groupNameChange = document.getElementById('groupNameChange' + groupNo);
				let groupDelte = document.getElementById('groupDelte' + groupNo);
				
				//프로젝트 수정창 띄우기(모달2)
				groupNameChange.addEventListener("click", function(e) {
					e.preventDefault();
					
					//인풋상자 값 넣어주기
					folderC2.value = groupName;
					//상태 모달창 삭제
					document.querySelector('[data-group-modal]').remove();
					
					modal2.style.display = 'block';
					
					//디비 수정
					uFolderName.addEventListener('click', function() {
						groupNameChangeDb(groupNo);
					});
					
			    });
				
				//프로젝트 삭제창(모달3)
				groupDelte.addEventListener("click", function(e) {
					e.preventDefault();
					//상태 모달창 삭제
					document.querySelector('[data-group-modal]').remove();
					
					modal3.style.display = 'block';
					
					window.onclick = function(event) {
				      if (event.target == modal3) {
				        modal3.style.display = "none";
				      }
				    }
					
					cancelBtn3.onclick = function() {
				      modal3.style.display = 'none';
				    }
					
					dFolder.addEventListener("click", function() {
						
						fetch("/FolderGroupD/" + groupNo, {
							method: 'DELETE'
						})
						.then(response => response.json())
						.then(res => {
							let rC = res.result;
						
							if(rC == '성공') {
								document.querySelectorAll(`[data-gN="${groupNo}"]`)[0].parentNode.remove();
								modal3.style.display = 'none';
							} else {
								alert('요청이 취소 되었습니다.');
							}
						});
					});
					
			    });
				
			}
		};
		
		
		//그룹명 디비 수정
		function groupNameChangeDb(groupNo) {
			if(folderC2.value == '') {
	    		alert('폴더 이름은 공백을 허용하지 않습니다!');
	    		return;
	    	} else if (folderC2.value.length > 30) {
	    		alert('폴더 이름은 최대 30자 까지 가능합니다!');
	    		return;
	    	} else {
	    		console.log('gn몇개 드가?'+groupNo);
	    		fetch("/proGroupNameC", {
    			  method: 'PUT',
    			  headers: {
    			    'Content-Type': 'application/json'
    			  },
    			  body: JSON.stringify({
    				    groupName: folderC2.value,
    				    groupNo: groupNo
    				  })
    			})
				.then(response => response.json())
				.then(res => {
					let rC = res.result;
				
					if(rC == '성공') {
						modal2.style.display = 'none';
						document.querySelectorAll(`[data-gN="${groupNo}"]`)[0].childNodes[0].textContent = folderC2.value;
					} else {
						alert('요청이 취소 되었습니다.');
					}
				});
	    	};
		};
		
		
		//그룹 모달창 생성
		function miniModal(target) {
			// 선택한 요소
			let targetElement = target.parentNode;
			let groupNum = targetElement.dataset.gn;

			// 모달 창 생성
			let modal4 = document.createElement('div');
			modal4.dataset.groupModal = groupNum;
			modal4.style.maxWidth = '100%';
			modal4.style.width = '68px';
			modal4.style.height = '58px';
			modal4.style.backgroundColor = 'lightgray';
			modal4.style.padding = '10px';
			modal4.style.position = 'absolute';
			modal4.style.top = targetElement.offsetTop + targetElement.offsetHeight + 68 + 'px';
			modal4.style.left = (targetElement.offsetLeft + 190) + 'px';
			modal4.style.marginTop = '4px';
			modal4.style.display = 'flex';
			modal4.style.flexDirection = 'column';
			modal4.style.alignItems = 'center';
			modal4.style.justifyContent = 'center';
			modal4.style.zIndex = '9999';

			// 버튼 추가
			let button1 = document.createElement('button');
			button1.type = 'button';
			button1.id = 'groupNameChange' + groupNum;
			button1.style.backgroundColor = 'transparent';
			button1.style.border = 'none';
			button1.style.display = '-webkit-box';
			button1.style.webkitLineClamp = '2';
			button1.style.webkitBoxOrient = 'vertical';
			button1.style.overflow = 'hidden';
			button1.style.textOverflow = 'ellipsis';
			button1.style.maxHeight = '2.8em';
			button1.style.lineHeight = '1.4em';
			button1.style.fontSize = '12px';
			
			// 버튼 내용 추가
			let content1 = document.createTextNode('수정');
			button1.appendChild(content1);
			
			// 버튼 생성
			let button2 = document.createElement('button');
			button2.type = 'button';
			button2.id = 'groupDelte' + groupNum;
			button2.style.backgroundColor = 'transparent';
			button2.style.border = 'none';
			button2.style.display = '-webkit-box';
			button2.style.webkitLineClamp = '2';
			button2.style.webkitBoxOrient = 'vertical';
			button2.style.overflow = 'hidden';
			button2.style.textOverflow = 'ellipsis';
			button2.style.maxHeight = '2.8em';
			button2.style.lineHeight = '1.4em';
			button2.style.fontSize = '12px';
			
			// 버튼 내용 추가
			let content2 = document.createTextNode('삭제');
			button2.appendChild(content2);

			// 버튼을 모달 창에 추가
			modal4.appendChild(button1);
			modal4.appendChild(button2);
			
			document.body.appendChild(modal4);
		}
		
    /*]]>*/
    </script>

    <script>
    	let newColor;
    	
    	//클릭시 색상 정보 저장
    	function saveColor() {
    		newColor = event.target.dataset.colorCode;
    		console.log(event.target)
    	}
    	
    	function changeColor() {
    		console.log(newColor);
    		fetch("/updateProMemColor", {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					'proColor' : newColor,
	   				'proNo': projectNo
	   			})
			})
			.then(response => response.json())
			.then(res => {
				console.log(res);
				if(res.result == '성공') {
					$('#squareStyle').modal('hide');//모달창 닫기
					document.getElementsByClassName('square')[0].style.backgroundColor = newColor;//색상변환
				} else {
					alert('실패');
				}
				
			});
    	}
    </script>
    
<!-- 검색기능 -->
<script type="text/javascript">
	proInSearch.addEventListener('keyup', function(event) {
		if(event.keyCode === 13) {
			if(proInSearch.value == '') {
				alert('빈값 허용 안함');
				proInSearch.focus();
				return false;
			}
			let searchKeyword = proInSearch.value;
			location.href="/proSearch/" + projectNo + "?search=" + searchKeyword;
			
		}
	})
</script>
    
<!-- 초대하기 -->
<script>
	function inviteMail() {
		let inputs = inviteMember.querySelectorAll('input[type="checkbox"]:checked');
		let idArr = [];
		inputs.forEach(inputv=> {
			let viteObj = {
					'proNo' : projectNo,
					'id' : inputv.dataset.partiMember
			};
			idArr.push(viteObj);
		});
		
		if(idArr.length == 0) {
			alert('체크된 값이 없습니다.')
			return false;
		}
		
		fetch("/inviteMail", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(idArr)
		})
		.then(response => response.json())
		.then(res => {
			alert(res.result + '건 초대')
			$('#inviteMember').modal('hide');//모달창 닫기
		});
	}
</script>
    
    
<script>
	function delPro() {
		
			console.log(projectNo)
			console.log(typeof(projectNo))
			
		fetch("/delPro", {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(Number(projectNo))
		})
		.then(response => response.json())
		.then(res => {
			console.log(res)
			location.href="/proMain";
		})
		.catch(error => {
			console.error('Error: ',error);
		});
	}
</script>
  </body>
</html>