<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
  	<title>Groobear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		#modalFolderCreate {
		  position: fixed; /* Stay in place */
		  z-index: 1; /* Sit on top */
		  padding-top: 100px; /* Location of the box */
		  left: 0;
		  top: 0;
		  width: 100%; /* Full width */
		  height: 100%; /* Full height */
		  overflow: auto; /* Enable scroll if needed */
		  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		  display: none;
		}
		
		#modalBody {
		  width: 500px;
		  height: 300px;
		  padding: 30px 30px;
		  margin: 0 auto;
		  border: 1px solid #777;
		  background-color: #fff;
		}
		
		#closeBtn {
		  float:right;
		  font-weight: bold;
		  color: #777;
		  font-size:25px;
		  cursor: pointer;
		}
		details {
	    padding: 12px;
	    text-decoration: none;
	    font-size: 16px;
	    color: #bdc3c7;
	    display: flex;
	    align-items: center;
	    transition: 0.3s;
		}
	</style>
  </head>
  <body>
  	<div>
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
	    		<img src="" title="" style="width: 200px;">
			</div>
            
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis" href="#">Groobear</a>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center" style="margin-left: -200px; font-family: 'Hahmlet', serif;">
                <table style="width: 300px;">
                	<tbody>
	                	<tr>
	                		<td><a>[[${session.Name }]]님 반갑습니다</a></td>
	                	</tr>
	                	<tr>
	                		<td><span><a href="logout">로그아웃</a></span>&nbsp;&nbsp;&nbsp;&nbsp;       
	                		<span><a href="#">마이페이지</a></span></td>

	                	</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </header>
	</div>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
      
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="#">Home
	              <span class="sr-only">(current)</span>
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">Features</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">Pricing</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">About</a>
	          </li>
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
	              aria-expanded="false">Dropdown</a>
	            <div class="dropdown-menu">
	              <a class="dropdown-item" href="#">Action</a>
	              <a class="dropdown-item" href="#">Another action</a>
	              <a class="dropdown-item" href="#">Something else here</a>
	              <div class="dropdown-divider"></div>
	              <a class="dropdown-item" href="#">Separated link</a>
	            </div>
	          </li>
	          <li>
	          	<a th:text="${session.UserId}"></a>
	          </li>
	        </ul>
        </div>
    </nav>
    
    <!-- 사이드바 -->
    <div>
    <table>
    	<tbody>
    		<tr>
    			<td style="vertical-align: top" class="col-4">
    				<div class="sidebar">
				        <a href="/proCreate"><span class="material-icons">add_box</span> 새 프로젝트 생성</a>
				        <a href="/proMain"><span class="material-icons">home</span> 내 프로젝트</a>
				        <a href="/proMainS"><span class="material-icons">star</span> 즐겨찾기</a>
				        <a href="#"><span class="material-icons">mail</span> 미확인(x)</a>
				        <a href="/proMainG"><span class="material-icons">drafts</span> 미분류</a>
				        <a href="/proMainH"><span class="material-icons">visibility_off</span> 숨김</a>
				        <details>
				        	<summary>모아보기</summary>
				        	<ul>
				        		<li>전체업무</li>
				        		<li>북마크</li>
				        		<li>나를 언급</li>
				        		<li>내 게시물</li>
				        	</ul>
				        </details>
				        <details open>
				        	<summary>프로젝트 폴더<span id="popupProjectBtn" class="material-icons">add</span></summary>
					        <!-- 프로젝트 그룹 리스트 -->
					        <ul id="proGroup">
					        	<th:block th:each="proG : ${projectGroupList}">
						        	<li><a th:attr="data-gN=${proG.groupNo}"
						        		th:href="@{/proGroupD/{groupNo}(groupNo=${proG.groupNo})}">
						        		[[${proG.groupName}]]<span class='material-icons' style='display : none;'>more_vert</span></a>
						        	</li>
					        	</th:block>
					        </ul>
				        </details>
				        			
			        	</div>
				    <!-- modal창 -->
				    <div id="modalFolderCreate">
					  <div id="modalContent">
					    <div id="modalBody">
					      <span id="closeBtn">&times;</span>
					      <p>프로젝트 폴더 만들기</p>
					      <input type="text" placeholder="프로젝트 폴더명을 입력하세요" id="folderContent">
					      <button type="button" id="closeBtn2" class="btn btn-primary">취소</button>
					      <button type="button" id="createfolder">확인</button>
					    </div>
					  </div>
					</div>
    			</td>
    			<td class="col-8">
    				<div>
				    	<div layout:fragment="content" ></div>
				    </div>
    			</td>
    		</tr>
    	</tbody>
    </table>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
	    let btn = document.getElementById('popupProjectBtn');
	    let modal = document.getElementById('modalFolderCreate');
	    let closeBtn = document.getElementById('closeBtn');
		let creFolder = document.getElementById('createfolder');
		let fC = document.getElementById('folderContent');
		
		//그룹 갯수 체크
    	let pGC = /*[[${projectGroupList}]]*/ [];
    	let pGCUp = pGC.length;
	
	    btn.onclick = function(e) {
			e.preventDefault();
			modal.style.display = 'block';
	    }
	    
	    closeBtn.onclick = function() {
	      modal.style.display = 'none';
	      document.getElementById('folderContent').value='';
	    }

	    closeBtn2.onclick = function() {
	      modal.style.display = 'none';
	      document.getElementById('folderContent').value='';
	    }
	
	    window.onclick = function(event) {
	      if (event.target == modal) {
	        modal.style.display = "none";
	        document.getElementById('folderContent').value='';
	      }
	    }
		
	    //클릭 후 그룹 폴더 만들기
	    creFolder.onclick = function() {
	    	
	    	console.log(pGCUp);
			
	    	if(pGCUp >= 10) {
	    		alert('프로젝트 폴더는 최대 10개 생성 할 수 있습니다.');
	    		fC.value = '';
	    		modal.style.display = "none";
	    	} else {
	    		
				makeDbFolder();
	    	}
				
		}
	    
	    //db 정보 삽입
	    function makeDbFolder() {
	    	let fCV = fC.value;
			let formData = new FormData();
			formData.append('gN', fCV);
			
			if(fC.value == '') {
	    		alert('폴더 이름은 공백을 허용하지 않습니다!');
	    		return;
	    	} else if (fC.value.length > 30) {
	    		alert('폴더 이름은 최대 30자 까지 가능합니다!');
	    		return;
	    	} else {
				fetch("/proGroupC", {
					method: 'POST',
					body : formData
				})
				.then(response => response.json())
				.then(res => {
				let rC = res.result;
				let pGN = res.pGN;
				
					if(rC == '등록') {
						createFolder(pGN);				
					} else {
						alert('요청이 취소 되었습니다.');
					}
				});
	    	}
			
	    };
	    
	    //동적 폴더 생성
	    function createFolder(pGN) {
	    	let liC = document.createElement('li');
			let aC = document.createElement('a');
			
			
			aC.setAttribute('href', 'proGroupD/'+ pGN);
			aC.setAttribute('data-gN', pGN)
			aC.textContent = fC.value;
			
			let pG = document.getElementById('proGroup');
			liC.append(aC);
			pG.prepend(liC);
			
			fC.value = '';
			modal.style.display = 'none';
			
			pGCUp++;
	    };
	    
    	
    /*]]>*/
    </script>
  </body>
</html>