<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"0
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
  	<title>Groobear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
		.dohyeon{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			color:black;
		}
		.dohyeonmenu{
			font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
			font-size : 25px;
			color:white;
		}
		.rightPad{
			padding-right:150px;
		}
	</style>
  </head>
  <body style="width:1215px;margin: 0 auto;">
  	<div>
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
	    		<img src="" title="" style="width: 200px;">
			</div>
			<div class="row">
				<img style="margin-top:10px;width:45px;height:45px;" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52942/paw-prints-emoji-clipart-md.png">
	            <div class="col-4 text-center">
	                <a class="blog-header-logo text-body-emphasis dohyeon" style="font-size:50px; font-weight : 500;" href="/main">Groobear</a>
	            </div>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center" style="margin-left: -200px;">
                <table style="width: 300px;text-align:right;margin-right:30px;">
                	<tbody>
	                	<tr>
	                		<td style="font-size:20px;">
	                			<a class="dohyeon">[[${session.Name }]]님 반갑습니다</a>
	                		</td>
	                	</tr>
	                	<tr>
	                		<td style="font-size:20px;"><span><a href="/logout" class="dohyeon">로그아웃</a></span>&nbsp;&nbsp;&nbsp;&nbsp;       
	                		<span><a id="commute" class="dohyeon">마이페이지</a></span></td>
	                	</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </header>
	</div>
	<nav class="navbar navbar-expand-lg" style="text-align: center; background-color:#35A880;"> 
      <div class="collapse navbar-collapse" id="navbarColor01">
      
	        <ul class="navbar-nav mr-auto" style="display:flex; margin:auto;">
	          <li class="nav-item active rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/introduce">회사소개</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/mail/receiveMail">메일</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/proMain">프로젝트</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/pay/payMain">전자결재</a>
	          </li>
	          <li class="nav-item rightPad" style="padding:0px; margin-right:90px;">
	            <a class="nav-link dohyeonmenu" href="/boardList?boardType=N">게시판</a>
	          </li>
	          <li class="nav-item" style="padding:0px;">
	            <a class="nav-link dohyeonmenu" href="/empInfo">인사관리</a>
	          </li>
	        </ul>
        </div>
    </nav>
     <div class="data" style="display:none">
	<p class="nowMon"></p>
	
</div>
	<script>
	
	var today = new Date();
	var year = today.getFullYear();
	var month = ('0' + (today.getMonth() + 1)).slice(-2);
	var monthString = year + '-' + month;
	const monthDate = monthString;
	
	document.getElementById('commute').setAttribute('href','/commuteList/'+monthDate)
	
	</script>
    <div>
    	<div layout:fragment="content" ></div> 
    </div>
  </body>
</html>