<!doctype html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
  	<title>Groobear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<div>
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
	    		<img src="" title="" style="width: 200px;">
			</div>
            
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis" href="#">Groobear</a>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center" style="margin-left: -200px; font-family: 'Hahmlet', serif;">
                <table style="width: 300px;">
                	<tbody>
	                	<tr>
	                		<td><a>[[${session.Name }]]님 반갑습니다</a></td>
	                	</tr>
	                	<tr>
	                		<td><span><a href="logout">로그아웃</a></span>&nbsp;&nbsp;&nbsp;&nbsp;       
	                		<span><a href="mypage">마이페이지</a></span></td>
	                	</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </header>
	</div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
      
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="#">Home
	              <span class="sr-only">(current)</span>
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">Features</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">Pricing</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">About</a>
	          </li>
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="boardList?boardType=A" role="button" aria-haspopup="true"
	              aria-expanded="false">게시판</a>
	            <div class="dropdown-menu">
	              <a class="dropdown-item" href="#">Action</a>
	              <a class="dropdown-item" href="#">Another action</a>
	              <a class="dropdown-item" href="#">Something else here</a>
	              <div class="dropdown-divider"></div>
	              <a class="dropdown-item" href="#">Separated link</a>
	            </div>
	          </li>
	        </ul>
        </div>
        
    </nav>
    <div>
    <table>
    	<tbody>
    		<tr>
    			<td style="vertical-align: top" class="col-4">
    				<div class="sidebar" id="board">
				        <a href="boardList?boardType=N"><span class="material-icons">home</span> 공지사항</a>
				        <a href="boardList?boardType=U"><span class="material-icons">info</span> 언론보도</a>
				        <a href="boardList?boardType=F"><span class="material-icons">mail</span> 자유게시판</a>
				    </div>
				   <div class="sidebar" id="myPageMainA">
				        <a href="carList"><span class="material-icons">info</span> 차량 관리</a>
				    </div>
    			</td>
    			<td class="col-8">
    				<div>
				    	<div layout:fragment="content" ></div>
				    </div>
    			</td>
    		</tr>
    	</tbody>
    </table>
   </div>
<script>
	
	let path;
	if(document.location.href.lastIndexOf('?') > 0){
		path = document.location.href.substring(document.location.href.lastIndexOf('/'),document.location.href.lastIndexOf('?'));
	}else{
		path = document.location.href.substring(document.location.href.lastIndexOf('/'));
	}
	
	if(path=="board" || path=="/getMulti.do" || path=="/addMulti.do" || path=="/updateMulti.do"){
		document.getElementById('board').style="display:block";
	} 
	/*else if(path=="mypage" || path=="#" || path=="#" || path=="#"){
		document.getElementById('myPageMainA').style="display:block";
	}
	else if(path=="/introduce.do" || path=="/plusMileage.do" || path=="/buyLottery.do" || path=="/buyAuto.do" || path=="/buyManual.do"){
		document.getElementById('LotterySide').style="diplay:block";
	} 
	 else if(path=="/storelist.do" || path=="/storesearch.do"){
		document.getElementById('StoreSide').style="diplay:block";
	} else if(path=="/listLotto.do" || path=="/liveReward.do"){
		document.getElementById('ResultSide').style="diplay:block";
	} else if(path=="/mypage.do" || path=="/deletemember.do"){
		document.getElementById('MypageSide').style="diplay:block";
	}
	
	 */
</script>

    
  </body>
</html>