<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="~{layout/myPageATiles}">
<head>


<style>
html {
	height : 100%;
}
#monthDate{
	cursor:pointer;
}
</style>
<meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
	<h2 style="margin-top: 35px; font-weight:500;">근태관리</h2>
	<div>
			<div style="position: absolute;margin-left: 6px;right: 25px;top: 25px;">
				<button type="button" onclick="prevMon()" class="btn btn-primary" style="border-radius: 10px;padding: 5px 7px 5px 5px;color: black;background-color: #fff;border-color: #399f61;">
						&laquo;</button>
					<input
						style="border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 10px;height: 35px;border-color: #399f61;text-align: center;"
						type="month" name="monthDate" id="monthDate"
						onchange="changeMon()" th:value="${monthDate}">
					<button type="button" onclick="nextMon()" class="btn btn-primary" style="border-radius: 10px;padding: 5px 5px 5px 7px;color: black;background-color: #fff;border-color: #399f61;">
						&raquo;</button>
			</div>
		<div style="border: 1px solid gray;border-radius: 10px;margin: 10px 0px 15px 0px;" >
			<div style=" display: flex; justify-content: space-around; margin-top: 5px; height:30px;">
				<p style="font-weight: 500;">이름 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${comInfo[0].name}]]</span></p>
				<p style="font-weight: 500;">사번 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${comInfo[0].empNo}]]</span></p>
				<p style="font-weight: 500;">부서 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${comInfo[0].deptName}]]</span></p>
				<p style="font-weight: 500;">직급 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${session.Rank}]]</span></p>
			</div>
			<div style=" display: flex; justify-content: space-around; height:30px;">	
				<p style="font-weight: 500;">연차수량 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${comInfo[0].offCount}]]</span></p>
				<p style="font-weight: 500;">월 연장근무 시간 : &nbsp;&nbsp;&nbsp;<span id="owtIn" style="font-weight: 300;"></span></p>
				<p style="font-weight: 500;">월 근무 일 수 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${work.count}]]</span></p>
				<p style="font-weight: 500;">월 결근 일 수 : &nbsp;&nbsp;&nbsp;<span style="font-weight: 300;">[[${noWork.count}]]</span></p>
				<span id="owt2" th:text="${work.over}" style="display:none;"></span>
			</div>
		</div>
		
		<table class="table table-hover" style="margin-top:5px;text-align:center;">
			<thead>
				<tr>
					<th>날짜</th>
					<th>사번</th>
					<th>부서</th>
					<th>이름</th>
					<th>출근</th>
					<th>퇴근</th>
					<th>근무시간</th>
					<th>연장근무시간</th>
					<th>근무 여부</th>
				</tr> 
			</thead>
			<tbody>
				<tr class="cml" th:if="${info != null}" th:each="comm, stat:${info}">
					<td>[[${#dates.format(comm.day,'MM/dd')}]]</td>
					<td>[[${comm.empNo}]]</td>
					<td>[[${comm.deptName}]]</td>
					<td>[[${comm.name}]]</td>
					<td>[[${#dates.format(comm.workStart,'HH:mm')}]]</td>
					<td>[[${#dates.format(comm.workEnd,'HH:mm')}]]</td>
					<td class="wt">[[${comm.workTime}]]</td>
					<td class="owt">[[${comm.overWorkTime}]]</td>
					<td th:if="${comm.offStatus == 'N'}">결근</td>
					<td th:if="${comm.offStatus == 'Y'}">근무</td>
					<td th:if="${comm.offStatus == 'O'}">휴무</td>
				</tr>
			</tbody>
		</table>
		
	</div>
<div>
		<ul id="ulId" class="paging pagination pagination-sm" style="display: flex;justify-content: center;" th:if="${paging.endPage != 0}">
		<li class="page-item"><a class="page-link" 
					th:href="|javascript:goPage(1)|" style="border-radius: 5px 0px 0px 5px;">&laquo;</a></li>
		<li class="page-item active" th:class="${num==paging.cri.page ? 'active' : ''}" 
			th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
			<a class="page-link" th:href="|javascript:goPage([[${num}]])|"
			th:text="${num}"></a>
		</li>
		<li class="page-item"><a class="page-link" style="border-radius: 0px 5px 5px 0px;"
			th:href="|javascript:goPage([[${paging.totalCount / paging.cri.perPageNum + (paging.totalCount % paging.cri.perPageNum > 0 ? 1 : 0)}]])|">&raquo;</a>
		</li>
    </ul>
	</div>
	
<script th:inline="javascript">
function goPage(p){
	month = document.getElementById('monthDate').value;
	location.href="/commuteList/"+month+"?page="+p;
}

for(let i = 0 ; i < document.querySelectorAll('.cml').length;i++){
		

	var number = document.querySelectorAll('.wt')[i].textContent;
	if(number != 0){
		
	var hours = Math.floor(number/60)-1;
	if(hours < 10){
		hours = '0'+hours;
	}
	var minutes = number%60;
	if(minutes < 10){
		minutes = '0'+minutes;
	}
	
	var cal = 
		hours + ':' + minutes;
	
	document.querySelectorAll('.wt')[i].textContent = cal;	
	}
	else {
		document.querySelectorAll('.wt')[i].textContent = '00:00';	
	}
	
	var number2 = document.querySelectorAll('.owt')[i].textContent;
	
	var hours2 = Math.floor(number2/60);
	if(hours2 < 10){
		hours2 = '0'+hours2;
	}
	var minutes2 = number2%60;
	if(minutes2 < 10){
		minutes2 = '0'+minutes2;
	}
	
	var cal2 = 
		hours2 + ':' + minutes2;
	
	document.querySelectorAll('.owt')[i].textContent = cal2;
	
}


var number3 = document.getElementById('owt2').textContent;

if(number3 != 0){
	
	
	var hours3 = Math.floor(number3/60);
	if(hours3 < 10){
		hours3 = '0'+hours3;
	}
	var minutes3 = number3%60;
	if(minutes3 < 10){
		minutes3 = '0'+minutes3;
	}
	
	var cal3 = 
		hours3 + ':' + minutes3;
	
	
	document.getElementById('owtIn').textContent = cal3;
	}
	else {
		document.getElementById('owtIn').textContent = '00:00';
	}


var mon = document.querySelector('#monthDate').value

console.log(mon);

var nowMon = new Date(mon);

var nextMonth = ('0' + (nowMon.getMonth() + 2)).slice(-2);
var prevMonth = ('0' + (nowMon.getMonth())).slice(-2);

var nextMonthString = year + '-' + nextMonth;
var prevMonthString = year + '-' + prevMonth;


console.log(nextMonthString);


function nextMon(){
	location.href ='/commuteList/'+nextMonthString;
}
function prevMon(){
	location.href ='/commuteList/'+prevMonthString;
}
function changeMon(){
	let monthDate = document.querySelector('#monthDate').value;
	location.href ='/commuteList/'+monthDate;
}


	
	
	
	
	
</script>

</div>


</body>
</html>