<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="~{layout/myPageATiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<div>
		<div style="border:1px solid rgba(0, 0, 0, 0.1); border-radius:5px; margin:3px 0;" >
			<div>
				<button type="button" onclick="prevMon()" class="btn btn-primary"> < </button>
				<input style="border:1px solid rgba(0, 0, 0, 0.1); border-radius:5px;height:35px;" type="month" name="monthDate" id="monthDate" onchange ="changeMon()" th:value="${#dates.format(info[0].day,'yyyy-MM')}">
				<button type="button" onclick="nextMon()" class="btn btn-primary"> > </button>
			</div>
			<p>잔여 연차 : [[${info[0].offCount}]]</p>
			<p>월 연장 근무 시간 : <span class="owt">[[${work.over}]]</span></p>
			<p>월 근무 일수 : [[${work.count}]] </p>
		</div>
		
		<table class="table table-hover" style="margin-top:5px;">
			<thead>
				<tr>
					<th>날짜</th>
					<th>사번</th>
					<th>부서</th>
					<th>이름</th>
					<th>출근</th>
					<th>퇴근</th>
					<th>근무시간</th>
					<th>연장근무시간</th>
					<th>근무 여부</th>
				</tr> 
			</thead>
			<tbody>
				<tr class="cml" th:if="${info != null}" th:each="comm, stat:${info}">
					<td>[[${#dates.format(comm.day,'MM/dd')}]]</td>
					<td>[[${comm.empNo}]]</td>
					<td>[[${comm.deptName}]]</td>
					<td>[[${comm.name}]]</td>
					<td>[[${#dates.format(comm.workStart,'HH:mm')}]]</td>
					<td>[[${#dates.format(comm.workEnd,'HH:mm')}]]</td>
					<td class="wt">[[${comm.workTime}]]</td>
					<td class="owt">[[${comm.overWorkTime}]]</td>
					<td th:if="${comm.offStatus == 'N'}">결근</td>
					<td th:if="${comm.offStatus == 'Y'}">근무</td>
					<td th:if="${comm.offStatus == 'O'}">휴무</td>
				</tr>
			</tbody>
		</table>
		
	</div>
<div>
		<ul class="paging pagination pagination-sm" th:if="${paging.endPage != 0}">
			
			 <li class="page-item disabled">
      				<a class="page-link" th:href="|javascript:goPage(1)|">&laquo;</a>
    		</li>
	        <li th:if="${paging.prev}" class="page-item disabled">
	            <a th:href="|javascript:goPage([[${paging.startPage-1}]])|">이전</a>
	        </li>
	        <li class="page-item active" th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
	            <a class="page-link" th:href="|javascript:goPage([[${num}]])|" th:text="${num}"></a>
	        </li>
	        <li th:if="${paging.next and paging.endPage > 0}">
	            <a th:href="|javascript:goPage([[${paging.endPage+1}]])|">다음</a>
	        </li>
	        <li class="page-item">
      <a class="page-link" th:href="|javascript:goPage([[${paging.totalCount / paging.cri.perPageNum + (paging.totalCount % paging.cri.perPageNum > 0 ? 1 : 0)}]])|">&raquo;</a>
    </li>
    	</ul>
	</div>
	
<script th:inline="javascript">
function goPage(p){
	searchForm.page.value = p;
	searchForm.submit();
}

for(let i = 0 ; i < document.querySelectorAll('.cml').length;i++){
		

	var number = document.querySelectorAll('.wt')[i].textContent;
	
	var hours = Math.floor(number/60);
	if(hours < 10){
		hours = '0'+hours;
	}
	var minutes = number%60;
	if(minutes < 10){
		minutes = '0'+minutes;
	}
	
	var cal = 
		hours + ':' + minutes;
	
	document.querySelectorAll('.wt')[i].textContent = cal;	

	
	var number2 = document.querySelectorAll('.owt')[i].textContent;
	
	var hours2 = Math.floor(number2/60);
	if(hours2 < 10){
		hours2 = '0'+hours2;
	}
	var minutes2 = number2%60;
	if(minutes2 < 10){
		minutes2 = '0'+minutes2;
	}
	
	var cal2 = 
		hours2 + ':' + minutes2;
	
	document.querySelectorAll('.owt')[i].textContent = cal2;
	
}


var mon = document.querySelector('#monthDate').value

console.log(mon);

var nowMon = new Date(mon);

var nextMonth = ('0' + (nowMon.getMonth() + 2)).slice(-2);
var prevMonth = ('0' + (nowMon.getMonth())).slice(-2);

var nextMonthString = year + '-' + nextMonth;
var prevMonthString = year + '-' + prevMonth;

console.log(nextMonthString);

function nextMon(){
	location.href ='/commuteList/'+nextMonthString;
}
function prevMon(){
	location.href ='/commuteList/'+prevMonthString;
}
function changeMon(){
	let monthDate = document.querySelector('#monthDate').value;
	location.href ='/commuteList/'+monthDate;
}



	
</script>

</div>


</body>
</html>