<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/proPostTiles}">
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
<style>
textarea {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
  resize: vertical; /* 세로 조정 가능 */
}
p {
	margin: 0px;
}
</style>
	
</head>
<body layout:fragment="content" style="background-color: #eee">
	<!-- 중앙 + 참여자 -->
	<div>
		<!-- 중앙 -->
		<div style="overflow-y: auto; width: 680px;">
			<div>피드</div>
			<!-- 업무리포트(총 업무수)(차트) -->
			<div>
				<table>

				</table>
			</div>
			<!-- 글 생성 nav -->
			<div>
				<ul class="nav justify-content-center"
					style="background-color: #faf9f9">
					<li class="nav-item" data-post-code="1"><a class="nav-link"
						data-toggle="modal" data-target="#modal1" href="#"><span>글</span></a></li>
					<li class="nav-item" data-post-code="2"><a class="nav-link"
						data-toggle="modal" data-target="#modal2" href="#"><span>업무</span></a></li>
					<li class="nav-item" data-post-code="3"><a class="nav-link"
						data-toggle="modal" data-target="#modal3" href="#"><span>일정</span></a></li>
					<li class="nav-item" data-post-code="4"><a class="nav-link"
						data-toggle="modal" data-target="#modal4" href="#"><span>할
								일</span></a></li>
					<li class="nav-item" data-post-code="5"><a class="nav-link"
						data-toggle="modal" data-target="#modal5" href="#"><span>투표</span></a></li>
				</ul>

				<!-- 모달 공간 -->
				<div>
				<div class="container">

					<!-- 1. 글 작성-->
					<div class="modal fade modal-dialog-scrollable" id="modal1" tabindex="-1" role="dialog"
						aria-labelledby="modal1Label" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal1Label">글</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- 태그 선택 -->
								<div>
									<ul class="nav justify-content-center">
										<li class="nav-item" data-post-code="1"><a class="nav-link"
											href="#"><span>글</span></a></li>
										<li class="nav-item" data-post-code="2"><a class="nav-link"
											data-toggle="modal" data-target="#modal2" data-dismiss="modal" href="#"><span>업무</span></a></li>
										<li class="nav-item" data-post-code="3"><a class="nav-link"
											data-toggle="modal" data-target="#modal3" data-dismiss="modal" href="#"><span>일정</span></a></li>
										<li class="nav-item" data-post-code="4"><a class="nav-link"
											data-toggle="modal" data-target="#modal4" data-dismiss="modal" href="#"><span>할일</span></a></li>
										<li class="nav-item" data-post-code="5"><a class="nav-link"
											data-toggle="modal" data-target="#modal5" data-dismiss="modal" href="#"><span>투표</span></a></li>
									</ul>
								</div>
								<div class="modal-body">
									<div>
										<input type="text" placeholder="제목을 입력하세요." class="postTitle">
									</div>
									<div>
										<textarea placeholder="내용을 입력하세요." id="writingContent"></textarea>
									</div>
								</div>
								<button type="button" class="btn btn-primary" id="createWritingButton">등록</button>
							</div>
						</div>
					</div>
					
					<!-- 2.업무 작성 -->
					<div class="modal fade modal-dialog-scrollable" id="modal2" tabindex="-1" role="dialog"
						aria-labelledby="modal2Label" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal2Label">업무</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- 태그 선택 -->
								<div>
									<ul class="nav justify-content-center">
										<li class="nav-item" data-post-code="1"><a class="nav-link"
											data-toggle="modal" data-target="#modal1" data-dismiss="modal" href="#"><span>글</span></a></li>
										<li class="nav-item" data-post-code="2"><a class="nav-link"
											href="#"><span>업무</span></a></li>
										<li class="nav-item" data-post-code="3"><a class="nav-link"
											data-toggle="modal" data-target="#modal3" data-dismiss="modal" href="#"><span>일정</span></a></li>
										<li class="nav-item" data-post-code="4"><a class="nav-link"
											data-toggle="modal" data-target="#modal4" data-dismiss="modal" href="#"><span>할일</span></a></li>
										<li class="nav-item" data-post-code="5"><a class="nav-link"
											data-toggle="modal" data-target="#modal5" data-dismiss="modal" href="#"><span>투표</span></a></li>
									</ul>
								</div>
								<div class="modal-body">
									<div>
										<input type="text" placeholder="제목을 입력하세요." class="postTitle">
									</div>
									<!-- 업무상태 -->
									<div id="workPostStatus">
										<button type="button" class="btn btn-primary" id="workTypeButtonToggle"
												data-work-type-status="1" onclick="toggleButtonStyle(this)">요청</button>
										<button type="button" class="btn btn-outline-warning"
												data-work-type-status="2" onclick="toggleButtonStyle(this)">진행</button>
										<button type="button" class="btn btn-outline-danger"
												data-work-type-status="3" onclick="toggleButtonStyle(this)">피드백</button>
										<button type="button" class="btn btn-outline-success"
												data-work-type-status="4" onclick="toggleButtonStyle(this)">완료</button>
										<button type="button" class="btn btn-outline-secondary"
												data-work-type-status="5" onclick="toggleButtonStyle(this)">보류</button>
									</div>
									<!-- 담당자 추가 -->
									<div>
										<p>담당자 추가(Ctrl을 누르면 중복 처리 가능)</p>
										<select class="form-select" multiple name="workMember" size=5 id="workPostPerson"
												onchange="workPostPeople(this)">
											<th:block th:each="member : ${projectPartiMember}">
													<!-- <option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id == session.Id}" style="background-color: #eee;"></option> -->
													<option th:text="${member.name} +'(나)'" th:value="${member.id}"
													th:if="${member.id == session.Id}"></option>
													<option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id != session.Id}"></option>
											</th:block>
										</select>
									</div>
									<!-- 항목 추가입력 -->
									<div>
										<p>
										  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
										    + 항목추가입력
										  </button>
										</p>
										<div class="collapse" id="collapseExample">
										  <div class="card card-body">
										  	<!-- 시작일 추가 -->
										  	<div>
										  		<p>시작일</p>
													<input type="datetime-local" id="startWorkDate">
										  	</div>
										  	<!-- 마감일 추가 -->
										  	<div>
										  		<p>마감일</p>
										  		<input type="datetime-local"  id="endWorkDate">
										  	</div>
										  	<!-- 우선순위 추가 -->
										  	<div>
													<p>우선순위</p>
													<select class="custom-select" name="workPri" id="workPostPri">
														<option value="">없음</option>
														<option value="1">낮음</option>
														<option value="2">보통</option>
														<option value="3">높음</option>
														<option value="4">긴급</option>
													</select>
										  	</div>
										  	<!-- 그룹 추가 -->
										  	<div>
										  	
										  	<p>업무 그룹</p>
											<select class="form-select" name="workGroup" id="workPostGroup">
												<th:block th:each="group : ${projectWritingWorkGroup}">
														<option th:text="${group.workGroupName}" th:value="${group.workGroupNo}" selected></option>
												</th:block>
											</select>
										  	</div>
										  </div>
										</div>
									</div>
									
									<!-- 내용입력 -->
									<div>
										<textarea placeholder="내용을 입력하세요." id="workWritingContent"></textarea>
									</div>

									<!-- 하위업무 -->
									<div>
										<!-- 하위업무 수 -->
										<div>
											<p>ㄴ하위업무</p>
										</div>
										<!-- 하위업무 동적 생성 -->
										<div>
											<button type="button">+ 하위업무 추가</button>
										</div>
										<!-- 하위업무 입력란 -->
										<div>
											
										</div>
									</div>
								</div>
									<button type="button" class="btn btn-primary" id="createWorkButton">등록</button>
							</div>
						</div>
					</div>
					
					<!-- 3.일정 작성 -->
					<div class="modal fade modal-dialog-scrollable" id="modal3" tabindex="-1" role="dialog"
						aria-labelledby="modal3Label" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal3Label">일정</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- 태그 선택 -->
								<div>
									<ul class="nav justify-content-center">
										<li class="nav-item" data-post-code="1"><a class="nav-link"
											data-toggle="modal" data-target="#modal1" data-dismiss="modal" href="#"><span>글</span></a></li>
										<li class="nav-item" data-post-code="2"><a class="nav-link"
											data-toggle="modal" data-target="#modal2" data-dismiss="modal" href="#"><span>업무</span></a></li>
										<li class="nav-item" data-post-code="3"><a class="nav-link"
											href="#"><span>일정</span></a></li>
										<li class="nav-item" data-post-code="4"><a class="nav-link"
											data-toggle="modal" data-target="#modal4" data-dismiss="modal" href="#"><span>할일</span></a></li>
										<li class="nav-item" data-post-code="5"><a class="nav-link"
											data-toggle="modal" data-target="#modal5" data-dismiss="modal" href="#"><span>투표</span></a></li>
									</ul>
								</div>
								<div class="modal-body">
									<div>
										<input type="text" placeholder="제목을 입력하세요." class="postTitle">
									</div>
									<!-- 시작일 -->
									<div>
										<p>시작일</p>
										<input type="datetime-local" id="startSchDate">
									</div>
									
									<!-- 마감일 -->
									<div>
										<p>마감일</p>
										<input type="datetime-local" id="endSchDate">
									</div>
									<!-- 참석자 -->
									<div>
										<p>참석자 추가(Ctrl을 누르면 중복 처리 가능)</p>
										<select class="form-select" multiple name="workMember" size=5>
											<th:block th:each="member : ${projectPartiMember}">
													<!-- <option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id == session.Id}" style="background-color: #eee;"></option> -->
													<option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id == session.Id}"></option>
													<option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id != session.Id}"></option>
											</th:block>
										</select>
									</div>
									<!-- 장소 -->
									<div>
										<input type="text">
									</div>
									<!-- 내용 -->
									<div>
										<textarea placeholder="내용을 입력하세요."></textarea>
									</div>
								</div>
									<button type="button" class="btn btn-primary">등록</button>
							</div>
						</div>
					</div>

					<!-- 4.할 일 작성 -->
					<div class="modal fade modal-dialog-scrollable" id="modal4" tabindex="-1" role="dialog"
						aria-labelledby="modal4Label" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal4Label">할 일</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- 태그 선택 -->
								<div>
									<ul class="nav justify-content-center">
										<li class="nav-item" data-post-code="1"><a class="nav-link"
											data-toggle="modal" data-target="#modal1" data-dismiss="modal" href="#"><span>글</span></a></li>
										<li class="nav-item" data-post-code="2"><a class="nav-link"
											data-toggle="modal" data-target="#modal2" data-dismiss="modal" href="#"><span>업무</span></a></li>
										<li class="nav-item" data-post-code="3"><a class="nav-link"
											data-toggle="modal" data-target="#modal3" data-dismiss="modal" href="#"><span>일정</span></a></li>
										<li class="nav-item" data-post-code="4"><a class="nav-link"
											href="#"><span>할일</span></a></li>
										<li class="nav-item" data-post-code="5"><a class="nav-link"
											data-toggle="modal" data-target="#modal5" data-dismiss="modal" href="#"><span>투표</span></a></li>
									</ul>
								</div>
								<div class="modal-body">
									<div>
										<input type="text" placeholder="제목을 입력하세요." class="postTitle">
									</div>
									<!-- 할 일 입력 -->
									<div>
										<input type="text" placeholder="할 일 추가">
										<div>
											<input type="datetime-local">
											<select class="form-select" name="todoMember">
												<th:block th:each="member : ${projectPartiMember}">
													<option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id == session.Id}" style="background-color: #eee;"></option>
													<option th:text="${member.name}" th:value="${member.id}"
													th:if="${member.id != session.Id}"></option>
												</th:block>
											</select>
										</div>
									</div>
									<!-- 할 일 추가 -->
									<div>
									</div>
								</div>
								<button type="button" class="btn btn-primary">등록</button>
							</div>
						</div>
					</div>

					<!-- 투표 -->
					<div class="modal fade modal-dialog-scrollable" id="modal5" tabindex="-1" role="dialog"
						aria-labelledby="modal5Label" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal5Label">투표</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- 태그 선택 -->
								<div>
									<ul class="nav justify-content-center">
										<li class="nav-item" data-post-code="1"><a class="nav-link"
											data-toggle="modal" data-target="#modal1" data-dismiss="modal" href="#"><span>글</span></a></li>
										<li class="nav-item" data-post-code="2"><a class="nav-link"
											data-toggle="modal" data-target="#modal2" data-dismiss="modal" href="#"><span>업무</span></a></li>
										<li class="nav-item" data-post-code="3"><a class="nav-link"
											data-toggle="modal" data-target="#modal3" data-dismiss="modal" href="#"><span>일정</span></a></li>
										<li class="nav-item" data-post-code="4"><a class="nav-link"
											data-toggle="modal" data-target="#modal4" data-dismiss="modal" href="#"><span>할일</span></a></li>
										<li class="nav-item" data-post-code="5"><a class="nav-link"
											href="#"><span>투표</span></a></li>
									</ul>
								</div>
								<div class="modal-body">
									<div>
										<input type="text" placeholder="제목을 입력하세요." class="postTitle">
									</div>
									<!-- 투표 설명 -->
									<div>
										<input type="text" placeholder="투표에 관한 설명 입력(옵션)">
									</div>
									<!-- 투표내용 -->
									<div>
										<input type="text" placeholder="항목 추가">
										<input type="text" placeholder="항목 추가">

									</div>
									<!-- 투표 항목 추가 -->
									<div>

									</div>
									<!-- 투표 마감일 -->
									<div>
										<p>투표 마감일</p>
										<input type="datetime-local" id="endVoteDate">
									</div>
									<!--  -->
								</div>
								<button type="button" class="btn btn-primary">등록</button>
							</div>
						</div>
					</div>
				</div>

				</div>

			</div>

			<!-- 미확인 알림(후순위) -->
			<div>
			</div>
			<!-- 상단고정(후순위) 업무 이후 -->
			<div></div>
			
			<!-- 게시물 공간 -->
			<div>
			
				<!-- 1.글 -->
				<div class="container">
					<th:block th:each="wt : ${projectWritingDetais}">
					<div class="card">
						<!-- 프로필 이미지, 이름, 작성 날짜 및 시간, 상단고정 표시, 수정, 삭제 -->
						<div class="card-header" th:text="${wt.postTitle}">
							<!-- 글 제목 -->
						</div>
						<div class="card-body">
							<p th:text="${wt.writingContent}">
								<!-- 게시글 내용이 여기에 들어갑니다. -->
							</p>
							<div class="collapse" id="moreContent">
								<p>
									<!-- 추가적인 일정 내용이 여기에 들어갑니다. -->
								</p>
								<a class="btn btn-link" data-toggle="collapse" href="#moreContent" role="button" aria-expanded="false" aria-controls="moreContent">더보기</a>
						</div>
						<div class="card-footer">
							<!-- 북마크, 댓글수 -->
							<div></div>
							<div class="row">
								<div class="col-md-6">
									<h6>댓글</h6>
									<ul class="list-unstyled">
										<li th:each="com : ${projectWritingDetaisComment}" th:data-post-code="${com.comNo}">
											<span th:utext="${com.profileImg}"></span>
											<span th:text="${com.name}"></span>
											<span th:text="${com.comDate}"></span>
											<span th:text="${com.comContent}"></span>
											<th:block th:if="${com.id == session.Id}">
												<span onclick="UpdateWritingComment()" style="cursor: pointer" th:text="수정"></span>
												<span onclick="deleteWritingComment()" style="cursor: pointer" th:text="X"></span>
											</th:block>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="댓글 작성">
									</div>
									<button type="button" class="btn btn-primary" onclick="createCommentButton()" th:data-post-writing-no="${wt.proPostNo}">댓글 등록</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				</th:block>
				<!-- 2. 업무 -->
			
				<!-- 3.일정 -->
			
				<!-- 4.할 일 -->
			
				<!-- 5.투표 -->
				<!-- <div class="container">
					<div class="card mb-3">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img src="이미지 주소" class="card-img" alt="게시물 이미지">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">게시물 제목</h5>
									<p class="card-text">게시물 내용이 여기에 들어갑니다.</p>
									<p class="card-text"><small class="text-muted">작성일자</small></p>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<span class="badge badge-primary">카테고리1</span>
									<span class="badge badge-primary">카테고리2</span>
								</div>
								<a href="#" class="btn btn-sm btn-primary">더보기</a>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- 참여자공간 -->
		<div>
			
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<!-- 왼쪽 사이드바 영역 -->
						<div class="sidebar">
							<ul class="list-unstyled">
								<li>
									<!-- 이미지 -->
									<img src="이미지 URL" alt="이미지" class="img-fluid">
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<!-- 오른쪽 콘텐츠 영역 -->
						<div class="content">
							<ul class="list-unstyled">
								<li>
									<!-- 이름 -->
									<h4>사용자 이름</h4>
								</li>
								<li>
									<!-- 메시지 아이콘 -->
									<i class="fas fa-envelope"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div>
		<!-- 글 조회 공간 -->
		<div></div>
	</div>
	
</div>
	
	
	
	
	<!-- 버튼 상태 변경 -->	
	<script>
		let selectedButton = workTypeButtonToggle;
		
		function toggleButtonStyle(button) {
			console.log(selectedButton);
			
		  if (selectedButton !== button) {
		    if (selectedButton) {
		      resetButtonStyle(selectedButton);
		    }
		    
		    let className = button.classList.item(1);
		
		    if (className.startsWith('btn-outline')) {
		      let filledClassName = className.replace('btn-outline', 'btn');
		      button.classList.remove(className);
		      button.classList.add(filledClassName);
		    } else {
		      let outlineClassName = className.replace('btn', 'btn-outline');
		      button.classList.remove(className);
		      button.classList.add(outlineClassName);
		    }
		
		    selectedButton = button;
		  } else {
		    resetButtonStyle(button);
		    selectedButton = null;
		  }
		}
		
		//버튼 초기화
		function resetButtonStyle(button) {
		  let className = button.classList.item(1);
		  console.log(className);
		  if (className.startsWith('btn-outline')) {
		    let outlineClassName = className.replace('btn-outline', 'btn');
		    button.classList.remove(className);
		    button.classList.add(outlineClassName);
		  } else {
		    let filledClassName = className.replace('btn', 'btn-outline');
		    button.classList.remove(className);
		    button.classList.add(filledClassName);
		  }
		}
		
	</script>
	
	<!-- 글 작성 -->
	<script>
		
		createWritingButton.addEventListener('click', function () {
			//제목 빈값 검사
			let titles = document.getElementsByClassName('postTitle');
			if(titles[0].value == '') {
				titles[0].focus();
				alert('제목을 입력하세요');
				return;
			}
			
			//내용 빈값 검사
			if(writingContent.value == '') {
				alert('내용을 입력하세요');
				writingContent.focus();
				return;
			}
			
			//프로젝트 넘버 찾기(주소)
			let url = window.location.pathname;
			let lastIndex = url.lastIndexOf('/');
			let projectNo = url.substring(lastIndex + 1);
			
			fetch("/postCreateWriting", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'postTitle': titles[0].value,
	   				'writingContent': writingContent.value,
	   				'proNo': projectNo
	   			})
			})
			.then(response => response.json())
			.then(res => location.href="/proPostMain/" + projectNo + "?homeTab=2");
			
		});

	</script>
	
	<!-- 업무 작성 -->
	<script>
		//담당자 값 가져오기
		let workPersonArr = [];
		function workPostPeople(e) {
			workPersonArr = [];
	
			for(let i=0; i < e.options.length; i++) {
				let option = e.options[i];
				if(option.selected) {
					workPersonArr.push(option.value);
				}
			};
			
			return workPersonArr;
		}
		
		//등록 버튼 클릭
		createWorkButton.addEventListener('click', function () {
			//제목 빈값 검사
			let titles = document.getElementsByClassName('postTitle');
			if(titles[1].value == '') {
				titles[1].focus();
				alert('제목을 입력하세요');
				return;
			}
			
			//내용 빈값 검사
			if(workWritingContent.value == '') {
				alert('내용을 입력하세요');
				workWritingContent.focus();
				return;
			}
			
			//프로젝트 넘버 찾기(주소)
			let url = window.location.pathname;
			let lastIndex = url.lastIndexOf('/');
			let projectNo = url.substring(lastIndex + 1);
			
			/* console.log(titles[1].value);
			console.log('업무그룹',workPostGroup.value);
			console.log('업무상태',selectedButton.dataset.workTypeStatus);
			console.log('우선순위',workPostPri.value);
			console.log(startWorkDate.value);
			console.log(endWorkDate.value);
			console.log('내용',workWritingContent.value);
			console.log('참여자', workPersonArr); */
			fetch("/postCreateWork", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'proNo': projectNo,
	   				'postTitle': titles[1].value,
	   				'workGroupNo': workPostGroup.value,
	   				'workStatus': selectedButton.dataset.workTypeStatus,
	   				'workPri': workPostPri.value,
	   				'workStartDay': startWorkDate.value,
	   				'workStartTime': startWorkDate.value,
	   				'workEndDay': endWorkDate.value,
	   				'workEndTime': endWorkDate.value,
	   				'workContent': workWritingContent.value,
	   				'workPersonArr': workPersonArr
	   			})
			})
			.then(response => response.json())
			//.then(res => location.href="/proPostMain/" + projectNo + "?homeTab=2");
			
		});
	</script>
	
	<!-- 댓글 등록 -->
	<script>
		function createCommentButton() {
			let targetButton = event.target;//버튼 동적 확인
			let com = targetButton.parentNode.children[0].children[0]; //텍스트값 찾기
			if(com.value == '') {
				com.focus();
				alert('댓글을 입력하세요');
				return;
			}
			
			let writingNo = targetButton.dataset.postWritingNo;//글번호 찾기
			
			let url = window.location.pathname;
			let lastIndex = url.lastIndexOf('/');
			let projectNo = url.substring(lastIndex + 1);
			
			fetch("/postCreateComment", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'proPostNo': writingNo,
	   				'comContent': com.value
	   			})
			})
			.then(response => response.json())
			.then(res => location.href="/proPostMain/" + projectNo + "?homeTab=2");
		}
	</script>
	
	<!-- 댓글 삭제  -->
	<script>
		function deleteWritingComment() {
			let targetButton = event.target;
			console.log(targetButton);
			console.log(targetButton.parentNode.dataset.postCode);
			
			let url = window.location.pathname;
			let lastIndex = url.lastIndexOf('/');
			let projectNo = url.substring(lastIndex + 1);
			
			fetch("/postDeleteComment", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'comNo': targetButton.parentNode.dataset.postCode
	   			})
			})
			.then(response => response.json())
			.then(res => location.href="/proPostMain/" + projectNo + "?homeTab=2");
		}
	</script>
	
	<!-- 댓글 수정  -->
	<script>
		function UpdateWritingComment() {
			let targetButton = event.target;
			let comNo = targetButton.parentNode.dataset.postCode;//댓글 번호
			let oldCom = targetButton.parentNode.childNodes[7];//기존 댓글
			
			//값 초기화
			oldCom.textContent = '';
			//targetButton.textContent = '';
			
			targetButton.parentNode.childNodes[7].innerHTML = 
					'<input type="text" placeholder="댓글 수정">
					<span id="ooo">수정</span>
					<span id="xxx">취소</span>';
			
			let url = window.location.pathname;
			let lastIndex = url.lastIndexOf('/');
			let projectNo = url.substring(lastIndex + 1);
			
			/* fetch("/", {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
	   				'comNo': targetButton.parentNode.dataset.postCode
	   			})
			})
			.then(response => response.json())
			.then(res => location.href="/proPostMain/" + projectNo + "?homeTab=2"); */
		}
	</script>
	
	<!-- 시간 단위 조정 -->
	<!-- <script>
		// 10분 간격으로 선택할 수 있도록 설정
		var startDateInput = document.getElementById('startDate');
		startDateInput.addEventListener('input', function() {
		  // 현재 선택된 날짜와 시간을 가져옴
		  var selectedDate = new Date(startDateInput.value);
		  // 분 단위를 가져옴
		  var minutes = selectedDate.getMinutes();
		  
		  // 분 단위를 10분 간격으로 반올림
		  var roundedMinutes = Math.round(minutes / 10) * 10;
		  
		  // 선택된 날짜와 시간을 조정하여 10분 간격으로 설정
		  selectedDate.setMinutes(roundedMinutes);
		  
		  // 조정된 값을 다시 입력 요소에 설정
		  startDateInput.value = selectedDate.toISOString().slice(0, 16);
		});
	</script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js}"></script>
	<script
		th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
		
	<script src="../proPost/proPostJs/proPostDetail.js"></script>
</body>
</html>