<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}">
	  
<th:block layout:fragment="content">
<!-- 캘린더 스타일 -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>

<style>
#calendar {
    max-width: 1100px;
    margin: 0 auto;
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}
p {
	margin: 40px 10px;
}
.btn-groor {
	background-color: indianred;;
	color: #fff;
	border: 1px solid indianred;;
	border-radius: 12px;
}
.custom-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 670px;
    background-color: #f8f9fa;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s;
}

.show-modal {
    transform: translateX(0);
    z-index: 9999;
}

.modal-header {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    background-color: #f8f9fa;
    text-align: right;
}
li {
	list-style-type: none;
}
.comtable td {
	text-align:left;
}
</style>
<!-- 캘린더 스타일 종료 -->

	<div id='calendar'></div>

<!-- Custom Modal(업무) -->
<div class="custom-modal"
	 th:each="taskD : ${readWorkDetail}"
	 th:id="'modal' + ${taskD.proPostNo}"
	 th:data-feed-post-no="${taskD.proPostNo}"
	 th:data-feed-work-no="${taskD.workNo}"
	 style="font-size:15px;">
	 
    <div class="modal-header" style="background-color:indianred">
    	<div class="modal-title" style="display: flex;">
			<div style="display: flex; flex-direction: column; margin-left:12px;">
				<span th:text="${taskD.postTitle}" style="font-size:17px;"></span>
				<div style="margin-left:10px;">
					<span class="modal-title"
						  th:text="'작성자 : ' + ${taskD.name}"></span>
					<span th:text="'작성일' + ${#dates.format(taskD.postDate, 'yyyy-MM-dd HH:mm')}"
						  style="color: #dfdfdf; font-size:14px; margin-left:20px;"></span>
					<span th:text="'업무번호 ' + ${taskD.workNo}"></span>
				</div>
			</div>
		</div>
        <div style="display:inline; margin-left: auto; text-align:right;">
			<!-- <span onclick="deletePost()" class="spanCursor">삭제</span> -->
			<button type="button"
					class="close closeModalButton"
					aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    </div>
    
    <div class="modal-body">
    	<div class="workFeedPostStatus" th:attr="data-feed-work-type=${taskD.workStatus}" style="text-align: center;">
		    <button type="button" class="btn" style="border-radius:10px;"
		    		th:classappend="${taskD.workStatus == '1' ? 'btn-primary' : 'btn-outline-primary'}"
		            data-work-type-status="1" onclick="toggleFeedButtonStyle(this)" th:disabled="${taskD.id != session.Id}">요청</button>
		    <button type="button" class="btn" style="border-radius:10px;"
		    		th:classappend="${taskD.workStatus == '2' ? 'btn-warning' : 'btn-outline-warning'}"
		            data-work-type-status="2" onclick="toggleFeedButtonStyle(this)" th:disabled="${taskD.id != session.Id}">진행</button>
		    <button type="button" class="btn" style="border-radius:10px;"
		    		th:classappend="${taskD.workStatus == '3' ? 'btn-danger' : 'btn-outline-danger'}"
		            data-work-type-status="3" onclick="toggleFeedButtonStyle(this)" th:disabled="${taskD.id != session.Id}">피드백</button>
		    <button type="button" class="btn" style="border-radius:10px;"
		    		th:classappend="${taskD.workStatus == '4' ? 'btn-success' : 'btn-outline-success'}"
		            data-work-type-status="4" onclick="toggleFeedButtonStyle(this)" th:disabled="${taskD.id != session.Id}">완료</button>
		    <button type="button" class="btn" style="border-radius:10px;"
		    		th:classappend="${taskD.workStatus == '5' ? 'btn-secondary' : 'btn-outline-secondary'}"
		            data-work-type-status="5" onclick="toggleFeedButtonStyle(this)" th:disabled="${taskD.id != session.Id}">보류</button>
		</div>
		
		<div style="margin-bottom: 10px;">
			<span>담당자 : </span>
			<span th:each="wPerson : ${readTaskWorkPerson}"
			      th:if="${taskD.workNo == wPerson.workNo}"
			      th:text="${wPerson.name} + ' '"></span>
		</div>
		
		<!-- 내용 -->
		<p th:text="${taskD.workContent}" style="margin-top:0px; margin-bottom: 10px;">
		</p>
		
		<!-- 추가 항목 -->
		<div>
			<p style="margin-top:0px;">
			  <button class="btn btn-groor" type="button" data-toggle="collapse" th:data-target="'#collapseExample' + ${taskD.workNo}"
			  			aria-expanded="false" aria-controls="collapseExample">
			    + 항목추가입력
			  </button>
			</p>
			<!-- 하위업무 생성 공간 -->
			<div>

			</div>
			<div class="collapse" th:id="'collapseExample' + ${taskD.workNo}">
			  <div class="card card-body">
			  	<!-- 시작일 추가 -->
			  	<div style="margin-bottom: 7px;">
			  		<p style="margin-bottom: 2px; margin-top:0px;">시작일</p>
						<input type="datetime-local"
							   class="startWorkDate2 form-control"
							   th:value="${#dates.format(taskD.workStartTime, 'yyyy-MM-dd HH:mm')}"
							   style="margin-left: 3px; width: 210px; border-radius: 5px;"
							   th:disabled="${taskD.id != session.Id}">
			  	</div>
			  	<!-- 마감일 추가 -->
			  	<div style="margin-bottom: 7px;">
			  		<p style="margin-bottom: 2px; margin-top:0px;">마감일</p>
			  		<input type="datetime-local"
			  			   class="endWorkDate2 form-control"
			  			   th:min="${#dates.format(cTime, 'yyyy-MM-dd HH:mm')}"
			  			   th:value="${#dates.format(taskD.workEndTime, 'yyyy-MM-dd HH:mm')}"
			  			   style="margin-left: 3px; width: 210px; border-radius: 5px;"
			  			   th:disabled="${taskD.id != session.Id}">
			  	</div>
			  	<!-- 우선순위 추가 -->
			  	<div style="margin-bottom: 7px;">
					<p style="margin-top:0px; margin-bottom: 2px;">우선순위</p>
					<select class="custom-select workPostPri"
							name="workPri"
							style="width: 70px; margin-left: 3px; border-radius: 5px;"
							th:disabled="${taskD.id != session.Id}">
						<option value="">없음</option>
						<option value="1" th:selected="${taskD.workStatus == '1'}">낮음</option>
						<option value="2" th:selected="${taskD.workStatus == '2'}">보통</option>
					    <option value="3" th:selected="${taskD.workStatus == '3'}">높음</option>
					    <option value="4" th:selected="${taskD.workStatus == '4'}">긴급</option>
					</select>
			  	</div>
			  	
			  	<!-- 그룹 추가 -->
			  	<div style="margin-bottom: 7px;">
				  	<p style="margin-bottom: 2px; margin-top: 0px;">업무 그룹</p>
					<select class="workPostGroup2 custom-select"
							name="workGroup"
							style="width: 210px; margin-left: 3px; border-radius: 5px;"
							th:disabled="${taskD.id != session.Id}">
						<th:block th:each="group : ${readWorkGroup}">
								<option th:text="${group.workGroupName}" th:value="${group.workGroupNo}"
										th:selected="${taskD.workGroupNo == group.workGroupNo}"></option>
						</th:block>
					</select>
			  	</div>
			  </div>
			</div>
		</div>
		<!-- 항목추가 종료 -->
		
		<div class="collapse" id="moreContent">
			<p style="margin-top:0px;">
				<!-- 추가적인 일정 내용이 여기에 들어갑니다. -->
			</p>
			<a class="btn btn-link" data-toggle="collapse" href="#moreContent" role="button"
				aria-expanded="false" aria-controls="moreContent">더보기</a>
		</div>
		
		
    </div>
    <div class="modal-footer">
		
		<div class="container">
			<div class="row">
				<h6>댓글</h6>
				
				<table class="comtable table table-hover">
					<thead>
						<tr class="comtabletr"
							th:each="com : ${projectWritingDetaisComment}"
							th:data-post-code="${com.comNo}"
							th:if="${taskD.proPostNo == com.proPostNo}">
							<td class="comtabletd"
								style="width:30px; padding-right:0px;">
								<th:block th:if="${com.uploadPath != null}">
									<img th:src="@{|/display?fileName=${#strings.replace(com.uploadPath,'\','/')}/s_${com.uuid}_${com.fileName}|}"
					  		 			 class="card-img-top"
					  		 			 style="width:30px; height:30px; margin:0px;">
					  		 	</th:block>
					  		 	<th:block th:if="${com.uploadPath == null}">
									<img style="width:30px; height:30px; margin:0px;"
								 		 src="../img/userProf.png">
								</th:block>
							</td>
							<td class="comtabletd"
								th:text="${com.name}"
								style="width:90px; padding-right:0px;"></td>
							<td class="comtabletd" th:text="${com.comContent}"></td>
							<td class="comtabletd comdate"
								style="width:140px; padding-right:0px;"
								th:text="${#dates.format(com.comDate, 'yy-MM-dd HH:mm')}"></td>
							<td style="width:90px; padding-right:0px;">
								<span th:if="${com.id == session.Id}"
									  onclick="UpdateWritingComment()"
									  class="spanCursor"
									  style="color: red">수정&nbsp</span>
								<span onclick="deleteWritingComment()"
									  th:if="${com.id == session.Id}"
									  class="spanCursor">삭제</span>
							</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="row">
				<div class="form-group col-10">
					<input type="text"
						   class="form-control"
						   placeholder="댓글 작성"
						   style="width:100%; overflow-x: hidden;">
				</div>
					<div class="col-2" style="padding:0px;">
						<button type="button"
								class="btn btn-groor"
								onclick="createCommentButton()"
								th:data-post-writing-no="${taskD.proPostNo}"
								style="width:100px;">댓글 등록</button>
					</div>
			</div>
		</div>
		
    </div>
</div>

<!-- Custom Modal(일정) -->
<div class="custom-modal"
	 th:each="calD : ${readCalDetail}"
	 th:id="'modal' + ${calD.proPostNo}"
	 th:data-feed-post-sch-no="${calD.proPostNo}"
	 th:data-feed-sch-no="${calD.schNo}"
	 style="font-size:15px;">
	 
	<div class="modal-header" style="background-color:#35A880;">
		<div class="modal-title" style="display: flex;">
			<div style="display: flex; flex-direction: column; margin-left:12px;">
				<span th:text="${calD.postTitle}" style="font-size:17px;"></span>
				<div style="margin-left:10px;">
					<span class="modal-title"
						  th:text="'작성자 : ' + ${calD.name}"></span>
					<span th:text="'작성일' + ${#dates.format(calD.postDate, 'yyyy-MM-dd HH:mm')}"
						  style="color: #dfdfdf; font-size:14px; margin-left:20px;"></span>
				</div>
			</div>
		</div>
        <div style="display:inline; margin-left: auto; text-align:right;">
			<!-- <span onclick="deletePost()" class="spanCursor">삭제</span> -->
			<button type="button"
					class="close closeModalButton"
					aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<!-- 본문 -->
    <div class="modal-body" style="padding:20px;">
    	<!-- 시작 종료일 -->
	    <ul style="padding-left:0px; margin:0px;">
			<li th:if="${calD.schStartTime != null}"
				style="margin-bottom:5px;">
				<span style="font-size:17px;">시작일 : </span><span style="font-size:17px;" th:text="${#dates.format(calD.schStartTime, 'yyyy-MM-dd HH:mm')}"></span></li>
			<li th:if="${calD.schEndTime != null}"
				style="margin-bottom:5px;">
				<span style="font-size:17px;">종료일 : </span><span style="font-size:17px;" th:text="${#dates.format(calD.schEndTime, 'yyyy-MM-dd HH:mm')}"></span></li>
		</ul>
	    
	    <!-- 참석자 존 -->
		<div style="font-size:17px;">참석자 : 
			<th:block th:each="rpl : ${readPartiZone}"
					  th:if="${rpl.schNo == calD.schNo}">
				<div th:text="${rpl.name + ' : '}"
					 style="display: inline-block; margin-bottom:5px;"
					 th:data-sch-user-id="${rpl.id == session.Id ? rpl.id : ''}"
				 	 th:data-sch-list-id="${rpl.id}"></div>
				<th:block th:switch="${rpl.partiCheck}">
					<span th:case="Y" style="color: green; margin-right:10px;">참석</span>
					<span th:case="N" style="color: red; margin-right:10px;">불참</span>
					<span th:case="A" style="color: gray; margin-right:10px;">미정</span>
				</th:block>
			</th:block>
			
			<!-- 참석자 변경 리스트 버튼 -->
			<button type="button"
					class="btn btn-groob"
					data-toggle="modal"
					style="height:25px; padding: 3px 12px;"
					th:data-target="'#schPartiListModal' + ${calD.proPostNo}"
					th:if="(${#dates.format(calD.schEndTime, 'yyyy-MM-dd HH:mm') >= #dates.format(cTime, 'yyyy-MM-dd HH:mm')} or ${calD.schEndTime == null})
						   and ${calD.id == session.Id}">
							참석자 변경
			</button>
	    	
	    	<!-- 참석자 리스트 Modal -->
			<div class="modal fade modal-dialog-scrollable"
				 th:id="'schPartiListModal' + ${calD.proPostNo}"
				 tabindex="-1"
				 role="dialog"
				 aria-labelledby="exampleModalLabel"
				 aria-hidden="true"
				 style="display:none">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content dohyeonModalContent">
						<div class="modal-header" style="background-color:#35A880">
							<h2 class="modal-title fs-5" id="exampleModalLabel" style="font-weight:600;">참석자 변경</h2>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!-- 내용 -->
						<div class="modal-body" style="padding-bottom:0px;">
							<ul style="padding:0px;">
								<!-- 참가자 목록 -->
								<li th:each="member : ${projectPartiMember}"
									style="list-style-type: none; padding-left:10px; padding-top:6px; padding-bottom:6px;"
									class="list-group-item">
									
									<label class="custom-checkbox" style="margin-bottom: 15px;">
										<th:block th:each="rpl : ${readPartiList}"
												  th:if="${rpl.schNo == calD.schNo && rpl.id == member.id && rpl.partiCheck != null}">
											<input type="checkbox" th:id="'schPartiList' + ${member.id} + ${rpl.schNo}"
												th:checked="${rpl.id == member.id}"
												th:data-sch-status="${rpl.partiCheck}"
												th:data-sch-list-parti-id="${member.id}" th:data-sch-list-id="${member.id}">
										</th:block>
										<th:block th:each="rpl : ${readPartiList}"
												  th:if="${rpl.schNo == calD.schNo && rpl.id == member.id && rpl.partiCheck == null}">
											<input type="checkbox" th:id="'schPartiList' + ${member.id} + ${rpl.schNo}"
												th:data-sch-status="${rpl.partiCheck}"
												th:data-sch-list-parti-id="${member.id}" th:data-sch-list-id="${member.id}">
										</th:block>
										<span class="checkmark"></span>
									</label>
									  <span th:text="${member.rank} + ' ' + ${member.name}" style="font-size: 18px;"></span>
									  <span th:text="'부서 : ' + ${member.deptName}" style="float: right;"></span>
								</li>
							</ul>
						</div>
						<div class="modal-footer" style="padding-top:8px; padding-bottom:8px;">
							<button type="button" class="btn btn-groob" onclick="changeSchParti()">변경</button>
							<button type="button" class="btn btn-groob" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 참석자 리스트 Modal 끝 -->
		</div>
		<!-- 참석자 존 끝-->
		
		<!-- 장소 -->
		<div th:if="${calD.schPlace != null}" 
			 th:text="'장소 : ' + ${calD.schPlace}"
			 class="targetPlace"
			 style="margin-bottom: 5px;">
		</div>
		
		<!-- 내용 -->
		<div th:text="'&nbsp' + ${calD.schContent == null ? '' : calD.schContent}"
			 class="targetContent"
			 style="margin-bottom: 5px;">
		</div>
		
		<!-- 참석 여부 버튼 -->
		<div th:each="rparti : ${readSchparti}"
			 th:if="${rparti.schNo == calD.schNo
			  		and #dates.format(calD.schEndTime, 'yyyy-MM-dd HH:mm') >= #dates.format(cTime, 'yyyy-MM-dd HH:mm')}"
			 th:attr="data-feed-sch-type=${rparti.partiCheck}"
			 style="text-align: center; margin-bottom: 5px; margin-top: 20px;">
			<button type="button"
					class="btn"
					th:classappend="${rparti.partiCheck == 'Y' ? 'btn-success' : 'btn-outline-success'}"
					data-sch-type-status="Y"
					onclick="toggleFeedSchButtonStyle(this)"
					style="border-radius:10px;">참석</button>
			<button type="button"
					class="btn"
					th:classappend="${rparti.partiCheck == 'N' ? 'btn-danger' : 'btn-outline-danger'}"
					data-sch-type-status="N"
					onclick="toggleFeedSchButtonStyle(this)"
					style="border-radius:10px;">불참</button>
			<button type="button"
					class="btn"
					th:classappend="${rparti.partiCheck == 'A' ? 'btn-secondary' : 'btn-outline-secondary'}"
					data-sch-type-status="A"
					onclick="toggleFeedSchButtonStyle(this)"
					style="border-radius:10px;">미정</button>
		</div>


	</div>
	<!-- 본문 종료 -->
	<!-- 북마크, 댓글수 -->
    <div class="modal-footer">
		
		<div class="container">
			<div class="row">
				<h6>댓글</h6>
				
				<table class="comtable table table-hover">
					<thead>
						<tr class="comtabletr"
							th:each="com : ${projectWritingDetaisComment}"
							th:data-post-code="${com.comNo}"
							th:if="${calD.proPostNo == com.proPostNo}">
							<td class="comtabletd"
								style="width:30px; padding-right:0px;">
								<th:block th:if="${com.uploadPath != null}">
									<img th:src="@{|/display?fileName=${#strings.replace(com.uploadPath,'\','/')}/s_${com.uuid}_${com.fileName}|}"
					  		 			 class="card-img-top"
					  		 			 style="width:30px; height:30px; margin:0px;">
					  		 	</th:block>
					  		 	<th:block th:if="${com.uploadPath == null}">
									<img style="width:30px; height:30px; margin:0px;"
								 		 src="../img/userProf.png">
								</th:block>
							</td>
							<td class="comtabletd"
								th:text="${com.name}"
								style="width:90px; padding-right:0px;"></td>
							<td class="comtabletd" th:text="${com.comContent}"></td>
							<td class="comtabletd comdate"
								style="width:140px; padding-right:0px;"
								th:text="${#dates.format(com.comDate, 'yy-MM-dd HH:mm')}"></td>
							<td style="width:90px; padding-right:0px;">
								<span th:if="${com.id == session.Id}"
									  onclick="UpdateWritingComment()"
									  class="spanCursor"
									  style="color: red">수정&nbsp</span>
								<span onclick="deleteWritingComment()"
									  th:if="${com.id == session.Id}"
									  class="spanCursor">삭제</span>
							</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="row">
				<div class="form-group col-10">
					<input type="text"
						   class="form-control"
						   placeholder="댓글 작성"
						   style="width:100%; overflow-x: hidden;">
				</div>
					<div class="col-2" style="padding:0px;">
						<button type="button"
								class="btn btn-groob"
								onclick="createCommentButton()"
								th:data-post-writing-no="${calD.proPostNo}"
								style="width:100px;">댓글 등록</button>
					</div>
			</div>
		</div>
		
    </div>
</div>
	
<!-- 업무, 일정 데이터 가져오기 -->
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		
		let schAllDatas = /*[[${readWorkSchView}]]*/;
		
	/*]]>*/
</script>

<!-- 캘린더 생성 -->
<script>
	var calendarEl = document.getElementById('calendar');
	let allEvents = schAllDatas;
	
	let formattedEvents = allEvents.map(eventData => ({
		title: eventData.title,
		start: eventData.start,
		end: eventData.end,
		color: eventData.postType == '1' ? 'indianred' : '#35A880',
		classNames: 'sideWork',
		extendedProps: {
		    proPostNo: eventData.proPostNo
		}
	}));

	var calendar = new FullCalendar.Calendar(calendarEl, {
		headerToolbar: {
		left: 'prev,next today',
		center: 'title',
		right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
	},
    eventClick: function(info) {
		//console.log('이벤트: ' + info.event.title);
		//console.log('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
		//console.log('View: ' + info.view.type);
		let postNo = info.event.extendedProps.proPostNo;
		// change the border color just for fun
		//info.el.style.borderColor = 'red';
		info.jsEvent.preventDefault();
		if (info.event.url) {
			window.open(info.event.url);
		};
		// console.log('event.target',event.target);

		var $buttons = $('.sideWork');
		var $modals = $('.custom-modal');

		//모달 전체 닫기
		$modals.not('#modal' + postNo).removeClass('show-modal');

		$('#modal' + postNo).toggleClass('show-modal');
		
		// X버튼으로 닫기
		$('.closeModalButton').click(function () {
				$(this).closest('.custom-modal').removeClass('show-modal');
		});

	},
    dayMaxEventRows: true, // for all non-TimeGrid views
    views: {
		timeGrid: {
			dayMaxEventRows: 3 // adjust to 6 only for timeGridWeek/timeGridDay
		}
    },
    initialDate: new Date(), // 오늘날짜 넣기
    navLinks: true, // can click day/week names to navigate views.날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
    businessHours: false, // display business hours
    editable: false,//수정 가능?
    selectable: false,// 달력 일자 드래그 설정가능
    dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
    locale: 'ko',
    events: formattedEvents
    
  });
  
  calendar.render();
</script>

<!-- 버튼 상태 변경(업무 상태, 게시물 조회) -->
<script>
	let selectedFeedButton = new Map();

	function toggleFeedButtonStyle(button) {
		let postWorkNo = button.closest('.custom-modal').dataset.feedPostNo;// 글 번호
		let workNo = button.closest('.custom-modal').dataset.feedWorkNo;
		let newStatus = button.dataset.workTypeStatus;
		let oldStatusNo = selectedFeedButton.get(postWorkNo);//선택했던 기존 버튼 번호 null or 존재

		//기존 상태 버튼 찾기
		let oldButton;
		if(oldStatusNo == null) {//선택했던 기존 버튼이 없다면
			let firstButtonStatusNo = button.parentNode.dataset.feedWorkType;//최초 버튼 찾기
			oldButton = button.closest(".custom-modal").querySelector('[data-work-type-status="' + firstButtonStatusNo + '" ]');//최초 버튼 상태 찾기
		} else {//선택했던 기존 버튼이 있다면
			oldButton = button.closest(".custom-modal").querySelector('[data-work-type-status="' + oldStatusNo + '" ]');//구 버튼 상태를 찾기
		};

		selectedFeedButton.set(postWorkNo, newStatus);//신규 번호 삽입
		
		fetch("/updateWorkPostStatus", {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				'workStatus' : newStatus,
					 'workNo': workNo
				 })
		})
		.then(response => response.json())
		.then(res => {
			if(res.result == '성공') {
		
				if (oldButton !== button) {//기존 버튼과 셀렉한 버튼이 다를 때
					if (oldButton) {
						resetButtonStyle(oldButton);
					};
				
					let className = button.classList.item(1);
		
					if (className.startsWith('btn-outline')) {
						let filledClassName = className.replace('btn-outline', 'btn');
						button.classList.remove(className);
						button.classList.add(filledClassName);
					} else {
						let outlineClassName = className.replace('btn', 'btn-outline');
						button.classList.remove(className);
						button.classList.add(outlineClassName);
					};
		
					oldButton = button;
				};
			
			} else {
				alert('상태 수정 실패');
			};
		});//fetch 종료
	};//함수 종료
	
	//버튼 초기화
	function resetButtonStyle(button) {
		let className = button.classList.item(1);
		//console.log(className);
		if (className.startsWith('btn-outline')) {
			let outlineClassName = className.replace('btn-outline', 'btn');
			button.classList.remove(className);
			button.classList.add(outlineClassName);
		} else {
			let filledClassName = className.replace('btn', 'btn-outline');
			button.classList.remove(className);
			button.classList.add(filledClassName);
		};
	};
</script>

<!-- 참석자 선택 처리 -->
<script>
	function changeSchParti() {
		let inputValues = event.target.closest('.modal-content').children[1].children[0].querySelectorAll('input[type="checkbox"]:checked');
		let formData = new FormData();
		let formDataDel = new FormData();
		let updatePartiList = [];
		let updateObj = {};
		
		let schPlNo = event.target.closest('.custom-modal').dataset.feedSchNo;//스케줄 고유번호
		inputValues.forEach(inputValue => {
			updateObj.schNo = schPlNo;
			updateObj.partiCheck = inputValue.dataset.schStatus == null ? 'A' : inputValue.dataset.schStatus;
			updateObj.id = inputValue.dataset.schListId;
			updatePartiList.push(updateObj);
			updateObj = {};
	    });
		let noSchNo = [{'schNo' : schPlNo}];
		formData = updatePartiList.length == 0 ? noSchNo : updatePartiList;
		
		//기존 & 추가 인원 추가
		fetch("/insertPartiMemberAll", {
			method: 'POST',
			headers : {
				'Content-Type': 'application/json'
			},
			body : JSON.stringify(formData)
		})
		.then(response => response.json())
		.then(res => {
			let rC = res.result;
			
			if(rC == -1) {
				console.log('0명');
				const currentURL = window.location.href;
				window.location.href = currentURL;
			} else if (rC >= 1) {
				console.log(rC + '명 업데이트');
				const currentURL = window.location.href;
				window.location.href = currentURL;
			}else {
				alert('알 수 없는 접근')
			}
		});
		
	}
</script>

<!-- 버튼 상태(일정) 참가 상황 -->
<script>
	let selectedSchButton = new Map();

	function toggleFeedSchButtonStyle(button) {
		let postSchNo = button.closest('.custom-modal').dataset.feedPostSchNo;// 글 번호(map용)
		let schNo = button.closest('.custom-modal').dataset.feedSchNo;//sch 고유번호, update용
		let newStatus = button.dataset.schTypeStatus;//선택한 번호
		let oldSchStatusNo = selectedSchButton.get(postSchNo);//선택했던 기존 버튼 번호 null or 존재

		//기존 상태 버튼 찾기
		let oldSchButton;
		if(oldSchStatusNo == null) {//선택했던 기존 버튼이 없다면
			let firstButtonSchStatusNo = button.parentNode.dataset.feedSchType;//최초 버튼 찾기
			oldSchButton = button.closest(".custom-modal").querySelector('[data-sch-type-status="' + firstButtonSchStatusNo + '" ]');//최초 버튼 상태 찾기
		} else {//선택했던 기존 버튼이 있다면
			oldSchButton = button.closest(".custom-modal").querySelector('[data-sch-type-status="' + oldSchStatusNo + '" ]');//구 버튼 상태를 찾기
		}

		selectedSchButton.set(postSchNo, newStatus);//신규 번호 삽입
		
		fetch("/updateSchPartiCheck", {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				'partiCheck' : newStatus,
   				'schNo': schNo
   			})
		})
		.then(response => response.json())
		.then(res => {
			if(res.result == '성공') {
				
				if (oldSchButton !== button) {//기존 버튼과 셀렉한 버튼이 다를 때
					if (oldSchButton) {
						resetButtonStyle(oldSchButton);
					}
					
					let className = button.classList.item(1);
			
					if (className.startsWith('btn-outline')) {
						let filledClassName = className.replace('btn-outline', 'btn');
						button.classList.remove(className);
						button.classList.add(filledClassName);
					} else {
						let outlineClassName = className.replace('btn', 'btn-outline');
						button.classList.remove(className);
						button.classList.add(outlineClassName);
					}
			
					oldSchButton = button;
				}
				
				changeSchStatus(button, newStatus);
				
			} else {
				alert('상태 수정 실패');
			}
		});
		
	}
	
	//버튼 초기화
	function resetButtonStyle(button) {
	  let className = button.classList.item(1);
	  //console.log(className);
	  if (className.startsWith('btn-outline')) {
	    let outlineClassName = className.replace('btn-outline', 'btn');
	    button.classList.remove(className);
	    button.classList.add(outlineClassName);
	  } else {
	    let filledClassName = className.replace('btn', 'btn-outline');
	    button.classList.remove(className);
	    button.classList.add(filledClassName);
	  }
	};
	
	//글자 바꾸기
	function changeSchStatus(button, newStatus) {
		let schPartiChange = button.closest(".custom-modal").querySelector('[data-sch-user-id]').nextElementSibling;//상태창 위치
		let partiChangeList = button.closest(".custom-modal").querySelector('[data-sch-list-parti-id="'+selfId+'"]');
		
		if(newStatus == 'Y') {
			schPartiChange.textContent ='참석';
			partiChangeList.dataset.schStatus = 'Y';
			schPartiChange.style.color = 'green';
		} else if(newStatus == 'N') {
			schPartiChange.textContent ='불참';
			partiChangeList.dataset.schStatus = 'N';
			schPartiChange.style.color = 'red';
		} else if(newStatus == 'A') {
			schPartiChange.textContent ='미정';
			partiChangeList.dataset.schStatus = 'A';
			schPartiChange.style.color = 'gray';
		};
	};
</script>

</th:block>
</html>