<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}"
>
<head>
<script>
	let projectNo22 = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['gantt']});
	google.charts.setOnLoadCallback(drawChart);
	
	function drawChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Task ID');
		data.addColumn('string', 'Task Name');
		data.addColumn('string', 'Resource');
		data.addColumn('date', 'Start Date');
		data.addColumn('date', 'End Date');
		data.addColumn('number', 'Duration');
		data.addColumn('number', 'Percent Complete');
		data.addColumn('string', 'Dependencies');//상위업무

    fetch("/gantt", {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify(projectNo)
	})
	.then(response => response.json())
	.then(res => {
		let rawData = res;
		console.log(res.length);
		
		if(res.length != 0) {
			
			// 데이터 변환 함수
			function convertToChartData(rawData) {
			  const chartData = [];
			  const currentTime = new Date(); // 현재 시간
			  
			  rawData.forEach((item) => {
			    const startDate = new Date(item.workStartTime);
			    const endDate = new Date(item.workEndTime);
			    if (!isNaN(startDate) && !isNaN(endDate)) {
			        const diffTime = currentTime - startDate; // 현재 시간과 작업 시작 시간의 차이 (밀리초)
			        
			        chartData.push([
			          String(item.proPostNo), // 1열에 proPostNo 삽입
			          item.postTitle, // 2열에 postTitle 삽입
			          '긴급', // 3열에 고정 값 '긴급' 삽입
			          startDate, // 4열에 작업 시작 시간 삽입
			          endDate, // 5열에 작업 끝 시간 삽입
			          diffTime, // 6열은 현재 시간과 작업 시작 시간의 차이 (일단위)
			          100, // 7열은 고정 값 100 삽입
			          null // 8열은 null로 삽입
			        ]);
			      }
			    console.log(chartData)
			  });
			  return chartData;
			}
	
			// 변환된 데이터
			const chartData = convertToChartData(rawData);
			// 변환된 데이터를 data.addRows에 삽입
			data.addRows(chartData);
			
			var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

		    chart.draw(data, options);
		}
		
	});    
    

    var options = {
      height: 400,
      gantt: {
        trackHeight: 30
      }
    };

    
  }
  
</script>

</head>
<body layout:fragment="content">
	<div id="chart_div" class="float-start" style="width:1000px; margin-top:30px;"></div>
</body>
<!-- https://jsfiddle.net/api/post/library/pure/ -->
<!-- https://developers.google.com/chart/interactive/docs/gallery/ganttchart?hl=ko -->
</html>