<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}"
>
<head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js}"></script> -->
<style>
#workTableHead th {
    position: sticky;
    top: 0px;
    background-color: #fefefe !important;
		text-align: center;
}
table#workTable th:first-child { position: sticky; top: 0; }
/* table#workTable td:first-child { position: sticky; left: 0; } */

tbody tr:not(:first-child) td:not(:first-child) { text-align: center; }

table td {
	vertical-align: middle!important;
}
table {
	/* border-collapse: collapse!important; border-top: 1px solid #ccc!important; border-bottom: 1px solid #ccc!important; */
}
ul {
	padding-left:0px;
	list-style:none;
}
.custom-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 670px;
    background-color: #f8f9fa;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s;
}

.show-modal {
    transform: translateX(0);
    z-index: 9999;
}

/* .custom-modal .modal-header {
    padding: 10px;
    background-color: #4dc7bd;
    color: #fff;
} */

/*.modal-body {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    background-color: #f8f9fa;
    text-align: right;
} */
.taskInfo {
  display: flex;
  flex-direction: column;
}

.taskName {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #000;
  text-align: left;
}

.btn-groor {
	background-color: indianred;;
	color: #fff;
	border: 1px solid indianred;;
	border-radius: 12px;
}
</style>
</head>

<th:block layout:fragment="content">

<!-- 보기 항목 설정 -->
<div style="text-align: right; margin-right:15px; margin-top:10px; margin-bottom:10px;">
	<button type="button" class="btn btn-groob" data-toggle="modal" data-target="#workView" style="margin-right:15px;">보기</button>
	<button type="button" class="btn btn-groob" data-toggle="modal" data-target="#workGroupCreate">업무 그룹 생성</button>
</div>

<!-- 보기 항목 설정 Modal -->
<div class="modal fade modal-dialog-scrollable"
	 id="workView"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="workViewModalLabel"
	 aria-hidden="true"
	 style="display:none">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content dohyeonModalContent" style="width:250px; height:330px;">
      <div class="modal-header" style="padding-top:10px; padding-bottom:3px;">
        <h5 class="modal-title" id="workViewModalLabel">보기 설정</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom:0px;">
        <h6>조회할 항목을 선택할 수 있습니다(scroll).</h6>
       	<!-- 개인 업무 보기 설정(modal) -->
        <ul id="workViewCheck" style="font-size:20px;">
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workNameCheckbox"
			  		 th:checked="${readWorkView.workName == 'Y'}"
			  		 data-work-view="workName"
			  		 disabled>
			  <span class="checkmark"></span>
			  </label><span>업무명</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workStatusCheckbox"
			  		 th:checked="${readWorkView.workStatus == 'Y'}"
			  		 data-work-view="workStatus">
			  <span class="checkmark"></span>
			  </label><span>상태</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workPrikCheckbox"
			  		 th:checked="${readWorkView.workPri == 'Y'}"
			  		 data-work-view="workPri">
			  <span class="checkmark"></span>
			  </label><span>우선순위</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workManagerCheckbox"
			  		 th:checked="${readWorkView.workManager == 'Y'}"
			  		 data-work-view="workManager">
			  <span class="checkmark"></span>
			  </label><span>담당자</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workStartDayCheckbox"
			  		 th:checked="${readWorkView.workStartDay == 'Y'}"
			  		 data-work-view="workStartDay">
			  <span class="checkmark"></span>
			  </label><span>시작일</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workEndDayCheckbox"
			  		 th:checked="${readWorkView.workEndDay == 'Y'}"
			  		 data-work-view="workEndDay">
			  <span class="checkmark"></span>
			  </label><span>마감일</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workDateCheckbox"
			  		 th:checked="${readWorkView.workDate == 'Y'}"
			  		 data-work-view="workDate">
			  <span class="checkmark"></span>
			  </label><span>등록일</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workNumCheckbox"
			  		 th:checked="${readWorkView.workNum == 'Y'}"
			  		 data-work-view="workNum">
			  <span class="checkmark"></span>
			  </label><span>업무번호</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workWriterCheckbox"
			  		 th:checked="${readWorkView.workWriter == 'Y'}"
			  		 data-work-view="workWriter">
			  <span class="checkmark"></span>
			  </label><span>작성자</span></li>
        	<li><label class="custom-checkbox"
					   style="margin-bottom: 15px">
			  <input type="checkbox"
					 role="switch"
					 id="workUpdateDayCheckbox"
			  		 th:checked="${readWorkView.workUpdateDay == 'Y'}"
			  		 data-work-view="workUpdateDay">
			  <span class="checkmark"></span>
			  </label><span>수정일</span></li>
        </ul>
      </div>
      <div class="modal-footer" style="padding-top:6px; padding-bottom:6px;">
        <button type="button" class="btn btn-groob" onclick="subWorkView()">저장</button>
        <button type="button" class="btn btn-groob" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<!-- 테이블 크기 -->
<div class="float-start table-responsive" style="width: 1000px; margin-left: 10px; height: 630px" >

<table class="table  table-hover" id="workTable">

  <!-- 테이블 제목 -->
  <thead id="workTableHead">
    <tr>
      <th scope="col" th:style="${readWorkView.workName == 'N'} ? 'display: none; width:300px;' : 'width:200px;'">업무명</th>
      <th scope="col" th:style="${readWorkView.workStatus == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workStatus">상태</th>
      <th scope="col" th:style="${readWorkView.workPri == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workPri">우선순위</th>
      <th scope="col" th:style="${readWorkView.workManager == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workManager">담당자</th>
      <th scope="col" th:style="${readWorkView.workStartDay == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workStartDay">시작일</th>
      <th scope="col" th:style="${readWorkView.workEndDay == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workEndDay">마감일</th>
      <th scope="col" th:style="${readWorkView.workDate == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workDate">등록일</th>
      <th scope="col" th:style="${readWorkView.workNum == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workNum">업무번호</th>
      <th scope="col" th:style="${readWorkView.workWriter == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workWriter">작성자</th>
      <th scope="col" th:style="${readWorkView.workUpdateDay == 'N'} ? 'display: none; width:100px;' : 'width:100px;'"
      	  data-work-column="workUpdateDay">수정일</th>
    </tr>
  </thead>
	
  <tbody id="workBodyList">
  
  	<th:block th:each="taskG : ${readWorkGroup}">
  		<!-- 업무 그룹 표시 -->
  		<tr>
  			<td th:data-work-group-no="${taskG.workGroupNo}"
  				style="background-color: #f5f5f5">
  				<span th:text="${taskG.workGroupName}"></span>
  				<span class="spanCursor"
  					  onclick="delWorkGroup()"
  					  th:if="${taskG.workGroupSeq != 1}"
  					  >X</span></td>
  		</tr>
  		
	    <tr th:each="task : ${readTaskAllList}" th:if="${task.workGroupNo == taskG.workGroupNo}"
	    	th:data-pro-post-no="${task.proPostNo}" th:data-work-no="${task.workNo}"
	    	style="height:40px;">
	    	
  		  <!-- 업무명 -->
	      <td th:text="'&nbsp&nbsp&nbsp' + ${task.postTitle}" th:data-modal="'modal' + ${task.proPostNo}"
	      	  class="sideWork" th:style="${readWorkView.workName == 'N' ? 'display: none;' : ''}">업무명</td>
  		  <!-- 업무명 종료 -->
  		  
	      <!-- 업무 상태 -->
	      <th:block th:switch="${task.workStatus}">
	      	<td th:case="1" th:style="${readWorkView.workStatus == 'N'} ? 'display: none;' : ''">
	      		<button type="button" class="btn btn-primary" data-work-type-status="1" data-trigger="focus"
	      		data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover"
	      		th:data-target-status=${task.workNo} data-work-column="workStatus" style="border-radius:10px;">요청</button></td>
	      	<td th:case="2" th:style="${readWorkView.workStatus == 'N'} ? 'display: none;' : ''">
	      		<button type="button" class="btn btn-warning" data-work-type-status="2" data-trigger="focus"
	      		data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover"
	      		th:data-target-status=${task.workNo} data-work-column="workStatus" style="border-radius:10px;">진행</button></td>
	      	<td th:case="3" th:style="${readWorkView.workStatus == 'N'} ? 'display: none;' : ''">
	      		<button type="button" class="btn btn-danger" data-work-type-status="3" data-trigger="focus"
	      		data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover"
	      		th:data-target-status=${task.workNo} data-work-column="workStatus" style="border-radius:10px;">피드백</button></td>
	      	<td th:case="4" th:style="${readWorkView.workStatus == 'N'} ? 'display: none;' : ''">
	      		<button type="button" class="btn btn-success" data-work-type-status="4" data-trigger="focus"
	      		data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover"
	      		th:data-target-status=${task.workNo} data-work-column="workStatus" style="border-radius:10px;">완료</button></td>
	      	<td th:case="5" th:style="${readWorkView.workStatus == 'N'} ? 'display: none;' : ''">
	      		<button type="button" class="btn btn-secondary" data-work-type-status="5" data-trigger="focus"
	      		data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover"
	      		th:data-target-status=${task.workNo} data-work-column="workStatus" style="border-radius:10px;">보류</button></td>
	      </th:block>
	      <!-- 업무 상태 종료-->
	      
	      <!-- 우선순위 -->
	      <th:block th:switch="${task.workPri}">
	      	<td th:case="1" th:text="낮음" th:style="${readWorkView.workPri == 'N'} ? 'display: none;' : ''"
	      		data-work-column="workPri">낮음</td>
	      	<td th:case="2" th:text="보통" th:style="${readWorkView.workPri == 'N'} ? 'display: none;' : ''"
	      		data-work-column="workPri">보통</td>
	      	<td th:case="3" th:text="높음" th:style="${readWorkView.workPri == 'N'} ? 'display: none;' : ''"
	      		data-work-column="workPri">높음</td>
	      	<td th:case="4" th:text="긴급" th:style="${readWorkView.workPri == 'N'} ? 'display: none;' : ''"
	      		data-work-column="workPri">긴급</td>
	      	<td th:case="*" th:text="'-'" th:style="${readWorkView.workPri == 'N'} ? 'display: none;' : ''"
	      		data-work-column="workPri">우선순위</td>
	      </th:block>
	      <!-- 우선순위 종료-->
	      
	      <!-- 담당자 -->
	      <td th:style="${readWorkView.workManager == 'N'} ? 'display: none;' : ''"
	      	  data-work-column="workManager">
	      	  	담당자</td>
	      <!-- 담당자 종료-->
	      
	      <!-- 시작일 -->
	      <td th:text="${task.workStartTime != null} ? ${#dates.format(task.workStartTime, 'yyyy-MM-dd')} : '-'"
	      	  th:style="${readWorkView.workStartDay == 'N'} ? 'display: none;' : ''"
	      	  data-work-column="workStartDay">
	      	  시작일</td>
	      <!-- 시작일 종료-->
	      
	      <!-- 마감일 -->
	      <th:block th:if="${task.workEndTime == null}">
			<td th:style="${readWorkView.workEndDay == 'N'} ? 'display: none;' : ''"
				data-work-column="workEndDay">-</td>
	      </th:block>
	      <th:block th:if="${task.workEndTime != null}">
			<td th:if="${#dates.format(task.workEndTime, 'yyyy-MM-dd HH:mm') > #dates.format(afterOneDay, 'yyyy-MM-dd HH:mm')}"
				th:text="${#dates.format(task.workEndTime, 'yyyy-MM-dd')}"
				th:style="${readWorkView.workEndDay == 'N'} ? 'display: none;' : ''"
				data-work-column="workEndDay">마감일</td>
			<td th:if="${#dates.format(task.workEndTime, 'yyyy-MM-dd HH:mm') <= #dates.format(afterOneDay, 'yyyy-MM-dd HH:mm')}"
				th:text="${#dates.format(task.workEndTime, 'MM-dd HH:mm')}"
				th:style="'color: red; display: ' + (${readWorkView.workEndDay == 'N'} ? 'none;' : 'block;')"
				data-work-column="workEndDay">마감일, 24시 전</td>
      	  </th:block>
		  <!-- 마감일 종료 -->
		  
	      <td th:text="${#dates.format(task.postDate, 'yyyy-MM-dd')}"
	      	  th:style="${readWorkView.workDate == 'N'} ? 'display: none;' : ''"
	      	  data-work-column="workDate">등록일</td>
	      <td th:text="${task.workNo}"
	      	  th:style="${readWorkView.workNum == 'N'} ? 'display: none;' : ''"
	      	  data-work-column="workNum">업무번호</td>
	      <td th:text="${task.name}"
	      	  th:style="${readWorkView.workWriter == 'N'} ? 'display: none;' : ''"
	      	  data-work-column="workWriter">작성자</td>
	      <td th:text="${#dates.format(task.workUpdateDay, 'yyyy-MM-dd')}"
	      	  th:style="${readWorkView.workUpdateDay == 'N'} ? 'display: none;' : ''"
	      	  data-work-column="workUpdateDay">수정일</td>
	    </tr>
	    
    </th:block>
    
  </tbody>
</table>

<!-- Custom Modal background-color: #4dc7bd;-->
<div class="custom-modal"
	 th:each="taskD : ${readWorkDetail}"
	 th:id="'modal' + ${taskD.proPostNo}"
	 th:data-feed-post-no="${taskD.proPostNo}"
	 th:data-feed-work-no="${taskD.workNo}"
	 style="font-size:17px;">
	<div class="modal-header" style="border: none; background-color: indianred;">
		<div class="modal-title" style="display: flex;">
			<div class="taskInfo">
				<span th:text="${taskD.postTitle}" style="font-size:17px;"></span>
				<div class="taskName">
					<span th:text="${taskD.name}"></span>
					<span th:text="${#dates.format(taskD.postDate, 'yyyy-MM-dd HH:mm')}"
						  style="margin-left:20px;"></span>
				</div>
			</div>
		</div>
        <div style="display:inline; margin-left: auto; text-align:right;">
			<button type="button"
					class="close closeModalButton"
					aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    </div>
    
    <div class="modal-body">
    	<div class="workFeedPostStatus" th:attr="data-feed-work-type=${taskD.workStatus}" style="text-align: center;">
		    <button type="button" class="btn"
		    		th:classappend="${taskD.workStatus == '1' ? 'btn-primary' : 'btn-outline-primary'}"
		            data-work-type-status="1" onclick="toggleFeedButtonStyle(this)" style="border-radius:10px;">요청</button>
		    <button type="button" class="btn"
		    		th:classappend="${taskD.workStatus == '2' ? 'btn-warning' : 'btn-outline-warning'}"
		            data-work-type-status="2" onclick="toggleFeedButtonStyle(this)" style="border-radius:10px;">진행</button>
		    <button type="button" class="btn"
		    		th:classappend="${taskD.workStatus == '3' ? 'btn-danger' : 'btn-outline-danger'}"
		            data-work-type-status="3" onclick="toggleFeedButtonStyle(this)" style="border-radius:10px;">피드백</button>
		    <button type="button" class="btn"
		    		th:classappend="${taskD.workStatus == '4' ? 'btn-success' : 'btn-outline-success'}"
		            data-work-type-status="4" onclick="toggleFeedButtonStyle(this)" style="border-radius:10px;">완료</button>
		    <button type="button" class="btn"
		    		th:classappend="${taskD.workStatus == '5' ? 'btn-secondary' : 'btn-outline-secondary'}"
		            data-work-type-status="5" onclick="toggleFeedButtonStyle(this)" style="border-radius:10px;">보류</button>
		</div>
		
		<!-- 추가 항목 -->
		<div>
			<p>
			  <button class="btn btn-groor" type="button" data-toggle="collapse" th:data-target="'#collapseExample' + ${taskD.workNo}"
			  			aria-expanded="false" aria-controls="collapseExample">
			    + 항목추가입력
			  </button>
			</p>
			<!-- 하위업무 생성 공간 -->
			<div>

			</div>
			<div class="collapse" th:id="'collapseExample' + ${taskD.workNo}">
			  <div class="card card-body">
			  	<!-- 시작일 추가 -->
			  	<div>
			  		<p>시작일</p>
						<input type="datetime-local" id="startWorkDate2" th:value="${#dates.format(taskD.workStartDay, 'yyyy-MM-dd HH:mm')}">
			  	</div>
			  	<!-- 마감일 추가 -->
			  	<div>
			  		<p>마감일</p>
			  		<input type="datetime-local"
			  			   id="endWorkDate2"
			  			   th:min="${#dates.format(cTime)}"
			  			   th:value="${#dates.format(taskD.workStartTime, 'yyyy-MM-dd HH:mm')}">
			  			   
			  	</div>
			  	<!-- 우선순위 추가 -->
			  	<div>
						<p>우선순위</p>
						<select class="custom-select" name="workPri" id="workPostPri">
							<option value="">없음</option>
							<option value="1" th:selected="${taskD.workStatus == '1'}">낮음</option>
							<option value="2" th:selected="${taskD.workStatus == '2'}">보통</option>
						    <option value="3" th:selected="${taskD.workStatus == '3'}">높음</option>
						    <option value="4" th:selected="${taskD.workStatus == '4'}">긴급</option>
						</select>
			  	</div>
			  	<!-- 그룹 추가 -->
			  	<div>
			  	
			  	<p>업무 그룹</p>
				<select class="form-select" name="workGroup" id="workPostGroup2">
					<th:block th:each="group : ${readWorkGroup}">
							<option th:text="${group.workGroupName}" th:value="${group.workGroupNo}"
									th:selected="${taskD.workGroupNo == group.workGroupNo}"></option>
					</th:block>
				</select>
			  	</div>
			  </div>
			</div>
		</div>
		<!-- 항목추가 종료 -->
		<p th:text="${taskD.workContent}">
			<!-- 게시글 내용이 여기에 들어갑니다. -->
		</p>
		
    </div>
    <div class="modal-body">
    
        <!-- 하위업무 -->
		<!-- <div>
			하위업무 수
			<div>
				<p>ㄴ하위업무</p>
			</div>
			하위업무 동적 생성
			<div>
				<button type="button">+ 하위업무 추가</button>
			</div>
			하위업무 입력란
			<div>
				
			</div>
		</div> -->
    </div>
    <div class="modal-footer">
		
		<div class="container">
			<div class="row">
				<h6>댓글</h6>
				
				<table class="comtable table table-hover">
					<thead>
						<tr class="comtabletr"
							th:each="com : ${projectWritingDetaisComment}"
							th:data-post-code="${com.comNo}"
							th:if="${taskD.proPostNo == com.proPostNo}">
							<td class="comtabletd"
								style="width:30px; padding-right:0px;">
								<th:block th:if="${com.uploadPath != null}">
									<img th:src="@{|/display?fileName=${#strings.replace(com.uploadPath,'\','/')}/s_${com.uuid}_${com.fileName}|}"
					  		 			 class="card-img-top"
					  		 			 style="width:30px; height:30px; margin:0px;">
					  		 	</th:block>
					  		 	<th:block th:if="${com.uploadPath == null}">
									<img style="width:30px; height:30px; margin:0px;"
								 		 src="../img/userProf.png">
								</th:block>
							</td>
							<td class="comtabletd"
								th:text="${com.name}"
								style="width:90px; padding-right:0px;"></td>
							<td class="comtabletd" th:text="${com.comContent}"></td>
							<td class="comtabletd comdate"
								style="width:140px; padding-right:0px;"
								th:text="${#dates.format(com.comDate, 'yy-MM-dd HH:mm')}"></td>
							<td style="width:90px; padding-right:0px;">
								<span th:if="${com.id == session.Id}"
									  onclick="UpdateWritingComment()"
									  class="spanCursor"
									  style="color: red">수정&nbsp</span>
								<span onclick="deleteWritingComment()"
									  th:if="${com.id == session.Id}"
									  class="spanCursor">삭제</span>
							</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="row">
				<div class="form-group col-10">
					<input type="text"
						   class="form-control"
						   placeholder="댓글 작성"
						   style="width:100%; overflow-x: hidden;">
				</div>
					<div class="col-2" style="padding:0px;">
						<button type="button"
								class="btn btn-groor"
								onclick="createCommentButton()"
								th:data-post-writing-no="${taskD.proPostNo}"
								style="width:100px;">댓글 등록</button>
					</div>
			</div>
		</div>
		
    </div>
</div>

</div>

<!-- 업무 그룹 생성 모달 -->
<div class="modal fade" id="workGroupCreate" tabindex="-1" aria-labelledby="workGroupCreateLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content dohyeonModalContent" style="width:400px;">
      <div class="modal-header" style="padding-bottom:3px; padding-top:10px;">
        <h5 class="modal-title" id="workGroupCreateLabel">업무 그룹 생성</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<input type="text" placeholder="그룹명을 입력하세요." id="workGroupName" maxlength="30" style="width:100%">
      </div>
      <div class="modal-footer" style="padding-bottom:6px; padding-top:6px;">
        <button type="button" class="btn btn-groob" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-groob" onclick="creWorkGroup()">저장</button>
      </div>
    </div>
  </div>
</div>


<!-- Custom JS -->
<script>
    $(document).ready(function () {
        var $buttons = $('.sideWork');
        var $modals = $('.custom-modal');
        
        // Event handler for dynamically created buttons
        $buttons.click(function () {
            // Get the ID of the corresponding modal
            var modalId = $(this).data('modal');
			
            // Show the selected modal and hide others
            $modals.not('#' + modalId).removeClass('show-modal');
            $('#' + modalId).toggleClass('show-modal');
            $('.form-control').val('');
            $('.collapse').removeClass('show');
        });

        // Close the custom modal when the close button is clicked
        $('.closeModalButton').click(function () {
            $(this).closest('.custom-modal').removeClass('show-modal');
            //$(this).closest('.custom-modal').find('input').val('');
            $('.form-control').val('');
            $('.collapse').removeClass('show');
        });
    });
</script>

<!-- 버튼 상태 변경(업무 상태, 게시물 조회) -->
<script>
	let selectedFeedButton = new Map();

	function toggleFeedButtonStyle(button) {
		let postWorkNo = button.closest('.custom-modal').dataset.feedPostNo;// 글 번호
		let workNo = button.closest('.custom-modal').dataset.feedWorkNo;
		let newStatus = button.dataset.workTypeStatus;
		let oldStatusNo = selectedFeedButton.get(postWorkNo);//선택했던 기존 버튼 번호 null or 존재

		//기존 상태 버튼 찾기
		let oldButton;
		if(oldStatusNo == null) {//선택했던 기존 버튼이 없다면
			let firstButtonStatusNo = button.parentNode.dataset.feedWorkType;//최초 버튼 찾기
			oldButton = button.closest(".custom-modal").querySelector('[data-work-type-status="' + firstButtonStatusNo + '" ]');//최초 버튼 상태 찾기
		} else {//선택했던 기존 버튼이 있다면
			oldButton = button.closest(".custom-modal").querySelector('[data-work-type-status="' + oldStatusNo + '" ]');//구 버튼 상태를 찾기
		}

		selectedFeedButton.set(postWorkNo, newStatus);//신규 번호 삽입
		
		fetch("/updateWorkPostStatus", {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				'workStatus' : newStatus,
   				'workNo': workNo
   			})
		})
		.then(response => response.json())
		.then(res => {
			console.log(res);
			if(res.result == '성공') {
				
				  if (oldButton !== button) {//기존 버튼과 셀렉한 버튼이 다를 때
				    if (oldButton) {
				      resetButtonStyle(oldButton);
				    }
				    
				    let className = button.classList.item(1);
				
				    if (className.startsWith('btn-outline')) {
				      let filledClassName = className.replace('btn-outline', 'btn');
				      button.classList.remove(className);
				      button.classList.add(filledClassName);
				    } else {
				      let outlineClassName = className.replace('btn', 'btn-outline');
				      button.classList.remove(className);
				      button.classList.add(outlineClassName);
				    }
				
				    oldButton = button;
				    
					changeMainStatus(newStatus, workNo, className);
				  }
				  
			} else {
				alert('상태 수정 실패');
			}
			
			
		});
		
	}
	
	function changeMainStatus(newStatus, workNo, className) {
		let MainButton = document.querySelector('[data-target-status="' + workNo + '" ]');
		let filledClassName = className.replace('btn-outline', 'btn');
		//console.log(MainButton);
		//console.log(filledClassName);
		MainButton.className = '';
		MainButton.dataset.workTypeStatus= newStatus;
		MainButton.classList.add('btn', filledClassName);
		//console.log(MainButton);
		switch (newStatus) {
		  case '1':
			  MainButton.innerText = '요청';
		    break;
		  case '2':
			  MainButton.innerText = '진행';
		    break;
		  case '3':
			  MainButton.innerText = '피드백';
		    break;
		  case '4':
			  MainButton.innerText = '완료';
		    break;
		  case '5':
			  MainButton.innerText = '보류';
		    break;
		}
	}
	
	
	//버튼 초기화
	function resetButtonStyle(button) {
	  let className = button.classList.item(1);
	  if (className.startsWith('btn-outline')) {
	    let outlineClassName = className.replace('btn-outline', 'btn');
	    button.classList.remove(className);
	    button.classList.add(outlineClassName);
	  } else {
	    let filledClassName = className.replace('btn', 'btn-outline');
	    button.classList.remove(className);
	    button.classList.add(filledClassName);
	  }
	}
	
</script>

<!-- 멤버별 업무 보기 설정 -->
<script>
	function subWorkView() {
		let checkeds = document.getElementById('workViewCheck').querySelectorAll('li>label>input:checked');
		let checkedObj= {};
		let changeColums = [];
		
		checkeds.forEach(check => {
			let dName = check.dataset.workView;
			checkedObj[dName] = 'Y';
			changeColums.push(dName);
		});
		
		//프로젝트 번호 넣기(postTile에 해당 번호 있습니다)
		checkedObj['proNo'] = projectNo;
		
		//console.log(checkedObj);

		fetch("/updateWorkView", {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(checkedObj)
		})
		.then(response => response.json())
		.then(res => {
			//console.log(res);
			//console.log(changeColums);

			let columns = document.querySelectorAll('[data-work-column]');

			columns.forEach((column) => {
			  column.style.display = 'none';
			});

			changeColums.forEach(colum => {
				let targetColumns = document.querySelectorAll('[data-work-column="' + colum + '" ]');
				targetColumns.forEach((targetColumn) => {
				    targetColumn.style.display = '';
				});
			});
			
			$('#workView').modal('hide')


		})
		.catch(error => {
			console.error('Error: ',error);
		});
	}
</script>

<!-- 업무 그룹 생성 -->
<script>
	function creWorkGroup() {
		let workgn = document.getElementById('workGroupName').value;

		if(workgn == '') {
			alert('제목을 입력하세요.')
			return;
		}

		fetch("/creWorkGroup", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
   				'proNo': projectNo,
				'workGroupName' : workgn
   			})
		})
		.then(response => response.json())
		.then(res => {
			//테이블에 태그 추가
			let newTr = document.createElement("tr");
			newTr.innerHTML = `
				<td data-work-group-no="${res.result}" style="background-color: #b6b3b3">
				<span>${workgn}</span>
  				<span class="spanCursor" onclick="delWorkGroup()">X</span>
				</td>
			`;
			workBodyList.prepend(newTr);
			
			//모달 종료
			$('#workGroupCreate').modal('hide');
			$('input').val('');
			
			//게시물에 태그 추가
			$('.form-select').append($("<option value="+res.result+">"+workgn+"</option>"))
		});
	}
</script>

<!-- work group 삭제 -->
<script>
	function delWorkGroup() {
		let workGroupTag = event.target.parentElement
		let delworkGroupNo = workGroupTag.dataset.workGroupNo;
		fetch("/delWorkGroup", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(delworkGroupNo)
		})
		.then(response => response.json())
		.then(res => {
			if(res.result == '성공') {
				workGroupTag.remove();
			}
		});
		
	}
</script>

</th:block>
</html>