<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/boardTiles}">
<head>
<meta charset="UTF-8">
<title>메일 단건 상세조회 페이지</title>
</head>
<body layout:fragment="content">
	<table>
        <tr>
            <td>제목:</td>
            <td><input type="text" th:value="${mail.title}" readonly/></td>
        </tr>
        <tr>
            <td>내용:</td>
            <td><textarea th:text="${mail.content}" readonly></textarea></td>
        </tr>
        <tr>
            <td>첨부파일 : </td>
            <!-- <td><a th:href="@{/files/} + ${board.attachment}" th:text="${board.attachment}">file.txt</a></td> -->
        </tr>
        <tr>
            <td>작성자:</td>
            <td><input type="text" th:value="${mail.id}" readonly /></td>
        </tr>
        <tr>
            <td>작성일:</td>
            <td><input th:value="${#dates.format(mail.sendDate, 'yyyy.MM.dd')}" readonly /></td>
        </tr>
    </table>
</body>
</html>