<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/mailTiles}">
<head>
<meta charset="UTF-8">
<title>보낸메일함 페이지</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');
	
	.dohyeon{
		font-family: 'Do Hyeon', serif;/*웹 폰트 지정*/
		color:black;
		font-size : 20px;
	}
	#ulId li.active a.page-link {
    	background-color: #35A880;
    	border: 1px solid #35A880;
    	color:#fff
  	}
  	a {
  		text-decoration:none !important;
  		cursor:pointer;
  	}
	ul {
			list-style:none;
	}
	.paging .active a {
		    background-color: #f00;
		    color: #fff;
	}
</style>
</head>
<body>
<div layout:fragment="content">
	<div>
	 <h3 class="tjs" style="font-size:35px;margin-top:20px;">Groobear 보낸 메일함</h3>
		<table class="table table-hover">
			<thead>
				<tr style="border-bottom: 2px solid lightgray;">
					<th style="width: 100px;"><input type="checkbox" class="allCheck"><button type="button" class="del" style=" position: absolute;left: 60px;border: 0;width: 50px;height: 35px;border-radius: 15px;top: 75px;">삭제</button></th>
					<th>보낸사람</th>
					<th style=" width: 200px;">제목</th>
					<th style=" width: 400px;">내용</th>
					<th>날짜</th>
					
				</tr>
			</thead>
			<tbody id="MailBody">
				<tr style="overflow: hidden;text-overflow: ellipsis; white-space:nowrap;width:300px;height:50px;" th:each="mail, stat : ${mailList}" th:attr="onclick='window.location.href=\'/mailInfo?mailNo=' + ${mail.mailNo} +'&check=S' + '\''">
					<td onclick="event.stopPropagation();"><input type="checkbox" class="check" onclick="checkBoxClick();"></td>
					<td style="display:none">[[${mail.mailNo}]]</td>
					<td >[[${mail.receiver}]]</td>
					<td >[[${mail.title}]]</td>
					<td style="width:200px;">[[${mail.content}]]</td>
					<td  th:text="${#dates.format(mail.sendDate, 'MM-dd HH:mm')}"></td>
					<td style="display:none"><input id="mailNo" type="text" th:value="${mail.mailNo}"></td>
				</tr>
			</tbody>
		</table>
		<div style="display: flex;justify-content: center;height:30px;">
			<ul id="ulId" class="paging pagination pagination-sm" style="display: flex;justify-content: center;" th:if="${paging.endPage != 0}">
		<li class="page-item">
			<a class="page-link" th:href="|javascript:goPage(1)|">&laquo;</a></li>
		<li class="page-item" th:if="${paging.prev}">
            <a class="page-link" th:href="|javascript:goPage([[${paging.startPage-1}]])|">&lsaquo;</a>
        </li>
		<li class="page-item active" th:class="${num==paging.cri.page ? 'active' : ''}" 
			th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
			<a class="page-link" th:href="|javascript:goPage([[${num}]])|"
			th:text="${num}"></a>
		</li>
		<li class="page-item" th:if="${paging.next and paging.endPage > 0}">
            <a class="page-link" th:href="|javascript:goPage([[${paging.endPage+1}]])|">&rsaquo;</a>
        </li>
		<li class="page-item"><a class="page-link"
			th:href="|javascript:goPage([[${paging.totalCount / paging.cri.perPageNum + (paging.totalCount % paging.cri.perPageNum > 0 ? 1 : 0)}]])|">&raquo;</a>
		</li>
    </ul>
		</div>
	</div>
	<script>
	let mailNo ="";
	console.log(mailNo);
	function goPage(p){
		location.href="sendingMail?page="+p;
			
	}
		var allCheck = document.querySelector(".allCheck");
		var list = document.querySelectorAll(".check");
		let delList = [];
		allCheck.onclick = (e) => {
			event.stopPropagation()
			//console.log(e.target);
			if(allCheck.checked){
				for(let i=0; i< list.length; i++){
					list[i].checked = true;
					console.log(list[i].value);
					console.log('parent',list[i].parentElement.parentElement.children[1].textContent)
					if(list[i].checked = true){
						delList.push(list[i].parentElement.parentElement.children[1].textContent)
					}
					console.log(delList);
				}
			}else{
				for(let i=0; i< list.length; i++){
					list[i].checked = false;
					delList.pop();
					console.log(delList);
				}
			}
		}
		function checkBoxClick(){
			console.log(event.target); //event는 전역객체
			let mailNo = event.target.parentElement.parentElement.children[1].textContent;
			console.log('mailNo = ',mailNo)
			if(event.target.checked){
				console.log('체크됨2');
				delList.push(mailNo);
				console.log('checked에서 delList = ',delList);
			}else{
				console.log('한번더 체크되서 풀림');
				delList.pop(mailNo);
				console.log('uncheck에서 delList = ',delList);
			}
			console.log('전체점검 delList = ',delList);
		}
		var del = document.querySelector(".del");
		
		del.onclick = () =>{
			for(let i=0; i< list.length; i++){
				if(list[i].checked){
					list[i].parentElement.parentElement.remove();
				}
			}
			console.log(delList);
			$.ajax({
				url : "sendDelete",  // 전송 URL
			    type : 'POST',
			    contentType : 'application/json',
			    data :JSON.stringify( delList ),
			    //Ajax 성공시 호출 
			    async : false,
			    success : function(data){
			        console.log("컨트롤에서 받은거 : " + data);
			        location.href="/mail/sendingMail";
			        alert("삭제"+data+"건 되었습니다.");
			    },
			    //Ajax 실패시 호출
			    error : function(e){
			        console.log("에러 = "+e);
			    }
			});
		}
	</script>
</div>
</body>
</html>
