<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/mailTiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<form action="/sendingMail" method="post">
		<button id="send" type="submit">메일보내기</button>
		<table>
		<tbody>
			<tr>
				<td>보내는사람 <input id="sender" type="text" name="sender" th:value="${session.Id}"></td>
			</tr>
			<tr>
				<td>받는사람 <input id="receiver" type="text" name="receiver"></td>
			</tr>
			<tr>
				<td>참조자 <input id="referrer" type="text" name="referrer"></td>
			</tr>
			<tr>
				<td>제목 <input id="title" type="text" name="title"></td>
			</tr>
			<tr>
				<td>내용 <textarea id="content" style="width:1000px; height:1000px" name="content"></textarea></td>
			</tr>
		</tbody>
		</table>
	</form>
<script>
	/* function sending(){
		let receiver = document.getElementById('receiver');
		console.log(receiver.value);
		let title = document.getElementById('title');
		let content = document.getElementById('content');
		console.log('제목 = ',title.value);
		console.log('내용 = ',content.value);
	} */
</script>
</body>
</html>