<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/mailTiles}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<div>
	<table>
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody id="MailBody">
			<tr th:each="mail : ${mailList}" th:attr="onclick='window.location.href=\'/mailInfo?mailNo=' + ${mail.mailNo} + '\''">
				<td><input type="checkbox"></td>
				<td>[[${mail.receiver}]]</td>
				<td>[[${mail.title}]]</td>
				<td>[[${mail.content}]]</td>
				<td th:text="${#dates.format(mail.sendDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
