<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}"
>

<div layout:fragment="content">
<!-- 필터, 정렬 -->
<div style="text-align: end; margin-bottom: 15px;">
	<select class="custom-select"
			name="parti"
			onchange="chagepartiSelect()"
			id="partiSelect"
			style="width: 190px;">
		<option 
				value=""
				>내가 참여중인 프로젝트</option>
		<option 
				th:value="${session.Id}">내가 관리자인 프로젝트</option>
	</select>
	<select class="custom-select"
			name="parti"
			onchange="chageorderSelect()"
			id="orderSelect"
			style="width: 150px;">
		<option 
				value="1 DESC">오름차순(ㄱ~ㅎ)</option>
		<option 
				value="1 ASC">내림차순(ㅎ~ㄱ)</option>
	</select>
</div>
<!-- 필터, 정렬 끝 -->

<!-- 프로젝트 리스트 -->
<div>
	<table class="table table-hover"
		   id="goProjectDetail">
		<tr th:each="pro:${projectMainList}"
			th:if="${pro.proStarCheck == 'Y'}"
			th:attr="data-pMN=${pro.proMemNo}, data-starC=${pro.proStarCheck},
					 data-homeTab=${pro.homeTab}, data-proNo=${pro.proNo}"
			style="cursor:pointer">
			<td>
				<div class="square"
					 th:style="'background-color: ' + ${pro.proColor}"></div></td>
			<td><div class="star yellow starCheck"></div></td>
			<td style="width: 750px; overflow: hidden; font-size: larger; padding-left: 15px;"
				th:text="${pro.proName}"></td>
			<td th:each="parti:${projectPartiList}"
				th:if="${parti.proNo == pro.proNo}"
				th:text="${parti.count} + '명'"></td>
			<td>
				<span class="material-symbols-outlined spanCursor"
					  onclick="hideProject()"
					  th:data-pro-hide="${pro.proHideCheck}"
					  th:text="${pro.proHideCheck == 'Y'} ? 'visibility_off' : 'visibility'"></span>
			</td>
		</tr>
	</table>
</div>
<!-- 프로젝트 리스트 종료 -->

<!-- 즐겨찾기 변경 -->
<script>
	let starCheck = document.querySelectorAll(".starCheck");
	
	starCheck.forEach(sC => {
		sC.addEventListener("click", function(event) {
			event.stopPropagation();
			changeStar();
		});
	});

	function changeStar() {
		let trTag = event.target.closest('tr');
		let dpMN = trTag.getAttribute("data-pMN");
		let starC = trTag.getAttribute("data-starC");

		let formData = new FormData();
        formData.append('pMN', dpMN);
        formData.append('starC', starC);

		fetch("/proStarUpdate", {
			method: 'POST',
			body : formData
		})
		.then(response => response.json())
		.then(res => {
			trTag.remove();
		})
		.catch(error => {
			console.error('Error: ',error);
		});
	};
	
	//프로젝트 master여부
	function chagepartiSelect() {
		let partiSelectId = document.getElementById('partiSelect').value;
	};
</script>
	
<!-- 프로젝트 홈에서 상세 페이지 이동 -->
<script>
	let gPList = document.querySelectorAll('#goProjectDetail tr');
	
	gPList.forEach(gPDetail => {
		let homeTabNum = gPDetail.dataset.hometab;
		let pn = gPDetail.dataset.prono;
		gPDetail.addEventListener('click', function() {
			projectDetail(homeTabNum, pn);
		});
	});

	function projectDetail(homeTNum, proNo) {
		location.href="/proPostMain/" + proNo + "?homeTab=" + homeTNum;
	};
</script>

<!-- 프로젝트 필터 -->
<script>
	function chagepartiSelect() {
		let partiSelectId = document.getElementById('partiSelect').value;
		
		fetch("/proMainO", {
			method: 'POST',
			headers: {
   			    'Content-Type': 'application/json'
   			  },
   			body: JSON.stringify({
   				'proPartiFilter': partiSelectId
   			})
		})
		.then(response => response.json())
		.then(res => {
			if (res.result == '성공') {
				location.reload();
			} else {
				alert('요청 실패');
			};
		});
	};
</script>

<!-- 프로젝트 정렬 -->
<script>
	function chageorderSelect() {
		let proRange = document.getElementById('orderSelect').value;
		
		fetch("/proMainO", {
			method: 'POST',
			headers: {
   			    'Content-Type': 'application/json'
   			  },
   			body: JSON.stringify({
   				'proRange': proRange
   			})
		})
		.then(response => response.json())
		.then(res => {
			if (res.result == '성공') {
				location.reload();
			} else {
				alert('요청 실패');
			};
		});
	};
</script>

<!-- 프로젝트 숨김 -->
<script>
function hideProject() {
	event.stopPropagation();
	let hideC = event.target.dataset.proHide;
	hideC = hideC == 'N' ? 'Y' : 'N';
	let trTag = event.target.closest('tr');
	let proMemNo = trTag.dataset.pmn;
	
	fetch("/updateProHide", {
		  method: 'PUT',
		  headers: {
		    'Content-Type': 'application/json'
		  },
		  body: JSON.stringify({
			  	proMemNo: proMemNo,
			  	proHideCheck: hideC
			  })
		})
		.then(response => response.json())
		.then(res => {
			let rC = res.result;
			if(rC == '성공') {
				trTag.remove();
			}
		});
};
</script>	
</div>
</html>