<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}"
>
<head>
</head>
<div layout:fragment="content">
<!-- 필터, 정렬 -->
<div style="text-align: end; margin-bottom: 15px;">
	<select class="custom-select"
			name="parti"
			onchange="chagepartiSelect()"
			id="partiSelect"
			style="width: 170px;">
		<option 
				value=""
				>내가 참여중인 프로젝트</option>
		<option 
				th:value="${session.Id}">내가 관리자인 프로젝트</option>
	</select>
	<select class="custom-select"
			name="parti"
			onchange="chageorderSelect()"
			id="orderSelect"
			style="width: 130px;">
		<option 
				value="1 DESC">오름차순(ㄱ~ㅎ)</option>
		<option 
				value="1 ASC">내림차순(ㅎ~ㄱ)</option>
	</select>
</div>

<!-- 그룹에 프로젝트 추가, 삭제 버튼 -->
<div th:if="${readPerAllPro != null}">
	<!-- Button trigger modal -->
	<button type="button"
			class="btn btn-groob"
			data-toggle="modal"
			data-target="#proFolder">
		프로젝트 폴더 설정
	</button>

	<!-- 프로젝트를 그룹에 포함 시키는 modal -->
	<div class="modal fade"
		 id="proFolder"
		 tabindex="-1"
		 aria-labelledby="proFolderLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content dohyeonModalContent">
				<div class="modal-header">
					<h5 class="modal-title" id="proFolderLabel">그룹에 포함시킬 프로젝트</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- 본문 -->
				<div class="modal-body">
					<ul style="padding-left: 10px;">
						<li th:each="pro : ${readPerAllPro}"
							style="list-style-type: none;">
							<label class="custom-checkbox">
								<input type="checkbox"
									   th:data-pro-mem-no="${pro.proMemNo}"
									   onclick="changeGorupStatus()">
								<span class="checkmark"></span>
							</label>
							<span th:text="${pro.proName}"
								  style="padding-left: 10px; font-size: 18px;"></span>
						</li>
					</ul>
				</div>
				<div class="modal-footer" style="padding-top: 6px;padding-bottom: 6px;">
					<button type="button" class="btn btn-groob" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 프로젝트를 그룹에 포함 시키는 modal 종료 -->
	
</div>
<!-- 그룹에 프로젝트 추가, 삭제 버튼 -->
	
<!-- 프로젝트 테이블 -->
<div>
	<table class="table table-hover"
		   id="goProjectDetail">
		<tr th:each="pro:${projectMainList}"
			th:attr="data-pMN=${pro.proMemNo}, data-starC=${pro.proStarCheck}, data-homeTab=${pro.homeTab}, data-proNo=${pro.proNo}"
			style="cursor:pointer">
			<td>
				<div class="square"
					 th:style="'background-color: ' + ${pro.proColor}"></div></td>
			<td><div class="star starCheck"
					 th:classappend="${pro.proStarCheck == 'Y' ? 'yellow' : 'gray'}"></div></td>
			<td style="width: 750px; overflow: hidden; font-size: larger; padding-left: 15px;"
				th:text="${pro.proName}"></td>
			<td th:each="parti:${projectPartiList}"
				th:if="${parti.proNo == pro.proNo}"
				th:text="${parti.count} + '명'"></td>
			<td>
				<span class="material-symbols-outlined"
					  onclick="hideProject()"
					  th:data-pro-hide="${pro.proHideCheck}"
					  th:text="${pro.proHideCheck == 'Y'} ? 'visibility_off' : 'visibility'"></span>
			</td>
		</tr>
	</table>
</div>
<!-- 프로젝트 테이블 종료 -->

<!-- 스크립트 -->
<!-- model값 가져오기 -->
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		//투표 check하기(프로젝트 그룹 사용)
		let modelGroupChecks = /*[[${readGroupCheckPro}]]*/;
	/*]]>*/
</script>

<!-- group 초기 checked 정하기 -->
<script>
	let allGroupCheckBoxes = document.querySelectorAll('[data-pro-mem-no]');
	
	//다른 페이지 modelGroupChecks확인 불가로 조건 추가
	if(modelGroupChecks != null) {
		modelGroupChecks.forEach(modelGroupCheck => {

			allGroupCheckBoxes.forEach(groupCheckbox => {
				if(groupCheckbox.dataset.proMemNo == modelGroupCheck.proMemNo) {
					groupCheckbox.checked = true;
				};
			});
		});
	};
</script>

<!-- 즐겨찾기 -->
<script>
	let starCheck = document.querySelectorAll(".starCheck");
	
	starCheck.forEach(sC => {
		sC.addEventListener("click", function(event) {
			event.stopPropagation();
			changeStar();
		});
	});

	function changeStar() {
		let trTag = event.target.closest('tr');
		let dpMN = trTag.getAttribute("data-pMN");
		let starC = trTag.getAttribute("data-starC");

		let formData = new FormData();
        formData.append('pMN', dpMN);
        formData.append('starC', starC);
		fetch("/proStarUpdate", {
			method: 'POST',
			body : formData
		})
		.then(response => response.json())
		.then(res => {
			changeProOne(starC, trTag);
			
		})
	};

	//즐겨찾기 변경
	function changeProOne(starC, trTag) {
		if (starC == 'N') {
			trTag.setAttribute('data-starc', 'Y');
			trTag.querySelector('.star').classList.remove('gray');
			trTag.querySelector('.star').classList.add('yellow');
		} else {
			trTag.setAttribute('data-starc', 'N');
			trTag.querySelector('.star').classList.remove('yellow');
			trTag.querySelector('.star').classList.add('gray');
		}

	}
	
	//프로젝트 master여부
	function chagepartiSelect() {
		let partiSelectId = document.getElementById('partiSelect').value;
		console.log(partiSelectId);
		
	}
</script>
	
<!-- 프로젝트 홈에서 상세 페이지 이동 -->
<script>
	let gPList = document.querySelectorAll('#goProjectDetail tr');
	
	gPList.forEach(gPDetail => {
		let homeTabNum = gPDetail.dataset.hometab;
		let proNo = gPDetail.dataset.prono;
		gPDetail.addEventListener('click', function() {
			console.log('홈',homeTabNum)
			console.log(proNo)
			projectDetail(homeTabNum, proNo);
		});
	});

	function projectDetail(homeTNum, proNo) {
		location.href="/proPostMain/" + proNo + "?homeTab=" + homeTNum;
	};
</script>
	
<!-- 프로젝트 숨김 해제 -->
<script>
	function hideProject() {
		event.stopPropagation();
		let hideC = event.target.dataset.proHide;
		hideC = hideC == 'N' ? 'Y' : 'N';
		console.log(hideC)
		let trTag = event.target.closest('tr');
		let proMemNo = trTag.dataset.pmn;
		
		fetch("/updateProHide", {
			  method: 'PUT',
			  headers: {
			    'Content-Type': 'application/json'
			  },
			  body: JSON.stringify({
				  	proMemNo: proMemNo,
				  	proHideCheck: hideC
				  })
			})
			.then(response => response.json())
			.then(res => {
				let rC = res.result;
				if(rC == '성공') {
					trTag.remove();
				}
			});
	}
</script>

<!-- 그룹 추가/ 삭제 -->
<script type="text/javascript">
function changeGorupStatus() {
	let checkedStatus = event.target.checked;
	let proMemNo = event.target.dataset.proMemNo;
	let liTag = event.target.parentElement;
	let mainCont = event.target.nextElementSibling.textContent;
	const url = window.location.href;
	const parts = url.split('/');
	const lastPart = parts[parts.length - 1];
	
	console.log(lastPart);
	
	//그룹 추가
	if(checkedStatus) {

		fetch("/creGroupManage", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				'proMemNo' : proMemNo,
				'groupNo' : lastPart
				})
		})
		.then(response => response.json())
		.then(res => {
			let newTr = document.createElement("tr");
			
			//tr생성
			newTr.innerHTML = `
			    <tr style="cursor:pointer" data-pmn="${proMemNo}" data-starc="N" data-hometab="4">
			        <td>red</td>
			        <td class="starCheck">N</td>
			        <td>${mainCont}</td>
			        <td>1명</td>
			        <td>
			            <span class="material-symbols-outlined" onclick="hideProject()" data-pro-hide="N">visibility</span>
			        </td>
			    </tr>
			`;
			newTr.setAttribute('data-pmn', proMemNo);
			newTr.setAttribute('data-starc', 'N');
			newTr.setAttribute('data-hometab', '4');
			
			let aTbody = document.querySelector('#goProjectDetail');
			aTbody.append(newTr);
			
		})
		.catch(error => {
			console.error('Error: ',error);
		});
		
		//투표 삭제
	} else {
		
		fetch("/delGroupManage", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				'proMemNo' : proMemNo,
				'groupNo' : lastPart
				})
		})
		.then(response => response.json())
		.then(res => {
			let ss = document.querySelector('[data-pmn="' + proMemNo + '"]').remove();
		})
		.catch(error => console.error('Error: ',error));

	}
}
</script>

</div>
</html>