<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/proTiles}"
>
<head>
<meta charset="UTF-8">
<title>그루베어(groobear) - 예담 NO.1 그룹웨어</title>
</head>
<body layout:fragment="content">
	<div>
		<h2>내 프로젝트</h2>
		<select class="form-select" aria-label="Default select example"
				name="parti" onchange="chagepartiSelect()"
				id="partiSelect">
		  <option selected value="">내가 참여중인 프로젝트</option>
		  <option th:value="${session.Id}">내가 관리자인 프로젝트</option>
		</select>
	</div>
	<div>
		<table class="table table-hover">
			<thead>
				<th:block th:if="${projectMainList.?[proStarCheck == 'Y'].size() > 0}">
					<tr>
						<th scope="col">즐겨찾기</th>
					</tr>
				</th:block>
			</thead>
			<tbody id="YesStar">
				<tr th:each="pro:${projectMainList}" th:if="${pro.proStarCheck == 'Y'}"
					th:attr="data-pMN=${pro.proMemNo}, data-starC=${pro.proStarCheck}, data-homeTab=${pro.homeTab}"
					style="cursor:pointer">
					<td th:text="${pro.proColor}"></td>
					<td th:text="${pro.proStarCheck}" class="starCheck"></td>
					<td th:text="${pro.proName}"></td>
					<td th:each="parti:${projectPartiList}" th:if="${parti.proNo == pro.proNo}"
						th:text="${parti.count} + '명'"></td>
				</tr>
				
			</tbody>
		</table>
		<table class="table table-hover">
			<thead>
				<th:block th:if="${projectMainList.?[proStarCheck == 'N'].size() > 0}">
					<tr>
						<th scope="col">참여중</th>
					</tr>
				</th:block>
			</thead>
			<tbody id="NoStar">
				<tr th:each="pro:${projectMainList}" th:if="${pro.proStarCheck == 'N'}"
					th:attr="data-pMN=${pro.proMemNo}, data-starC=${pro.proStarCheck}, data-homeTab=${pro.homeTab}"
					style="cursor:pointer">
					<td th:text="${pro.proColor}"></td>
					<td th:text="${pro.proStarCheck}" class="starCheck"></td>
					<td th:text="${pro.proName}"></td>
					<td th:each="parti:${projectPartiList}" th:if="${parti.proNo == pro.proNo}"
						th:text="${parti.count} + '명'"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		let starCheck = document.querySelectorAll(".starCheck");

		starCheck.forEach(sC => {
			
			sC.addEventListener("click", function(event) {
				event.stopPropagation();
				changeStar();
			});
			
		});
		
		function changeStar() {
			let dpMN = event.target.parentNode.getAttribute("data-pMN");
			let starC = event.target.parentNode.getAttribute("data-starC");
			let trTag = event.target.parentNode;
			console.log(trTag);
			
			let formData = new FormData();
	        formData.append('pMN', dpMN);
	        formData.append('starC', starC);

			fetch("/proUpdate", {
				method: 'POST',
				body : formData
			})
			.then(response => response.json())
			.then(res => {
				let rC = res.result;
				
				if (rC == '등록' || rC == '취소') {
					changeProOne(rC, trTag);
					
				} else {
					alert('요청이 취소 되었습니다.');
				}
				
			})
		}
	
		//즐겨찾기 변경
		function changeProOne(rC, trTag) {

			if (rC == '등록') {
				let yStar = document.getElementById('YesStar');
				yStar.appendChild(trTag);
				trTag.setAttribute('data-starc', 'Y');
				trTag.getElementsByClassName('starCheck')[0].textContent = 'Y';
			} else {
				let nStar = document.getElementById('NoStar');
				nStar.appendChild(trTag);
				trTag.setAttribute('data-starc', 'N');
				trTag.getElementsByClassName('starCheck')[0].textContent = 'N';
			}

		}
		
		//프로젝트 master여부
		function chagepartiSelect() {
			let partiSelectId = document.getElementById('partiSelect').value;
			console.log(partiSelectId);
			
		}
	</script>

	<!-- 프로젝트 홈에서 상세 페이지 이동 -->
	<script>
		let trDetailsY = document.querySelectorAll('#YesStar tr');
		let trDetailsN = document.querySelectorAll('#NoStar tr');

		trDetailsY.forEach(trDetailY => {
			let homeTabNum = trDetailY.dataset.hometab;
			trDetailY.addEventListener('click', function() {
				projectDetail(homeTabNum)
			});
		});

		trDetailsN.forEach(trDetailN => {
			let homeTabNum = trDetailN.dataset.hometab;
			trDetailN.addEventListener('click', function() {
				projectDetail(homeTabNum)
			});
		});

		function projectDetail(homeTNum) {
			location.href="/proPostMain/" + homeTNum;
		}
	</script>
</body>
</html>