<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.board.mapper.BoardMapper">
	<select id="selectAllList" resultType="boardVO">
		SELECT BOARD_NO          
			   ,ID           
			   ,BOARD_TYPE     
			   ,TITLE        
			   ,CONTENT     
			   ,INSERT_DATE            
			   ,UPDATE_DATE           
			   ,COUNT       
	     FROM  BOARD
	 ORDER BY  BOARD_NO DESC
	</select>
	<select id="selectBoard" resultType="int">
		SELECT BOARD_NO
			   ,ID
			   ,BOARD_TYPE
			   ,TITLE
			   ,CONTENT
			   ,INSERT_DATE
			   ,UPDATE_DATE
			   ,COUNT
		FROM   BOARD
		WHERE  BOARD_NO = #{boardNo}
	</select>
	<insert id="insertBoard" parameterType="boardVO">
	   INSERT INTO BOARD (
	   			ID
	   			,BOARD_NO
	   		  , TITLE
	   		  , CONTENT
	   		  , INSERT_DATE
	   		  
	   ) VALUES (
	   			#{id}
	   			,BOARD_SEQ.NEXTVAL
	   		  , #{title}
	   		  , #{content}
	   		  , sysdate
	   		  
	   )
	</insert>
	<!-- 파일 insert -->
	<insert id="addFiles" parameterType="filesVO">
		INSERT INTO FILES 
						   ( FILE_NO
						   , ORIGIN_FILE_NAME
						   , CHANGE_FILE_NAME
						   , FILE_SIZE
						   , FILE_DATE
						   , BOARD_NO
						   )
						   VALUES 
						   ( #{fileNo}
						   , #{originFileName}
						   , #{changeFileName}
						   , #{fileSize}
						   , sysdate
						   , #{boardNo}
						   )
	</insert>
</mapper>