<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.board.mapper.BoardMapper">
	<sql id="cri">
		    <where>
	        BOARD_TYPE = #{boardVO.boardType}
	        <if test="cri.type != null and cri.type.equals('title')">
	            AND b.title LIKE '%${cri.keyword}%'
	        </if>
	        <if test="cri.type != null and cri.type.equals('name')">
	            AND a.name LIKE '%${cri.keyword}%'
	        </if>
	        <if test="cri.type != null and cri.type.equals('content')">
	            AND b.content LIKE '%${cri.keyword}%'
	        </if>
	    </where>
	 </sql>
	 
<select id="selectAllList" resultType="BoardVO">
	     SELECT * 
            FROM (
              SELECT t.*, ROWNUM AS rn
              FROM (SELECT * 
	    FROM BOARD b JOIN (SELECT *
	                        FROM  user_info i JOIN users u
	                        ON i.emp_no = u.emp_no) a
	    ON b.id = a.id
		<include refid="cri"></include>
	    ORDER BY b.board_no DESC
	    ) t
            )
            <![CDATA[
            WHERE rn >= (#{cri.page}-1) * #{cri.perPageNum} +1 AND rn <= #{cri.page} * #{cri.perPageNum}
            ]]>
	</select>
	
	<!-- 페이징 -->
	<select id="boardListCnt" resultType="int">
	        SELECT count(*)
	        FROM board b JOIN (SELECT *
	                        FROM  user_info i JOIN users u
	                        ON i.emp_no = u.emp_no) a
	    ON b.id = a.id
	        <include refid="cri"/>
	</select>
	

	<select id="selectBoard" resultType="BoardVO" parameterType="int">
		SELECT * 
	    FROM BOARD b JOIN (SELECT *
	                        FROM  user_info i JOIN users u
	                        ON i.emp_no = u.emp_no) a
	    ON b.id = a.id
		WHERE  BOARD_NO = #{boardNo}
	</select>
	<insert id="insertBoard" parameterType="BoardVO">
	   INSERT INTO BOARD (
	   			ID
	   		  , BOARD_NO
	   		  , BOARD_TYPE
	   		  , TITLE
	   		  , CONTENT
	   		  , INSERT_DATE
	   		  
	   ) VALUES (
	   			#{id}
	   		  , BOARD_SEQ.NEXTVAL
	   		  , #{boardType}
	   		  , #{title}
	   		  , #{content}
	   		  , sysdate
	   		  
	   )
	</insert>
	<!-- 파일 insert -->
<!-- 	<insert id="addFiles" parameterType="FilesVO">
		INSERT INTO FILES 
						   ( FILE_NO
						   , ORIGIN_FILE_NAME
						   , CHANGE_FILE_NAME
						   , FILE_SIZE
						   , FILE_DATE
						   , BOARD_NO
						   )
						   VALUES 
						   ( #{fileNo}
						   , #{originFileName}
						   , #{changeFileName}
						   , #{fileSize}
						   , sysdate
						   , #{boardNo}
						   )
	</insert> -->
	
	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="BoardVO" >
		update board 
		set count=count+1 where BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE BOARD
		<set>
			<if test="title != null and !title.equals('')">
				TITLE = #{title},
			</if>
			<if test="content != null and !content.equals('')">
				content = #{content},
			</if>
			UPDATE_DATE = #{updateDate}
		</set>
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</delete>
	

</mapper>