<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.mypage.mapper.CommuteMapper">

	<!-- 전체조회 -->
	
	<select id="selectAllCommute" parameterType="CommuteVO" resultType="CommuteVO">
		SELECT * 
            FROM (
              SELECT t.*, ROWNUM AS rn
              FROM (
				select  u.emp_no,
					    d.dept_name,
						ui.name,
                        cm.work_start,
                        cm.work_end,  
                        cm.over_work_start,
                        cm.over_work_end, 
                        cm.day,
                        NVL(to_number(trunc((work_end - work_start)*24*60)) ,0)as work_time,
                        NVL(cm.over_work_time,0) as over_work_time,
                        o.off_count,
                        cm.off_status,
	            		u.id
				from users u,
						departments d,
						user_info ui,
                        commute cm,
                        off o
				where d.dept_no = ui.dept_no
						and ui.emp_no = u.emp_no
                        and u.id = cm.id
                        and cm.id = o.id
                        
			<if test="cri.type != null and cri.type.equals('name')">
				and ui.name LIKE '%${cri.keyword}%'
			</if>
			<if test="cri.type != null and cri.type.equals('empNo')">
				and u.emp_no LIKE '%${cri.keyword}%'
			</if>
			<if test="cri.type != null and cri.type.equals('deptName')">
				and d.dept_name LIKE '%'||upper('${cri.keyword}')||'%'
			</if>
			<if test="commuteVO.startDay != null and commuteVO.endDay != null">
                AND to_date(cm.day) BETWEEN #{commuteVO.startDay} AND #{commuteVO.endDay}
            </if>
            <if test="commuteVO.startDay != null and commuteVO.endDay == null and commuteVO.endDay == ''">
                AND to_date(cm.day) BETWEEN #{commuteVO.startDay} AND to_date(sysdate, 'YYYY-MM-DD')
            </if>
            <if test="commuteVO.startDay == null and commuteVO.startDay == '' and commuteVO.endDay == null and commuteVO.endDay == ''">
                AND trunc(cm.day) trunc(sysdate)
            </if>
			
		order by cm.day desc
		) t
            )
            <![CDATA[
            WHERE rn >= (#{cri.page}-1) * 10 +1 
			and rn <= #{cri.page} * 10
            ]]>
	</select>

	<!-- 페이징  -->
	<select id="commuteListCnt" resultType="int">
		select count(*)
			from users u,
						departments d,
						user_info ui,
                        commute cm,
                        off o
				where d.dept_no = ui.dept_no
						and ui.emp_no = u.emp_no
                        and u.id = cm.id
                        and cm.id = o.id
			<if test="cri.type != null and cri.type.equals('name')">
				and ui.name LIKE '%${cri.keyword}%'
			</if>
			<if test="cri.type != null and cri.type.equals('empNo')">
				and u.emp_no LIKE '%${cri.keyword}%'
			</if><if test="cri.type != null and cri.type.equals('deptName')">
				and d.dept_name LIKE '%'||upper('${cri.keyword}')||'%'
			</if>
			<if test="commuteVO.startDay != null and commuteVO.endDay != null">
                AND to_char(cm.day, 'YYYY-MM-DD') BETWEEN to_char(#{commuteVO.startDay}, 'YYYY-MM-DD') AND to_char(#{commuteVO.endDay}, 'YYYY-MM-DD')
            </if>
            <if test="commuteVO.startDay != null and commuteVO.endDay == null">
                AND to_char(cm.day, 'YYYY-MM-DD') BETWEEN #{commuteVO.startDay} AND to_char(sysdate, 'YYYY-MM-DD')
            </if>
            <if test="commuteVO.startDay == null and commuteVO.endDay == null">
                AND to_char(cm.day, 'YYYY-MM-DD') BETWEEN to_char(sysdate, 'YYYY-MM-DD') AND to_char(sysdate, 'YYYY-MM-DD')
            </if>
	</select>
	
	<select id="commuteListCnt2" resultType="int">
		select count(*)
			from users u,
						departments d,
						user_info ui,
                        commute cm,
                        off o
				where d.dept_no = ui.dept_no
						and ui.emp_no = u.emp_no
                        and u.id = cm.id
                        and cm.id = o.id
                        and u.id = #{id}
                <if test="monthDate != null">
	                AND to_char(cm.day, 'YYYY-MM') = #{monthDate}
				</if>
	</select>
	
	
	
	
	<insert id="workStart22" parameterType="CommuteVO">
		insert into commute(day,work_start,work_end,over_work_start,over_work_end,over_work_time,id)
		values(sysdate,sysdate,null,null,null,null,#{id})
	</insert>
	
	<update id="workStart" parameterType="CommuteVO">
		update commute 
		set work_start = sysdate
		where id = #{id} and to_char(day,'yyyy-MM-DD') = to_char(sysdate,'yyyy-MM-DD')
	</update>
	
	<update id="workEnd" parameterType="CommuteVO">
		update commute 
		set work_end = sysdate , off_status = 'Y'
		where id = #{id} and to_char(day,'yyyy-MM-DD') = to_char(sysdate,'yyyy-MM-DD')
	</update>

	<update id="overWorkStartEW" parameterType="CommuteVO">
		update commute set over_work_start = sysdate , work_end = sysdate
			where id = #{id} and to_char(day,'yyyy-MM-DD') = TO_char(SYSDATE,'yyyy-MM-DD')	
	</update>

	<update id="overWorkStart" parameterType="CommuteVO">
			update commute set over_work_start = sysdate
			where id = #{id} and to_char(day,'yyyy-MM-DD') = to_char(sysdate,'yyyy-MM-DD')
	</update>
	
	
	<update id="overWorkEnd" parameterType="CommuteVO">
		update commute 
		set over_work_end = sysdate
		where id = #{id} and to_char(day,'yyyy-MM-DD') = to_char(sysdate,'yyyy-MM-DD')
		
	</update>
	
	<update id="overWorkTime" parameterType="CommuteVO">
		update commute 
		set over_work_time = NVL(to_number(trunc((over_work_end - over_work_start)*24*60)) ,0)
			where id = #{id} 
			and to_char(day,'yyyy-MM-DD') = #{day2}
	</update>
	
	
	<!-- 출근기록 조회 -->
	<select id="chkWork" parameterType="String" resultType="CommuteVO">
	
		select * from commute
		where id = #{id}
		and to_char(day,'YY/MM/DD') = to_char(sysdate,'YY/MM/DD')
		
	</select>	

	<select id="getMyCommute" resultType="CommuteVO">
		select
				u.emp_no,
			    d.dept_name,
				ui.name,
	            cm.work_start,
	            cm.work_end,   
	            cm.day,
	            cm.off_status,
	            NVL(to_number(trunc((work_end - work_start)*24*60)) ,0)as work_time,
	            NVL(cm.over_work_time,0) as over_work_time,
	            o.off_count
		from 
				users u,
				departments d,
				user_info ui,
	            commute cm,
	            off o
		where 
				d.dept_no = ui.dept_no
				and ui.emp_no = u.emp_no
	            and u.id = cm.id
	            and cm.id = o.id
				and u.id = #{id}
				<if test="monthDate != null">
	                AND to_char(cm.day, 'YYYY-MM') = #{monthDate}
				</if>
		order by cm.day desc	
	</select>
			
	<!-- 회원가입 날짜 초기지정 -->
	<insert id="insertDay" parameterType="CommuteVO">
		insert into commute(day,work_start,work_end,over_work_start,over_work_end,over_work_time,id)
		values(sysdate,null,null,null,null,null,#{id})
	</insert>
	
	<!-- 달별 조회 -->
	<select id="calWork" resultType="CommuteVO">
		SELECT NVL(COUNT(commute.day), 0) AS count, NVL(SUM(commute.over_work_time), 0) AS over
			FROM (
  				SELECT day, over_work_time
  				FROM commute
  				WHERE id = #{id}
    			AND work_end IS NOT NULL
    	<if test="monthDate == null">
       	 	and TO_CHAR(day,'yyyy-MM') = TO_CHAR(sysdate, 'yyyy-MM') 
		</if>
		<if test="monthDate != null">
       	 	and TO_CHAR(day,'yyyy-MM') = #{monthDate}
		</if>
			) commute
	</select>	
	
	<!-- 결근일수 -->
	<select id="calNoWork" resultType="CommuteVO">
        SELECT count(day) AS count
  		FROM commute
	  	WHERE off_status = 'N'
	    and TO_CHAR(day,'yyyy-MM') = #{monthDate}
	    AND id = #{id}
	</select>
	
	<!-- 기본정보 -->
	<select id="comInfo" resultType = "CommuteVO">
		select
				u.emp_no,
			    d.dept_name,
				ui.name,
	            cm.work_start,
	            cm.work_end,   
	            cm.day,
	            cm.off_status,
	            NVL(to_number(trunc((work_end - work_start)*24*60)) ,0)as work_time,
	            NVL(cm.over_work_time,0) as over_work_time,
	            o.off_count
		from 
				users u,
				departments d,
				user_info ui,
	            commute cm,
	            off o
		where 
				d.dept_no = ui.dept_no
				and ui.emp_no = u.emp_no
	            and u.id = cm.id
	            and cm.id = o.id
				and u.id = #{id}
				
	</select>
	
	
	<!-- 정보수정  -->
	<update id="commuteUpdate" parameterType="CommuteVO">
		update commute 
		set work_start = to_date(#{workStart2},'yyyy-MM-DD HH24:MI')
		<if test = "workEnd2 != null">
			, work_end = to_date(#{workEnd2},'yyyy-MM-DD HH24:MI') , off_status = 'Y'
		</if>
		<if test = "overWorkStart2!= null">
			, over_work_start = to_date(#{overWorkStart2},'yyyy-MM-DD HH24:MI')
		</if>
		<if test = "overWorkEnd2!= null">
			, over_work_end = to_date(#{overWorkEnd2},'yyyy-MM-DD HH24:MI')
		</if>
		where id = #{id} and to_char(day,'yyyy-MM-DD') = #{day2}
	</update>
	
	
	
	
	

</mapper>