<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.emp.mapper.EmpMapper">

	<!-- 사원정보조회 -->
	<select id="getEmpInfo" parameterType="EmpVO" resultType="EmpVO">
      select *
      from user_info a join users b 
      on a.emp_no = b.emp_no
      <where>
			<if test="name != null and !name.equals('')">
				a.name=#{name} and b.phone=#{phone}
			</if>
			<if test="id != null and !id.equals('')">
				b.id=#{id} and b.phone=#{phone}
			</if>
	  </where>
    </select>
    <!-- 비밀번호 변경 -->
    <update id="changePw" parameterType="EmpVO">
    	update users set password = #{password} where id = #{id}
    </update>
    
</mapper>