<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.groo.bear.files.mapper.FilesMapper">
  	
  	<insert id="insert" parameterType="FilesVO">
  		insert into files (
  						    UUID
  						   ,UPLOAD_PATH
  						   ,FILE_NAME
  						   ,FILE_TYPE
  						   ,FILE_DATE
  						   ,${name}
  							)
  				VALUES 
  						  (
  						    #{uuid}
  						    ,#{uploadPath}
  						    ,#{fileName}
  						    ,#{fileType}
  						    ,sysdate
  						    ,#{no}
  						   )
  	</insert>
  	
  	<delete id="delete" parameterType="String">
  		delete from files where uuid = #{uuid}
  	</delete>
  	
  	<delete id="deleteAll">
  		delete from files where ${name} = #{no}
  	</delete>
  	
  	<select id="findByNo" resultType="FilesVO">
  		select * from files where ${name} = #{no}
  	</select>
  	<!-- 프로필 사진 등록 -->
  	<insert id="insertProfImg" parameterType="EmpVO">
  		insert into files (
  						    UUID
  						   ,UPLOAD_PATH
  						   ,FILE_NAME
  						   ,FILE_TYPE
  						   ,FILE_DATE
  						   ,ID
  							)
  				VALUES 
  						  (
  						    #{uuid}
  						    ,#{uploadPath}
  						    ,#{fileName}
  						    ,'1'
  						    ,sysdate
  						    ,#{id})
  	</insert>
  	
  	<!-- 프로필 사진 삭제 -->
  	<delete id="deleteProfImg" parameterType="String">
  		delete files where id = #{id}
  	</delete>
  	
  	<select id="getOldFiles" resultType="FilesVO">
  		select * from files where upload_path = to_char(sysdate -1 , 'yyyy/mm/dd')
  	</select>
  	<!-- 사원 개인 서명 등록 -->
  	<insert id="insertSignImg" parameterType="EmpVO">
  		insert into files (
  							UUID
  							,UPLOAD_PATH
  							,FILE_NAME
  							,FILE_TYPE
  							,FILE_DATE
  							,SIGN_NO)
  					VALUES
  							(
  							#{uuid}
  							,#{uploadPath}
  							,#{fileName}
  							,'1'
  							,sysdate
  							,#{empNo}
  							)
  	</insert>
  	<!-- 사원 개인 서명 삭제 -->
  	<delete id="deleteSignImg" parameterType="int">
  		delete files where sign_no = #{signNo}
  	</delete>
  	<!-- 사원 개인 서명 조회 -->
  	<select id="searchSignImg" parameterType="int">
  		select * from files where sign_no = #{empNo}  
  	</select>
  	<!-- 전자결재 차량 운행거리사진 등록 -->
  	<insert id="logInsert" parameterType="FilesVO">
  		insert into files(
  							UUID
  							,UPLOAD_PATH
  							,FILE_NAME
  							,FILE_TYPE
  							,FILE_DATE
  							,PAY_NO
  							) 
  					VALUES(
  							#{uuid}
  							,#{uploadPath}
  							,#{fileName}
  							,#{fileType}
  							,sysdate
  							,#{payNo}
  					)
  	</insert>
  	<!-- 전자결재 등록파일 조회 -->
  	<select id="searchPayImg" parameterType="int">
  		select * from files where pay_no = #{payNo}
  		ORDER BY file_date desc
  	</select>
  	<!-- 전자결재 등록파일 삭제 -->
  	<delete id="deletePayImg" parameterType="int">
  		delete files where pay_no = #{payNo}
  	</delete>
  	<!-- 메일 첨부파일 등록 -->
  	<insert id="insertMailFile" parameterType="FilesVO">
  		insert into files(
  							UUID
  							,UPLOAD_PATH
  							,FILE_NAME
  							,FILE_TYPE
  							,FILE_DATE
  							,MAIL_NO
  							) 
  					VALUES(
  							#{uuid}
  							,#{uploadPath}
  							,#{fileName}
  							,1
  							,sysdate
  							,#{mailNo}
  					)
  	</insert>
  	<!-- 메일 첨부파일 조회 -->
  	<select id="searchMailFile" parameterType="int">
  		select * from files
  		where mail_no = #{mailNo}
  	</select>
  	<!-- 메일 첨부파일 삭제 -->
  	<delete id="deleteMailFile" parameterType="int">
  		delete files where mail_no = #{mailNo}
  	</delete>
  	
  	
  	
  	<!-- 프로젝트 -->
  	<insert id="createProFile">
  		INSERT INTO files(
  							UUID
  							,UPLOAD_PATH
  							,FILE_NAME
  							,FILE_TYPE
  							,FILE_DATE
  							,PRO_FILE_NO
  							) 
  					VALUES(
  							#{uuid}
  							,#{uploadPath}
  							,#{fileName}
  							,#{fileType}
  							,sysdate
  							,#{proFileNo}
  					)
  	</insert>
  	
  	<!-- 프로젝트 첨부파일 조회 -->
  	<select id="readProFilePost" parameterType="int">
  		SELECT a.*, b.pro_post_no
		FROM files a
		JOIN pro_file b
		ON(a.pro_file_no = b.pro_file_no)
		JOIN pro_post c
		ON(b.pro_post_no = c.pro_post_no)
		WHERE c.pro_no = #{proNo}
  	</select>
  	
  	<!-- 프로젝트 파일관리 테이블 추가 -->
	<insert id="createProFileMan" parameterType="ProFileVO">
		INSERT INTO pro_file(pro_file_no, pro_post_no, com_no)
		VALUES ((SELECT NVL(MAX(pro_file_no), 0) + 1
		         FROM pro_file),
		        <if test="proPostNo == 0">
			      NULL
			    </if>
			    <if test="proPostNo != 0">
			      #{proPostNo}
			    </if>,
			    <if test="comNo == 0">
			      NULL
			    </if>
			    <if test="comNo != 0">
			      #{comNo}
			    </if>
    	)
    	<selectKey resultType="int" keyProperty="proFileNo" order="AFTER">
			SELECT NVL(MAX(pro_file_no), 0) FROM pro_file
	    </selectKey>
	</insert>
  	
  	<!-- 프로젝트 첨부파일 삭제 -->
  	<delete id="deleteProFile" parameterType="int">
  		DELETE FROM files
  		WHERE pro_file_no = #{proFileNo}
  	</delete>
  	
  	<!-- 프로젝트 첨부파일 관리 삭제-->
  	<delete id="deleteProFileMan" parameterType="int">
  		DELETE FROM pro_file
  		WHERE pro_file_no = #{proFileNo}
  	</delete>
  	
  	<!-- 파일 상세 조회 -->
  	<select id="readProFilePostDetail" parameterType="ProFileVO">
		SELECT a.*, b.pro_post_no
		FROM files a
		JOIN pro_file b
		ON(a.pro_file_no = b.pro_file_no)
		WHERE pro_post_no = #{proPostNo}
  	</select>
	<!-- 사원 공용 서명 등록 -->
  	<insert id="insertPublicSignImg" parameterType="EmpVO">
  		insert into files (
  							UUID
  							,UPLOAD_PATH
  							,FILE_NAME
  							,FILE_TYPE
  							,FILE_DATE
  							,SIGN_NO)
  					VALUES
  							(
  							'public'
  							,'public'
  							,'public'
  							,'1'
  							,sysdate
  							,#{empNo}
  							)
  	</insert>
  </mapper>