<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.groo.bear.files.mapper.FilesMapper">
  	
  	<insert id="insert" parameterType="FilesVO">
  		insert into files (
  						    UUID
  						   ,UPLOAD_PATH
  						   ,FILE_NAME
  						   ,FILE_TYPE
  						   ,FILE_DATE
  						   ,${name}
  							)
  				VALUES 
  						  (
  						    #{uuid}
  						    ,#{uploadPath}
  						    ,#{fileName}
  						    ,#{fileType}
  						    ,sysdate
  						    ,#{no}
  						   )
  	</insert>
  	
  	<delete id="delete" parameterType="String">
  		delete from files where uuid = #{uuid}
  	</delete>
  	
  	<delete id="deleteAll">
  		delete from files where ${name} = #{no}
  	</delete>
  	
  	<select id="findByNo" resultType="FilesVO">
  		select * from files where ${name} = #{no}
  	</select>
  	
  	
  	<select id="getOldFiles" resultType="FilesVO">
  		select * from files where upload_path = to_char(sysdate -1 , 'yyyy/mm/dd')
  	</select>
  </mapper>