<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.payment.mapper.PaymentMapper">
	<!-- 결재자 리스트, 정보 -->
	<select id="payEmpList" resultType="EmpVO">
		SELECT * FROM users u, user_info i, departments d
		WHERE u.emp_no = i.emp_no 
		AND i.dept_no = d.dept_no
	</select>
	<!-- 기안자 정보 Id,name,rank,dept_name -->
	<select id="payEmpInfo" resultType="EmpVO">
		SELECT * FROM users u, user_info i, departments d
			WHERE  i.dept_no = d.dept_no
			AND u.emp_no = i.emp_no
			AND u.emp_no = (SELECT emp_no FROM         
				                (SELECT * FROM users
				                WHERE id = 'park')) 
	</select>
</mapper>