<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.pro.mapper.ProMapper">
	
	<!-- 프로젝트 생성 -->
	<select id="createPro" statementType="CALLABLE" parameterType="hashMap">
		{call cre_project(
				#{v_pro_name, 		  mode=IN, jdbcType=VARCHAR,  javaType=String},
				#{v_pro_content, 	  mode=IN, jdbcType=VARCHAR,  javaType=String},
				#{v_pro_def_tab,	  mode=IN, jdbcType=CHAR, 	   javaType=String},
				#{v_post_write_auth,  mode=IN, jdbcType=CHAR, 	   javaType=String},
				#{v_post_update_auth, mode=IN, jdbcType=CHAR, 	   javaType=String},
				#{v_post_view_auth,	  mode=IN, jdbcType=CHAR, 	   javaType=String},
				#{v_com_write_auth,	  mode=IN, jdbcType=CHAR, 	   javaType=String},
				#{v_file_auth, 		  mode=IN, jdbcType=CHAR, 	   javaType=String},
				#{v_id, 			  mode=IN, jdbcType=VARCHAR,   javaType=String}
			)
		}
	</select>
	
	<!-- 프로젝트 조회 -->
	<!-- 나중에 orderby 알림순 추가 -->
	<select id="readProject" resultType="ProVO">
		SELECT p.pro_name, m.pro_color, m.pro_star_check, m.pro_hide_check, m.pro_mem_no
		FROM pro p, pro_mem m
		WHERE p.id = #{id}
		AND p.pro_no = m.pro_no
	</select>
	
	<!-- 프로젝트 즐겨찾기 등록 -->
	<update id="updateStarY" parameterType="int">
		UPDATE pro_mem
		SET pro_star_check = 'Y'
		WHERE pro_mem_no = #{proMemNo}
	</update>
	
	<!-- 프로젝트 즐겨찾기 취소 -->
	<update id="updateStarN" parameterType="int">
		UPDATE pro_mem
		SET pro_star_check = 'N'
		WHERE pro_mem_no = #{proMemNo}
	</update>
	
</mapper>