<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.pro.mapper.ProPostTaskMapper">
	
	<!-- 프로젝트(업무) 업무 전체 조회 -->
	<select id="readTaskAllList" resultType="ProPostTaskVO">
		SELECT a.pro_no, a.pro_post_no, a.post_title, a.post_date, a.id, i.name,
		       b.work_no, b.work_status, b.work_pri,
		       b.work_start_day, b.work_start_time, b.work_end_day, b.work_end_time, b.work_update_day,
		       b.lr_work_seq, b.work_group_no, b.work_content
		FROM pro_post a
		JOIN pro_work b
		ON(a.pro_post_no = b.pro_post_no)
		JOIN users u
		ON(a.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		WHERE a.pro_no = #{proNo}
		AND a.post_type = 1
		ORDER BY a.pro_post_no
	</select>
	
	<!-- 프로젝트(업무) 업무 담당자 조회 -->
	<select id="readTaskWorkPerson" resultType="ProPostTaskWorkPersonVO">
		SELECT a.pro_post_no, b.work_no, b.work_group_no, c.id, i.name
		FROM pro_post a
		JOIN pro_work b
		ON(a.pro_post_no = b.pro_post_no)
		JOIN work_person c
		ON(b.work_no = c.work_no)
		JOIN users u
		ON(c.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		WHERE a.pro_no = #{proNo}
		ORDER BY work_no, name
	</select>
	
	<!-- 업무그룹 조회 -->
	<select id="readWorkGroup" resultType="ProPostTaskWorkGroupVO">
		SELECT work_group_no, work_group_name, work_group_seq
		FROM work_group
		WHERE pro_no = #{proNo}
		ORDER BY work_group_seq DESC
	</select>
	
	<!-- 업무단건 조회 -->
	<select id="readWorkDetail" resultType="ProPostTaskDetailVO">
		SELECT a.pro_post_no, a.post_title, a.post_date, a.id, i.name, u.profile_img,
		       b.work_no, b.work_status, b.work_pri,
		       b.work_start_day, b.work_start_time, b.work_end_day, b.work_end_time,
		       b.lr_work_seq, b.work_group_no, b.work_content, c.work_group_name
		FROM pro_post a
		JOIN pro_work b
		ON(a.pro_post_no = b.pro_post_no)
		JOIN users u
		ON(a.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		JOIN work_group c
		ON(b.work_group_no = c.work_group_no)
		WHERE a.pro_no = #{proNo}
		AND a.post_type = 1
		ORDER BY a.pro_post_no
	</select>

	<!-- 멤버별 업무 조회 설정 -->
	<select id="readWorkView" resultType="ProWorkViewVO">
		SELECT work_name, work_status, work_pri, work_manager,
			   work_start_day, work_end_day, work_date,
			   work_num, work_writer, work_update_day
		FROM pro_mem a
		JOIN pro b
		ON(a.pro_no = b.pro_no)
		WHERE b.pro_no = #{proNo}
		AND a.id = #{id}
		ORDER BY 1 DESC
	</select>
	
	<!-- 멤버별 업무 조회 변경 -->
	<update id="updateWorkView" parameterType="ProWorkViewVO">
		UPDATE pro_mem
		SET work_name = #{workName}, work_status = #{workStatus},
			work_pri = #{workPri}, work_manager = #{workManager},
		    work_start_day = #{workStartDay}, work_end_day = #{workEndDay}, work_date = #{workDate},
		    work_num = #{workNum}, work_writer = #{workWriter}, work_update_day = #{workUpdateDay}
		WHERE pro_mem_no = (SELECT b.pro_mem_no
                    FROM pro a JOIN
                    pro_mem b
                    ON(a.pro_no = b.pro_no)
                    WHERE a.pro_no = #{proNo}
                    AND b.id = #{id})
	</update>
	
	
	<delete id="deleteWorkPerson" parameterType="String">
		delete from work_person
		where id=#{id}
	</delete>
	
</mapper>