<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.pro.mapper.ProPostTaskMapper">
	
	<!-- 프로젝트(업무) 업무 전체 조회 -->
	<select id="readTaskAllList" resultType="ProPostTaskVO">
		SELECT a.pro_no, a.pro_post_no, a.post_title, a.post_date, a.id, i.name,
		       b.work_no, b.work_status, b.work_pri,
		       b.work_start_day, b.work_start_time, b.work_end_day, b.work_end_time, b.work_update_day,
		       b.lr_work_seq, b.work_group_no
		FROM pro_post a
		JOIN pro_work b
		ON(a.pro_post_no = b.pro_post_no)
		JOIN users u
		ON(a.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		WHERE a.pro_no = #{proNo}
		AND a.post_type = 1
	</select>
	
	<!-- 프로젝트(업무) 업무 담당자 조회 -->
	<select id="readTaskWorkPerson" resultType="ProPostTaskWorkPersonVO">
		SELECT a.pro_post_no, b.work_no, b.work_group_no, c.id, i.name
		FROM pro_post a
		JOIN pro_work b
		ON(a.pro_post_no = b.pro_post_no)
		JOIN work_person c
		ON(b.work_no = c.work_no)
		JOIN users u
		ON(c.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		WHERE a.pro_no = #{proNo}
		ORDER BY work_no, name
	</select>
	
	<!-- 업무그룹 조회 -->
	<select id="readWorkGroup" resultType="ProPostTaskWorkGroupVO">
		SELECT work_group_no, work_group_name, work_group_seq
		FROM work_group
		WHERE pro_no = #{proNo}
	</select>

	
</mapper>