<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groo.bear.pro.mapper.ProPostSchMapper">
	
	<!-- 프로젝트 일정 참여자 조회 -->
	<select id="readSchparti" resultType="ProPostSchVO">
		SELECT s.sch_no, s.pro_post_no, p.parti_check, p.id, i.name, u.profile_img
		FROM pro_sch s JOIN sch_parti p
		ON(s.sch_no = p.sch_no)
		JOIN users u
		ON(p.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		WHERE p.id = #{id}
		AND s.sch_no IN (SELECT sch_no
		                 FROM sch_parti
		                 WHERE id = #{id})
		AND s.personal_sch = 'N'
		ORDER BY 1 DESC
	</select>

	<!-- 참여여부 변경 -->
	<update id="updateSchPartiCheck" parameterType="ProPostSchVO">
		UPDATE sch_parti
		SET parti_check = #{partiCheck}
		WHERE sch_no = #{schNo}
		AND id = #{id}
	</update>
	
	<!-- 참석자 현황 -->
	<select id="readPartiList" resultType="ProPostSchVO">
		SELECT a.sch_no, a.parti_check, b.pro_post_no, i.name, a.id
		FROM sch_parti a JOIN pro_sch b
		ON(a.sch_no = b.sch_no)
		JOIN pro_post c
		ON(b.pro_post_no = c.pro_post_no)
		JOIN users u
		ON(a.id = u.id)
		JOIN user_info i
		ON(u.emp_no = i.emp_no)
		WHERE pro_no = #{proNo}
		ORDER BY sch_no, name
	</select>
	
</mapper>